<!DOCTYPE html>
<html lang="de" ng-app="tradity">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>tradity</title>
        <meta name="description" content="Social Trading renewed"> <!-- edit -->
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/ac.css">
        <link rel="stylesheet" href="css/introjs.css">
        <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/forms-min.css">
        <link rel="stylesheet" href="css/grids-min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="js/vendor/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="js/jqplot.highlighter.min.js"></script>
        <script type="text/javascript" src="js/jqplot.cursor.min.js"></script>
        <script type="text/javascript" src="js/jqplot.enhancedLegendRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.dateAxisRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasAxisTickRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="js/ac.js"></script>
        <script type="text/javascript" src="https://dev.tradity.de/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular-locale_de.js"></script>
        <script type="text/javascript" src="js/vendor/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/intro.js"></script>
        <script type="text/javascript" src="js/vagueTime.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.entless.org/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "3"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Piwik Code -->

    </head>
    <body ng-controller="MainCtrl">

    <div ng-controller="HerounitCtrl">
        <div id="hero-wrapper" ng-class="{'hide-herounit':ownUser}">
            <div class="herounit-spacer">
                <div id="herounit"> 
                    <img src="img/tradityLogo.png" class="logo">      
                    <p class="slogan">Sei Teil des ersten <b>Social Trading Börsenspiels</b> der Welt</p>
                    <div class="actions" ng-show="actions">
                        <a ng-click="showRegister()" id="register-btn" href="" class="btn register">Registrieren</a></br>
                        <span class="login">oder <a href="" id="login-btn" ng-click="showLogin()">Anmelden</a> </span>
                    </div>
                    <div class="login-form" ng-controller="LoginCtrl" ng-show="loginForm">
                        <form class="pure-form" ng-submit="login()">
                            <fieldset class="pure-group">
                                <input type="text" class="pure-input" ng-model="username" placeholder="Benutzername">
                                <input type="password" class="pure-input" ng-model="password" placeholder="Passwort">
                            </fieldset>

                            <button type="submit" id="options-sb" class="btn btn-small">Login</button> <a class="registerq" ng-click="showRegister()" href="">Noch nicht registriert ?</a>
                        </form>
                    </div>
                    <div class="register-form" ng-controller="RegistrationCtrl" ng-show="registerForm">
                        <a href="" id="fbregister"><i class="fa fa-facebook"></i> Mit Facebook registrieren</a>
                        <form class="pure-form pure-form-aligned" ng-submit="register()">
                            <fieldset>
                                <div class="pure-control-group">
                                    <label for="name">Benutzername</label>
                                    <input id="name" ng-model="name" type="text" placeholder="Benutzername">
                                </div>

                                <div class="pure-control-group">
                                    <label for="password">Passwort</label>
                                    <input id="password" ng-model="password" type="password" placeholder="Password">
                                </div>

                                <div class="pure-control-group">
                                    <label for="password-repeat">Passwort wiederholen</label>
                                    <input id="password-repeat" ng-model="password_check" type="password" placeholder="Password">
                                </div>

                                <div class="pure-control-group">
                                    <label for="email">Email Addresse</label>
                                    <input id="email" ng-model="email" type="email" placeholder="Email Addresse">
                                </div>

                           

                           

                            <!-- mhh mal gucken nicht so schön ...
                                <div class="pure-control-group">
                                    <label for="facebookid" class="pure-checkbox">Facebook ID</label>
                                    <input id="facebookid" ng-model="facebookid" disabled="disabled" type="text">
                                </div>
                                
                                <div class="pure-control-group">
                                    <label for="cb"><small><i>Finde und werde gefunden von deinen Facebook Freunden</i></small></label>
                                </div>
                            -->

                                <div class="pure-controls">
                                    <label for="cb" class="pure-checkbox">
                                        <input id="cb" ng-model="agbread" type="checkbox"> Ich habe die AGB gelsen
                                    </label>
                                </div>

                            </fieldset>
                            <button type="submit" class="btn btn-small">Registrieren</button><a href="" ng-click="showLogin()" id="gtlogin">Ich hab bereits ein Benutzer !</a>
                        </form>
                    </div>

                    <div class="showcase pure-g" ng-hide="registerForm || loginForm">
                        <div class="row pure-u-1-3" ng-click="showInfo1()">
                            <div class="header social">
                                <i class="fa fa-users"></i><br>
                                <h2>be Social</h2>
                            </div>
                        </div>
                        <div class="row pure-u-1-3" ng-click="showInfo2()">
                            <div class="header education blue">
                                <i class="fa fa-book"></i><br>
                                <h2>Bildung</h2>
                            </div>
                        </div>
                        <div class="row pure-u-1-3 last" ng-click="showInfo3()">
                            <div class="header social">
                                <i class="fa fa-comments"></i><br>
                                <h2>Blabla</h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer">
                        <div class="footer-right">
                            <img  src="img/android.png"><br>
                            Technische Probleme ? <a class="text-link" href="mailto:tech@tradity.de">tech@tradity.de</a><br>
                            Probleme ? <a class="text-link" href="mailto:team@tradity.de">team@tradity.de</a>
                            
                        </div>
                        <div class="left-footer">
                            <div class="social-links">
                                <a href="https://facebook.com/tradity.de" target="_blank" title="Facebook Seite"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://twitter.com/TradityDe" target="_blank" title="Folge uns auf Twitter !"><i class="fa fa-twitter-square"></i></a>
                                <a href="http://blog.tradity.de/" target="_blank" title="Lies unseren Blog"><i class="fa fa-pencil-square"></i></a>
                            </div>
                            <a class="presse" href="https://presse.tradity.de/"><i class="fa fa-quote-left"></i> Presse</a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="infounit">
                <div class="info-item">
                    <div class="header social">
                        <i class="fa fa-users"></i><br>
                        <h2>be Social</h2>
                    </div>
                    <div class="content">
                        <p>
                        Freilebende Gummibärchen gibt es nicht. Man kauft sie in Packungen an der Kinokasse. Dieser Kauf ist der Beginn einer fast erotischen und sehr ambivalenten Beziehung Gummibärchen-Mensch. Zuerst genießt man. Dieser Genuß umfaßt alle Sinne. Man wühlt in den Gummibärchen, man fühlt sie. Gummibärchen haben eine Konsistenz wie weichgekochter Radiergummi. Die Tastempfindung geht auch ins Sexuelle. Das bedeutet nicht unbedingt, daß das Verhältnis zum Gummibärchen ein geschlechtliches wäre, denn prinzipiell sind diese geschlechtsneutral. Nun sind Gummibärchen weder wabbelig noch zäh; sie stehen genau an der Grenze. Auch das macht sie spannend. Gummibärchen sind auf eine aufreizende Art weich. Und da sie weich sind, kann man sie auch ziehen.
                        </p><p>

                        Ich mache das sehr gerne. Ich sitze im dunklen Kino und ziehe meine Gummibärchen in die Länge, ganz ganz langsam. Man will sie nicht kaputtmachen, und dann siegt doch die Neugier, wieviel Zug so ein Bärchen aushält. (Vorstellbar sind u.a. Gummibärchen-Expander für Kinder und Genesende). Forscherdrang und gleichzeitig das Böse im Menschen erreichen den Climax, wenn sich die Mitte des gezerrten Bärchens von Millionen Mikrorissen weiß färbt und gleich darauf das zweigeteilte Stück auf die Finger zurückschnappt. Man hat ein Gefühl der Macht über das hilflose, nette Gummibärchen. Und wie man damit umgeht: Mensch erkenne dich selbst! Jetzt ist es so, daß Gummibärchen ja nicht gleich Gummibärchen ist.
                        </p><p>


                        Ich bevorzuge das klassische Gummibärchen, künstlich gefärbt und aromatisiert. Mag sein, daß es eine Sentimentalität ist. Jedenfalls halte ich nichts von neuartigen Alternativ-Gummibärchen ohne Farbstoff (»Mütter, mit viel Vitamin C«), und auch unter den konventionellen tummeln sich schwarze Schafe: die schwarzen Lakritz-Bärchen. Wenn ich mit Xao im Kino bin, red ich ihm so lange ein, daß das die besten sind, bis er sie alle ißt. Sie schmecken scheußlich und fühlen sich scheußlich an. Dagegen das schöne, herkömmliche Gummibärchen: allein wie es neonhaft vom Leinwandleuchten illuminiert, aber ganz ohne die Kühle der Reklameröhren! Die nächste prickelnde Unternehmung ist das Kauen des Gummibärchens.
                        </p>
                    </div>
                </div>
            </div>
            <div class="infounit blue">
                <div class="info-item">
                    <div class="header social">
                        <i class="fa fa-book"></i><br>
                        <h2>Bildung</h2>
                    </div>
                    <div class="content">
                        <p>
                        Freilebende Gummibärchen gibt es nicht. Man kauft sie in Packungen an der Kinokasse. Dieser Kauf ist der Beginn einer fast erotischen und sehr ambivalenten Beziehung Gummibärchen-Mensch. Zuerst genießt man. Dieser Genuß umfaßt alle Sinne. Man wühlt in den Gummibärchen, man fühlt sie. Gummibärchen haben eine Konsistenz wie weichgekochter Radiergummi. Die Tastempfindung geht auch ins Sexuelle. Das bedeutet nicht unbedingt, daß das Verhältnis zum Gummibärchen ein geschlechtliches wäre, denn prinzipiell sind diese geschlechtsneutral. Nun sind Gummibärchen weder wabbelig noch zäh; sie stehen genau an der Grenze. Auch das macht sie spannend. Gummibärchen sind auf eine aufreizende Art weich. Und da sie weich sind, kann man sie auch ziehen.
                        </p><p>

                        Ich mache das sehr gerne. Ich sitze im dunklen Kino und ziehe meine Gummibärchen in die Länge, ganz ganz langsam. Man will sie nicht kaputtmachen, und dann siegt doch die Neugier, wieviel Zug so ein Bärchen aushält. (Vorstellbar sind u.a. Gummibärchen-Expander für Kinder und Genesende). Forscherdrang und gleichzeitig das Böse im Menschen erreichen den Climax, wenn sich die Mitte des gezerrten Bärchens von Millionen Mikrorissen weiß färbt und gleich darauf das zweigeteilte Stück auf die Finger zurückschnappt. Man hat ein Gefühl der Macht über das hilflose, nette Gummibärchen. Und wie man damit umgeht: Mensch erkenne dich selbst! Jetzt ist es so, daß Gummibärchen ja nicht gleich Gummibärchen ist.
                        </p><p>


                        Ich bevorzuge das klassische Gummibärchen, künstlich gefärbt und aromatisiert. Mag sein, daß es eine Sentimentalität ist. Jedenfalls halte ich nichts von neuartigen Alternativ-Gummibärchen ohne Farbstoff (»Mütter, mit viel Vitamin C«), und auch unter den konventionellen tummeln sich schwarze Schafe: die schwarzen Lakritz-Bärchen. Wenn ich mit Xao im Kino bin, red ich ihm so lange ein, daß das die besten sind, bis er sie alle ißt. Sie schmecken scheußlich und fühlen sich scheußlich an. Dagegen das schöne, herkömmliche Gummibärchen: allein wie es neonhaft vom Leinwandleuchten illuminiert, aber ganz ohne die Kühle der Reklameröhren! Die nächste prickelnde Unternehmung ist das Kauen des Gummibärchens.
                        </p>
                    </div>
                </div>
            </div>
            <div class="infounit team">
                    <div class="header">
                        <i class="fa fa-rocket"></i><br>
                        <h2>Das Team</h2>
                    </div>
                    <div class="content">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <div class="team-item">
                                    <div class="pure-g">
                                        <div class="pure-u-1-3"><img src="img/team/bakhai.jpg"></div>
                                        <div class="pure-u-2-3">
                                            <h2>Ba Khai Tran</h2>
                                            <p>
                                                Faszination für die Welt der Wirtschaft, Finanzen und Börse und die Möglichkeiten, die diese Welt bietet, legten sich mir offen, als ich zum ersten Mal an einem Börsenspiel teilnahm.

                                                In den folgenden vier Jahren vertiefte ich mein Interesse – auch durch mehrmalig erfolgreiche Teilnahmen an diversen Börsenspielen in Deutschland. Heute bin ich davon überzeugt, dass jene Erfahrungen mein Leben nachhaltig beeinflusst haben. Ich will daher mein Bestes tun, um eine attraktive Gelegenheit zu schaffen, in welcher man die faszinierende Welt der Börse kennenlernen kann.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

            <div id="wrapper" class="clearfix">
                <header id="header" class="clearfix">
                    <div id="logo"><a class="block-link" style="width: 150px; height: 150px;" href="#"></a></div><h1 id="tradity"><a href="#">tradity</a></h1>
                    <div id="profile-own" class="profile">
                        <div class="name-container clearfix">
                            <a ng-href="#/user/{{ownUser.name}}" style="cursor: pointer"  accesskey="p" title="Hier gehts zu deinem Profil" class="block-link profile-link">
                                <h2 class="name">{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</h2>
                                <div class="depot">
                                    <h2 class="title">Konto</h2>
                                    <span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
                                </div>
                                <div class="depot">
                                    <h2 class="title">Gesamtvermögen</h2>
                                    <span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
                                </div>
                            </a>
                        </div>
                        <img id="profile-picture" class="profile-box" ng-src="{{ownUser.profilepic}}" alt="Profilbild">
                        <div id="bio" class="profile-box">
                            <h3 class="title">Kurzbeschreibung<br /></h3>
                            {{ownUser.desc}}
                        </div>
                        <div id="placement" class="profile-box">
                            <h3 class="title">Rang<br /></h3>
                            <span class="placement-number">{{ownUser.rank}}</span>
                        </div>
                        <ul id="buttons" class="profile-box">
                            <li>
                                <a class="batch font-20" style="cursor: pointer" ng-click="logout()" title="Logout">&#xF02B;</a>
                            </li>
                        </ul>
                    </div>
                </header>
                <nav id="nav" data-step="100" data-position="right" data-intro="Finde mehr heraus indem du Dich durch die Navigation klickst.">
                    <ul>
                        <li>
                            <a href="#/" accesskey="f" title="ALT+SHIFT+F">
                                <span ng-class="{active:isActive('/')}" class="batch nav-block-symbol">&#xF003;</span>
                                <span class="dark nav-block-title">Neuigkeiten</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/depot" accesskey="d" title="ALT+SHIFT+D">
                                <span ng-class="{active:isActive('/depot')}" class="batch nav-block-symbol">&#xF034;</span>
                                <span class="dark nav-block-title">Mein Depot</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/trade" accesskey="t" title="ALT+SHIFT+T">
                                <span ng-class="{active:isActive('/trade')}" class="batch nav-block-symbol">&#xF153;</span>
                                <span class="dark nav-block-title">Trade</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/ranking" accesskey="r" title="ALT+SHIFT+R">
                                <span ng-class="{active:isActive('/ranking')}" class="batch nav-block-symbol">&#xF160;</span>
                                <span class="dark nav-block-title">Rangliste</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/options"  accesskey="o" title="ALT+SHIFT+O">
                                <span ng-class="{active:isActive('/options')}" class="batch nav-block-symbol">&#xF138;</span>
                                <span class="dark nav-block-title">Einstellungen</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/faq"  accesskey="h" title="ALT+SHIFT+H">
                                <span ng-class="{active:isActive('/faq')}" class="batch nav-block-symbol">&#xF0D4;</span>
                                <span class="dark nav-block-title">Häufige Fragen</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <div ng-view></div>
                <footer id="footer">
                    <ul id="social-links" class="profile-box">
                        <li>
                            <a class="transparent-30 social-link twitter" target="_blank" href="https://twitter.com/tradityde"><img src="img/glyphicons/glyphicons_social_31_twitter.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link facebook" target="_blank" href="https://facebook.com/tradityde"><img src="img/glyphicons/glyphicons_social_30_facebook.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link google" target="_blank" href="http://blog.tradity.de"><img src="img/glyphicons/glyphicons_social_09_wordpress.png"></a>
                        </li>
                    </ul>
                    <a class="text-link footer-text" href="#/gettingstarted">Getting Started</a> 
                    <a class="text-link footer-text" href="https://presse.tradity.de">Presse</a>
                    <a class="text-link footer-text" href="#/about">Über uns</a> 
                    <a class="text-link footer-text" href="#/tos">Allgemeine Geschäftsbedingungen</a>
                    <a class="text-link footer-text" href="#/imprint">Impressum</a> 
                    <span class="footer-text">tradity, 2014</span>
                </footer>
            </div>

        </div>

    </body>
</html>
