<!DOCTYPE html>
<html lang="de" ng-app="tradity">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>tradity</title>
        <meta name="description" content="Social Trading renewed"> <!-- edit -->
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/ac.css">
        <link rel="stylesheet" href="css/introjs.css">
        <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/forms-min.css">
        <link rel="stylesheet" href="css/grids-min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="js/vendor/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="js/jqplot.highlighter.min.js"></script>
        <script type="text/javascript" src="js/jqplot.cursor.min.js"></script>
        <script type="text/javascript" src="js/jqplot.enhancedLegendRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.dateAxisRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasAxisTickRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="js/ac.js"></script>
        <script type="text/javascript" src="https://dev.tradity.de/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular-locale_de.js"></script>
        <script type="text/javascript" src="js/vendor/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/intro.js"></script>
        <script type="text/javascript" src="js/vagueTime.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.entless.org/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "3"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Piwik Code -->

    </head>
    <body ng-controller="MainCtrl">

    <div ng-controller="HerounitCtrl">
        <div id="hero-wrapper" ng-class="{'hide-herounit':ownUser}">
            <div class="herounit-spacer">
                <div id="herounit"> 
                    <img src="img/logo.png" class="logo">      
                    <p class="slogan">Sei Teil des ersten <b>Social Trading Börsenspiels</b> der Welt</p>
                    <div class="actions" ng-show="actions">
                        <a ng-click="showRegister()" id="register-btn" href="" class="btn register">Registrieren</a></br>
                        <span class="login">oder <a href="" id="login-btn" ng-click="showLogin()">Anmelden</a> </span>
                    </div>
                    <div class="login-form" ng-controller="LoginCtrl" ng-show="loginForm">
                        <form class="pure-form" ng-submit="login()">
                            <fieldset class="pure-group">
                                <input type="text" class="pure-input" ng-model="username" placeholder="Benutzername">
                                <input type="password" class="pure-input" ng-model="password" placeholder="Passwort">
                            </fieldset>
                            <input type="checkbox" ng-model="stayloggedin" id="stayloggedin" style="display:inline-block;margin-bottom:5px;"> Eingelogt bleiben ?<br><br>

                            <button type="submit" class="btn btn-small">Login</button> <a class="registerq" ng-click="showRegister()" href="">Noch nicht registriert ?</a>
                        </form>
                    </div>
                    <div class="register-form" ng-controller="RegistrationCtrl" ng-show="registerForm">
                        <a href="" id="fbregister"><i class="fa fa-facebook"></i> Mit Facebook registrieren</a>
                        <form class="pure-form pure-form-aligned" ng-submit="register()">
                            <fieldset>
                                <div class="pure-control-group">
                                    <label for="name">Benutzername</label>
                                    <input id="name" ng-model="name" type="text" placeholder="Benutzername">
                                </div>

                                <div class="pure-control-group">
                                    <label for="password">Passwort</label>
                                    <input id="password" ng-model="password" type="password" placeholder="Password">
                                </div>

                                <div class="pure-control-group">
                                    <label for="password-repeat">Passwort wiederholen</label>
                                    <input id="password-repeat" ng-model="password_check" type="password" placeholder="Password">
                                </div>

                                <div class="pure-control-group">
                                    <label for="email">Email Addresse</label>
                                    <input id="email" ng-model="email" type="email" placeholder="Email Addresse">
                                </div>

                                <div class="pure-controls">
                                    <label for="cb" class="pure-checkbox">
                                        <input id="cb" ng-model="agbread" type="checkbox"> Ich habe die AGB gelsen
                                    </label>
                                </div>

                            </fieldset>
                            <button type="submit" class="btn btn-small">Registrieren</button><a href="" ng-click="showLogin()" id="gtlogin">Ich hab bereits ein Benutzer !</a>
                        </form>
                    </div>

                    <div class="showcase pure-g" ng-hide="registerForm || loginForm">
                        <div class="row pure-u-1-3" ng-click="goto('info1')">
                            <div class="header social">
                                <i class="fa fa-users"></i><br>
                                <h2>Börsenspiel</h2>
                            </div>
                        </div>
                        <div class="row pure-u-1-3" ng-click="goto('info2')">
                            <div class="header education blue">
                                <i class="fa fa-book"></i><br>
                                <h2>Social</h2>
                            </div>
                        </div>
                        <div class="row pure-u-1-3 last" ng-click="goto('info3')">
                            <div class="header social">
                                <i class="fa fa-comments"></i><br>
                                <h2>Learning</h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer">
                        <div class="footer-right">
                            <img  src="img/android.png"><br>
                            Technische Probleme ? <a class="text-link" href="mailto:tech@tradity.de">tech@tradity.de</a><br>
                            Probleme ? <a class="text-link" href="mailto:team@tradity.de">team@tradity.de</a>
                            
                        </div>
                        <div class="left-footer">
                            <div class="social-links">
                                <a href="https://facebook.com/tradity.de" target="_blank" title="Facebook Seite"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://twitter.com/TradityDe" target="_blank" title="Folge uns auf Twitter !"><i class="fa fa-twitter-square"></i></a>
                                <a href="http://blog.tradity.de/" target="_blank" title="Lies unseren Blog"><i class="fa fa-pencil-square"></i></a>
                            </div>
                            <a class="footer-link" href="https://presse.tradity.de/"><i class="fa fa-quote-left"></i> Presse</a>
                            <a class="footer-link" ng-click="goto('teampage')" href=""><i class="fa fa-rocket"></i> Das Team</a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="infounit first" id="info1">
                <div class="info-item">
                    <div class="header social">
                        <i class="fa fa-users"></i><br>
                        <h2>Das Börsenspiel</h2>
                    </div>
                    <div class="content">
                        <p>
                        Beim Börsenspiel Tradity bist Du gefragt Dein virtuelles Startkapital von 100.000 Euro möglichst vielversprechend in Wertpapiere zu investieren. Dabei stehen Dir sämtliche handelbaren Wertpapiere der Börse Frankfurt zur Verfügung – und das in Echzeit! </p><p>
                        Dein Ziel? Die besten Aktien für eine nachhaltige Entwicklung auszuwählen und zu handeln. So bekommst Du die Möglichkeit, ohne Risiko erste Erfahrungen mit dem Thema Finanzen und Börse zu machen und außerdem einen von vielen attraktiven Preisen zu gewinnen. </p><p>
                        Sei dabei, wenn Tradity im Mai 2014 in die zweite Staffel geht!</p>
                    </div>
                </div>
            </div>
            <div class="infounit blue" id="info2">
                <div class="info-item">
                    <div class="header social">
                        <i class="fa fa-book"></i><br>
                        <h2>Social</h2>
                    </div>
                    <div class="content">
                        <p>
                        Tradity ist kein gewöhnliches Börsenspiel. Interaktiver Austausch, integrierter Feed und transparente Ranglisten ermöglichen es Dir, Dich direkt mit Deinen Freunden zu vergleichen, die besten Trader zu finden und von Ihnen und der Community zu lernen. </p><p>
                        Darüber hinaus kannst Du Dein Kapital nicht nur in erfolgsträchtige Wertpapiere investieren, sondern ebenso auch in fähige Teilnehmer. Dabei vertraust Du anderen Teilnehmern Deiner Wahl (sogenannten Leadern) einen beliebigen Teil Deines Vermögens an, von dessen Gewinnen im Erfolgsfall ein Teil an Deinen Leader abfällt – aber nur von Deinen Gewinnen. Im Verlustfall geht Ihr beide leer aus. </p><p>
                        Du willst selber Leader werden und das Kapital anderer Trader verwalten? Dann zeige der Community Deine Fähigkeiten! 

                        </p>
                    </div>
                </div>
            </div>
            <div class="infounit" id="info3">
                <div class="info-item">
                    <div class="header">
                        <i class="fa fa-comments"></i><br>
                        <h2>Learning</h2>
                    </div>
                    <div class="content">
                        <p>
                        Das Ziel Traditys ist es, Schülern und Studenten grundlegende Zusammenhänge der Finanzmärkte und Wirtschaft aufzuzeigen und sie in Ihrer Eigenständigkeit zu fördern, Entscheidungen hinsichtlich Ihrer zukünftigen Anlagemöglichkeiten zu fällen. </p><p>
                        Tradity strebt daher danach, den Teilnehmern umfangreiche und nachhaltigkeitsorientieren Ansätze in der Bildung zu bieten. Dazu gehört vor allem ein börsenspielbegleitendes und mit renommierten Börsenexperten erstelltes Lernangebot, welches verschiedene Ausrichtungsmöglichkeiten für den Wirtschafts- und Politikunterricht an Schulen bietet. </p><p>
                        Ebenso möchten wir über vertiefte Kooperation mit Schulen und regionalen Institutionen eine Brücke zwischen dem Börsenspiel und der Schule schaffen, welche finanzielle Bildung in Schulen verstärkt thematisiert.
</p>
                    </div>
                </div>
            </div>
            <div class="infounit team blue" id="teampage">
                    <div class="header">
                        <i class="fa fa-rocket"></i><br>
                        <h2>Das Team</h2>
                    </div>
                    <div class="content">
                        <div class="pure-g-r team-row">
                            <div class="pure-u-1-2">
                                <div class="team-item left">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/bakhai.jpg">
                                            <div class="meta">
                                                <b>Business Development</b></br>
                                                <b>Alter:</b> 19<br>
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Ba Khai Tran</h2>
                                                <p>
                                                    Faszination für die Welt der Wirtschaft, Finanzen und Börse und die Möglichkeiten, die diese Welt bietet, legten sich mir offen, als ich zum ersten Mal an einem Börsenspiel teilnahm.

                                                    In den folgenden vier Jahren vertiefte ich mein Interesse – auch durch mehrmalig erfolgreiche Teilnahmen an diversen Börsenspielen in Deutschland. Heute bin ich davon überzeugt, dass jene Erfahrungen mein Leben nachhaltig beeinflusst haben. Ich will daher mein Bestes tun, um eine attraktive Gelegenheit zu schaffen, in welcher man die faszinierende Welt der Börse kennenlernen kann.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pure-u-1-2">
                                <div class="team-item">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/moritz.jpg">
                                            <div class="meta"> 
                                                <b>Head of Finance</b></br>
                                                <b>Alter: </b>18<br/>
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Moritz Funk</h2>
                                                <p>
                                                    Anderen Menschen zu helfen und sie in ihrer Eigenständigkeit zu stärken ist ein Lebensinhalt von mir. Deswegen engagiere ich mich ehrenamtlich als Jugendsprecher im Sport, und bin im Vorstand des städtischen Kinder- und Jugendbeirates. Das sich auch Jugendliche für Wirtschaft und Finanzen interessieren finde ich wichtig, denn nur so kann man seine Wünsche realisieren und ein unabhängiges Leben führen. Ich würde mich freuen, wenn sich gerade Jugendliche mehr für Finanzen und Wirtschaft interessieren, vor allem damit Träume und Wünsche nicht später genau an diesen scheitern.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-g-r team-row">
                            <div class="pure-u-1-2">
                                <div class="team-item left">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/noah.jpg">
                                            <div class="meta"> 
                                                <b>Head of Marketing </b><br/>
                                                <b>Alter: </b>19<br/>
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Noah Leonavicius</h2>
                                                <p>
                                                    Mit Musik und Kunst bin ich aufgewachsen. Daher bin ich gefragt, wenn es bei „Tradity“ um kreative Lösungen geht. Ich genieße privaten Kunstunterricht bei einer regionalen Künstlerin und spiele 3 Instrumente seit meiner Kindheit. Zudem bin ich der Bandleader eines Jazzquartetts namens „Utopian“.

                                                    „Tradity“ eröffnet mir die Chance, Menschen mit kreativen Einfällen zu überzeugen; eine Chance, die mir sehr viel bedeutet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pure-u-1-2">
                                <div class="team-item">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/nico.jpg">
                                            <div class="meta"> 
                                                <b>Frontend Engineer</b><br/>
                                                <b>Alter: </b> 21
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Nico Haesler</h2>
                                                <p>
                                                    Jeden Tag neue Herausforderungen zu haben, ist der Grund, warum ich mich schon früh für’s Programmieren begeistern konnte. Kein Wunder also, dass ich seit meiner ersten Teilnahme an einem Börsenspiel mein Eigenes programmieren wollte. Denn „Tradity“ erlaubt es mir, das frühe Interesse an Finanzmärkten mit meiner Begeisterung für Startups und Softwareentwicklung zu verbinden. Derzeit studiere ich Informatik an der CAU Kiel.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-g-r team-row">
                            <div class="pure-u-1-2">
                                <div class="team-item left">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/barne.jpg">
                                            <div class="meta"> 
                                                <b>Frontend Engineer/Designer</b><br/>
                                                <b>Alter: </b>18
                                                
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Barne Jürgensen</h2>
                                                <p>
                                                    Schon sehr früh hab ich erkannt das ich etwas im Web-Bereich machen will. Irgendetwas mit erschaffen hat mich schon immer gereizt und mit Tradity hab ich nun endlich die Möglichkeit. Also lets do this - lass uns das beste Tradingspiel erstellen !
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pure-u-1-2">
                                <div class="team-item">
                                    <div class="pure-g">
                                        <div class="pure-u-1-5">
                                            <img src="img/team/hauke.jpg">
                                            <div class="meta"> 
                                                <b>Backend Engineer</b>
                                                <b>Alter: </b>21<br/>
                                            </div>
                                        </div>
                                        <div class="pure-u-4-5">
                                            <div class="triangle"></div>
                                            <div class="content">
                                                <h2>Hauke Henningsen</h2>
                                                <p>
                                                    Ich bin wahrscheinlich der Richtige, um sich zu beschweren, wenn einem die Website zu langsam lädt oder man über Nacht durch einen Programmfehler im Spiel sein halbes Vermögen verliert. Ansonsten hoffe ich natürlich auf zahlreiche Zusendungen von Schokoladentafeln durch begeisterte Spieler!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

            <div id="wrapper" class="clearfix">
                <header id="header" class="clearfix">
                    <div id="logo"><a class="block-link" style="width: 150px; height: 150px;" href="#"></a></div><h1 id="tradity"><a href="#">tradity</a></h1>
                    <div id="profile-own" class="profile">
                        <div class="name-container clearfix">
                            <a ng-href="#/user/{{ownUser.name}}" style="cursor: pointer"  accesskey="p" title="Hier gehts zu deinem Profil" class="block-link profile-link">
                                <h2 class="name">{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</h2>
                                <div class="depot">
                                    <h2 class="title">Konto</h2>
                                    <span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
                                </div>
                                <div class="depot">
                                    <h2 class="title">Gesamtvermögen</h2>
                                    <span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
                                </div>
                            </a>
                        </div>
                        <img id="profile-picture" class="profile-box" ng-src="{{ownUser.profilepic}}" alt="Profilbild">
                        <div id="bio" class="profile-box">
                            <h3 class="title">Kurzbeschreibung<br /></h3>
                            {{ownUser.desc}}
                        </div>
                        <div id="placement" class="profile-box">
                            <h3 class="title">Rang<br /></h3>
                            <span class="placement-number">{{ownUser.rank}}</span>
                        </div>
                        <ul id="buttons" class="profile-box">
                            <li>
                                <a class="batch font-20" style="cursor: pointer" ng-click="logout()" title="Logout">&#xF02B;</a>
                            </li>
                        </ul>
                    </div>
                </header>
                <nav id="nav" data-step="100" data-position="right" data-intro="Finde mehr heraus indem du Dich durch die Navigation klickst.">
                    <ul>
                        <li>
                            <a href="#/" accesskey="f" title="ALT+SHIFT+F">
                                <span ng-class="{active:isActive('/')}" class="batch nav-block-symbol">&#xF003;</span>
                                <span class="dark nav-block-title">Neuigkeiten</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/depot" accesskey="d" title="ALT+SHIFT+D">
                                <span ng-class="{active:isActive('/depot')}" class="batch nav-block-symbol">&#xF034;</span>
                                <span class="dark nav-block-title">Mein Depot</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/trade" accesskey="t" title="ALT+SHIFT+T">
                                <span ng-class="{active:isActive('/trade')}" class="batch nav-block-symbol">&#xF153;</span>
                                <span class="dark nav-block-title">Trade</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/ranking" accesskey="r" title="ALT+SHIFT+R">
                                <span ng-class="{active:isActive('/ranking')}" class="batch nav-block-symbol">&#xF160;</span>
                                <span class="dark nav-block-title">Rangliste</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/options"  accesskey="o" title="ALT+SHIFT+O">
                                <span ng-class="{active:isActive('/options')}" class="batch nav-block-symbol">&#xF138;</span>
                                <span class="dark nav-block-title">Einstellungen</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/faq"  accesskey="h" title="ALT+SHIFT+H">
                                <span ng-class="{active:isActive('/faq')}" class="batch nav-block-symbol">&#xF0D4;</span>
                                <span class="dark nav-block-title">Häufige Fragen</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <div ng-view></div>
                <footer id="footer">
                    <ul id="social-links" class="profile-box">
                        <li>
                            <a class="transparent-30 social-link twitter" target="_blank" href="https://twitter.com/tradityde"><img src="img/glyphicons/glyphicons_social_31_twitter.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link facebook" target="_blank" href="https://facebook.com/tradityde"><img src="img/glyphicons/glyphicons_social_30_facebook.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link google" target="_blank" href="http://blog.tradity.de"><img src="img/glyphicons/glyphicons_social_09_wordpress.png"></a>
                        </li>
                    </ul>
                    <a class="text-link footer-text" href="#/gettingstarted">Getting Started</a> 
                    <a class="text-link footer-text" href="https://presse.tradity.de">Presse</a>
                    <a class="text-link footer-text" href="#/about">Über uns</a> 
                    <a class="text-link footer-text" href="#/tos">Allgemeine Geschäftsbedingungen</a>
                    <a class="text-link footer-text" href="#/imprint">Impressum</a> 
                    <span class="footer-text">tradity, 2014</span>
                </footer>
            </div>

        </div>

    </body>
</html>
