@media all and (min-width:480px){

    /* ==========================================================================
        User Styles - Main
       ========================================================================== */
    html {
        overflow-y:scroll;
    }

    body,html {
        height: 100%;
    }

    body {
        font-family: Arial;
        background: #f0f0f0;
    }

    .wrapper {
        width: 960px;
        margin: 0px auto;
        background: #fff;
        padding-top: 50px;
        
        min-height: 100%;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

        border: 1px solid rgba(20,20,20,0.3);
    }

    a:hover {
        text-decoration: none;
    }

    .main-content {
        padding: 10px;
        padding-bottom: 50px;
    }

    .mobile-only {
        display: none;
    }

    .padding-left { padding-left: 10px; }
    .padding-top { padding-top: 10px; }

    /* ==========================================================================
       Feed
       ========================================================================== */

    .feed-item:hover .actions{
        display: inline;
    }

    .feed-item.feed-important-item .feed-entry-symbol {
        background-color: #e74c3c;
    }

    /* ==========================================================================
        herounit
    ========================================================================== */

    #hero-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
    }

    #herounit {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -274px;
        margin-left: -301px;
        width: 600px;

        background: #fff;
        border: 1px solid;
        border-color: #d6d7da #d5d8dd #c7c8ca;

        -webkit-border-radius: 3px;
        -webkit-box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
        box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
    }

    #herounit .logo {
        display: block;
        width: 400px;
        margin: 0px auto;
        padding: 15px;
        padding-top: 25px;
    }

    #herounit .footer {
        position: absolute;
        padding: 5px 0px;
        width: 600px;
    }

    #herounit .footer .footer-right {
        float: right;
        text-align: right;
    }

    /* ==========================================================================
       Navigation
       ========================================================================== */

    nav#nav {

    }

    nav#nav ul, nav#nav li  {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    nav#nav li:first-child a {
        margin-top: 20px;
    }


    nav#nav a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin: 50px 0px;
        color: #444;

    }

    nav#nav a .fa {
        font-size: 40px;
        display: block;
        color: #444;
    }

    nav#nav a:hover, nav#nav a.active, nav#nav a.active .fa, nav#nav a:hover .fa {
        color: #2b3990;
    }

     /* ==========================================================================
        Header
       ========================================================================== */
       

    header#header .inner {
        width: 960px;
        margin: 0px auto;
        height: 50px;
    }

    .infounit .info-item {
        width: 600px;
        margin: auto;
    }



    /* ==========================================================================
       Trade
       ========================================================================== */

    #trade .btn-group .btn {
        width: 100px;
    }

    #trade .chose-paper {
        min-height: 175px;
    }

    /* ==========================================================================
       Tabbing
       ========================================================================== */

    #tabs ul {
        height: 40px;
        border:1px solid #E5E5E5;
        height: 37px;
    }

    #tabs ul, #tabs li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        font-size: 15px;
    }

    #tabs ul li {
        float: left;
    }

    #tabs ul a {
        display: block;
        padding: 8px 10px;
        border-right:1px solid #E5E5E5;
    }

    #tabs ul a.active, #tabs ul a:hover  {
        background: #E5E5E5;
        color: #000;
    }

    /* ==========================================================================
       Profile
    ========================================================================== */

    #header #profile-picture {
        float: right;
    }

    .profile .user-stats h3 {
        margin: 5px 0px;
    }

    /* ==========================================================================
       Ranking
       ========================================================================== */

    .ranking .pure-form {
        margin: 15px 0px;
    }

    .ranking .pure-form input {
        height: 30px;
    }

    #options .pure-g {
        letter-spacing: 1px;
    }

    #trade .info {
        padding-left: 15px;
    }

    /* ==========================================================================
        Group Page
    ========================================================================== */

    #schools .conti .inner {
        padding: 10px;
    }

    #schools .widgets {
        padding-top: 10px;
    }


    /* ==========================================================================
        angulars-classes
       ========================================================================== */

    .ng-valid {
        outline-color: #0f0;
    }
    .ng-invalid {
        outline-color: #f00;
    }

    /* ==========================================================================
       Media Queries
       ========================================================================== */
    @media only screen and (max-height: 620px) {
        #herounit {
            position: relative;
            top: 0px;
            margin-top: 0px!important;
            margin-bottom: 130px;
            height: inherit;
        }
    }

    @media only screen and (min-width: 960px) {

        div.fixed-name-container {
            border-bottom: thin solid #a7a7a7;
            padding: 15px 0px;
            position: fixed;
            top: 0px;
            width: 750px;
            background-color: #fff;
            display: none;
            z-index: 3;
            margin: 0px;
            filter:alpha(opacity=90);
            -moz-opacity: 0.9;
            opacity: 0.9;
        }
        
        h1#tradity {
            position: fixed;

        }
    }

    @media (max-width: 960px) {
        /* das team */
        .infounit.team > .content{
            width: 100%;
            margin-top: 20px;
            margin: 0px;
        }
    }

    @media only screen and (min-width:321px) and (max-width:768px) { /* tablet */

        .herounitFix #wrapper {
            display: none;
        }

        #wrapper {
            box-shadow: none;
        }

        body {
            background: #fff;
        }
    }



    @media print,
           (-o-min-device-pixel-ratio: 5/4),
           (-webkit-min-device-pixel-ratio: 1.25),
           (min-resolution: 120dpi) {

    }
}