@media all and (min-width:480px){

    /* ==========================================================================
        User Styles - Main
       ========================================================================== */
    html {
        overflow-y:scroll;
    }

    body,html {
        height: 100%;
    }

    body {
        font-family: Arial;
        background: #f0f0f0;
    }

    .wrapper {
        width: 960px;
        margin: 0px auto;
        background: #fff;
        padding-top: 50px;
        
        min-height: 100%;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

        border: 1px solid rgba(20,20,20,0.3);
    }

    a:hover {
        text-decoration: none;
    }

    .main-content {
        padding: 10px;
        padding-bottom: 50px;
    }

    .mobile-only {
        display: none!important;
    }

    .padding-left { padding-left: 10px; }
    .padding-top { padding-top: 10px; }

    /* ==========================================================================
       Feed
       ========================================================================== */

    .feed-item:hover .actions{
        display: inline;
    }

    .feed-item.feed-important-item .feed-entry-symbol {
        background-color: #e74c3c;
    }

    /* ==========================================================================
        herounit
    ========================================================================== */

    #hero-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
    }

    #herounit {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -274px;
        margin-left: -301px;
        width: 600px;

        background: #fff;
        border: 1px solid;
        border-color: #d6d7da #d5d8dd #c7c8ca;

        -webkit-border-radius: 3px;
        -webkit-box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
        box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
    }

    #herounit .logo {
        display: block;
        width: 400px;
        margin: 0px auto;
        padding: 15px;
        padding-top: 25px;
    }

    #herounit .footer {
        position: absolute;
        padding: 5px 0px;
        width: 600px;
    }

    #herounit .footer .footer-right {
        float: right;
        text-align: right;
    }

    /* Showcase */

    #herounit .showcase {
        text-align: left;
    }

    #herounit .row {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        cursor: pointer;

        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        border-right: 1px solid #fff;
    }

    #herounit .row.last {
        border-right: none;
    }

    #herounit .showcase .header .fa {
        font-size: 40px;
        background: #fff;
        -webkit-border-radius: 80px;
        border-radius: 80px;
        padding: 15px;
        -webkit-box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.2);
        box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.2);
        color: #333;
        margin-bottom: 10px;
        text-shadow: none;
    }

    #herounit .showcase .header {
        text-align: center;
        background: #ff7b4b; /* Old browsers */
        background: -moz-linear-gradient(top,  #ff7b4b 8%, #ff6d38 73%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ff7b4b), color-stop(73%,#ff6d38)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* IE10+ */
        background: linear-gradient(to bottom,  #ff7b4b 8%,#ff6d38 73%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b4b', endColorstr='#ff6d38',GradientType=0 ); /* IE6-9 */
        padding: 15px;
    }

    #herounit .showcase .blue {
        background: #438ebb; /* Old browsers */
        background: -moz-linear-gradient(top,  #438ebb 8%, #1b80ba 73%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#438ebb), color-stop(73%,#1b80ba)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* IE10+ */
        background: linear-gradient(to bottom,  #438ebb 8%,#1b80ba 73%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438ebb', endColorstr='#1b80ba',GradientType=0 ); /* IE6-9 */
    }

    #herounit .showcase h2 {
        color: #fff;
        text-shadow: 1px 1px 0 #333;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
    }

    #herounit .showcase p {
        margin: 0px;
        font-size: 14px;
    }

    /* info unit */

    .infounit {
        min-height: 100%;
        width: 100%;
        background-color:#ecf0f1;
        padding: 50px 0px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */


        background: #ff7b4b; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #ff7b4b 8%, #ff6d38 73%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(8%,#ff7b4b), color-stop(73%,#ff6d38)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #ff7b4b 8%,#ff6d38 73%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b4b', endColorstr='#ff6d38',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    .infounit.first {
        box-sizing: border-box;         /* Opera/IE 8+ */
        -webkit-box-shadow:inset 0 5px 5px 0 rgba(40,40,40,0.2);
        box-shadow:inset 0 5px 5px 0 rgba(40,40,40,0.2);
    }

    .infounit.blue {
        background: #438ebb; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #438ebb 0%, #408dbb 13%, #1b80ba 72%, #1b80ba 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#438ebb), color-stop(13%,#408dbb), color-stop(72%,#1b80ba), color-stop(100%,#1b80ba)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438ebb', endColorstr='#1b80ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .infounit .header {
        text-align: center;
        color: #fff;
    }

    .infounit .header .fa {
        font-size: 70px;
        background: #fff;
        -webkit-border-radius: 80px;
        border-radius: 80px;
        padding: 25px;
        -webkit-box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.4);
        box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.4);
        color: #333;
        margin-bottom: 10px;
        text-shadow: none;
    }

    .infounit .header h2 {
        margin-top: 0px;
        text-shadow: 1px 1px 0 #333;
        margin-bottom: 50px;
    }

    .infounit .content {
        font-size: 14px;
        color: #fff;
        text-shadow: 1px 1px 0 #444;
        text-align: justify;
    }

    .herounit-spacer {
        width: 100%;
        min-height: 100%;
    }

    /* das team */

    .infounit.team > .content{
        text-align: center;
        width: 900px;
        margin: auto;
        margin-top: 50px;
    }

    .infounit.team .team-item {
        display: inline-block;
        width: 200px;
        margin-bottom: 70px;
        margin-right: 35px;
        margin-left: 35px;
    }

    .infounit.team img.team-pic {
        -webkit-border-radius: 250px;
        border-radius: 250px;
        width: 100%;
        -webkit-box-shadow: 0 0 10px 0 rgba(20,20,20,0.4);
        box-shadow: 0 0 10px 0 rgba(20,20,20,0.4);
    }

    .infounit.team h2, .infounit.team  p {
        margin: 0px;
    }

    .infounit.team h2 {
        text-align: center;
        padding: 10px 0px;
    }

    .infounit.team .team-item .content {
        padding: 0px 10px;
        text-align: center;
    }

    /* ==========================================================================
       Navigation
       ========================================================================== */

    nav#nav {

    }

    nav#nav ul, nav#nav li  {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    nav#nav li:first-child a {
        margin-top: 20px;
    }


    nav#nav a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin: 50px 0px;
        color: #444;

    }

    nav#nav a .fa {
        font-size: 40px;
        display: block;
        color: #444;
    }

    nav#nav a:hover, nav#nav a.active, nav#nav a.active .fa, nav#nav a:hover .fa {
        color: #2b3990;
    }

     /* ==========================================================================
        Header
       ========================================================================== */
       

    header#header .inner {
        width: 960px;
        margin: 0px auto;
        height: 50px;
    }

    .infounit .info-item {
        width: 600px;
        margin: auto;
    }



    /* ==========================================================================
       Trade
       ========================================================================== */

    #trade .btn-group .btn {
        width: 100px;
    }

    #trade .chose-paper {
        min-height: 175px;
    }

    /* ==========================================================================
       Tabbing
       ========================================================================== */

    #tabs > ul {
        height: 40px;
        border:1px solid #E5E5E5;
        height: 37px;
    }

    #tabs > ul, #tabs > ul li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        font-size: 15px;
    }

    #tabs > ul li {
        float: left;
    }

    #tabs > ul a {
        display: block;
        padding: 8px 10px;
        border-right:1px solid #E5E5E5;
    }

    #tabs > ul a.active, #tabs > ul a:hover  {
        background: #E5E5E5;
        color: #000;
    }

    /* ==========================================================================
       Profile
    ========================================================================== */

    #header #profile-picture {
        float: right;
    }

    .profile .user-stats h3 {
        margin: 5px 0px;
    }

    /* ==========================================================================
       Ranking
       ========================================================================== */

    .ranking .pure-form {
        margin: 15px 0px;
    }

    .ranking .pure-form input {
        height: 30px;
    }

    #options .pure-g {
        letter-spacing: 1px;
    }

    #trade .info {
        padding-left: 15px;
    }

    /* ==========================================================================
        Group Page
    ========================================================================== */

    #schools .conti .inner {
        padding: 10px;
    }

    #schools .widgets {
        padding-top: 10px;
    }


    /* ==========================================================================
        angulars-classes
       ========================================================================== */

    .ng-valid {
        outline-color: #0f0;
    }
    .ng-invalid {
        outline-color: #f00;
    }

    /* ==========================================================================
       Media Queries
       ========================================================================== */
    @media only screen and (max-height: 620px) {
        #herounit {
            position: relative;
            top: 0px;
            margin-top: 0px!important;
            margin-bottom: 130px;
            height: inherit;
        }
    }

    @media only screen and (min-width: 960px) {

        div.fixed-name-container {
            border-bottom: thin solid #a7a7a7;
            padding: 15px 0px;
            position: fixed;
            top: 0px;
            width: 750px;
            background-color: #fff;
            display: none;
            z-index: 3;
            margin: 0px;
            filter:alpha(opacity=90);
            -moz-opacity: 0.9;
            opacity: 0.9;
        }
        
        h1#tradity {
            position: fixed;

        }
    }

    @media (max-width: 960px) {
        /* das team */
        .infounit.team > .content{
            width: 100%;
            margin-top: 20px;
            margin: 0px;
        }
    }

    @media only screen and (min-width:321px) and (max-width:768px) { /* tablet */

        .herounitFix #wrapper {
            display: none;
        }

        #wrapper {
            box-shadow: none;
        }

        body {
            background: #fff;
        }
    }



    @media print,
           (-o-min-device-pixel-ratio: 5/4),
           (-webkit-min-device-pixel-ratio: 1.25),
           (min-resolution: 120dpi) {

    }
}