body {
    font-family: Arial;
}

.inline {
    display: inline-block;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

a {
  text-decoration: none;
  color: #333;
}

.main-content h2, .main-content h1, .main-content h3 {
    margin: 15px 0px;
    font-weight: normal;
    font-family: 'Quicksand', sans-serif;
}

.padding-left {
    padding-left: 10px;
}

.text-center {
    text-align: center;
}

/* ==========================================================================
    Header
   ========================================================================== */

header#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid rgba(20,20,20,0.3);

    font-size: 1em;
    line-height: 1.4;
    z-index: 9999;
}

header#header .inner {
    width: 960px;
    margin: 0px auto;
    height: 50px;
}

#logo {
    float: left;
    padding: 5px;
    height: 40px;
}

#logo img {
    height: 100%;
}

header#header h2 {
    margin: 0px;
    font-size: 1em;
    line-height: 1.4;
}

header#header .inline {
    padding: 7px;
    height: 36px;
}

header#header .name {
    float: left;
    height: 28px;
    padding: 11px;
}

header#header .name h2 {
    font-size: 20px;
    font-weight: normal;
}

header#header .cog {
    font-size: 17px;
    display: block;
    height: 22px;
    padding: 14px 0px;
}

header#header .dropdown-menu {
    left: inherit;
    margin-left: -67px
}

/* ==========================================================================
    Notifications
   ========================================================================== */
#notifications {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 250px;
    margin-left:-125px;
    z-index: 99999999;
}

#notifications .notification-item {
    background: #e74c3c;
    padding: 5px 10px;
    padding-top: 7px;
    color: #fff;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

#notifications .notification-item.success {
    background: #2ecc71;
}


/* ==========================================================================
   info grid
   ========================================================================== */


    .info-grid .item {
        text-align: center;
        padding: 5px;
        margin: 0px 5px;
    }

    .info-grid .item b {
        display: block;
    }

    .info-grid .item.neg {
        background-color: #e74c3c;
        color: #fff;
    }

    .info-grid .item.pos {
        background-color: #2ecc71;
        color: #fff;
    }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   herounit
   ========================================================================== */


#hero-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    overflow-y:scroll;
}

#herounit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -274px;
    margin-left: -301px;
    width: 600px;

    background: #fff;
    border: 1px solid;
    border-color: #d6d7da #d5d8dd #c7c8ca;

    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
    box-shadow: 0 0 35px 0 rgba(20,20,20,0.2);
}

#herounit .content {
    padding: 10px;
}


#herounit .logo {

    display: block;
    width: 400px;
    margin: 0px auto;
    padding: 15px;
    padding-top: 25px;
}

#herounit .slogan {
    text-align: center;
}

#herounit .showcase {
    text-align: left;
}

#herounit .row {

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    cursor: pointer;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    border-right: 1px solid #fff;
}

#herounit .row.last {
    border-right: none;
}

#herounit .showcase .header .fa {
    font-size: 40px;
    background: #fff;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    padding: 15px;
    -webkit-box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.2);
    box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.2);
    color: #333;
    margin-bottom: 10px;
    text-shadow: none;
}

#herounit .showcase .header {
    text-align: center;
    background: #ff7b4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff7b4b 8%, #ff6d38 73%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ff7b4b), color-stop(73%,#ff6d38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff7b4b 8%,#ff6d38 73%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff7b4b 8%,#ff6d38 73%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b4b', endColorstr='#ff6d38',GradientType=0 ); /* IE6-9 */
    padding: 15px;
}

#herounit .showcase .blue {
    background: #438ebb; /* Old browsers */
    background: -moz-linear-gradient(top,  #438ebb 8%, #1b80ba 73%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#438ebb), color-stop(73%,#1b80ba)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #438ebb 8%,#1b80ba 73%); /* IE10+ */
    background: linear-gradient(to bottom,  #438ebb 8%,#1b80ba 73%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438ebb', endColorstr='#1b80ba',GradientType=0 ); /* IE6-9 */
}

#herounit .showcase h2 {
    color: #fff;
    text-shadow: 1px 1px 0 #333;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

#herounit .showcase p {
    margin: 0px;
    font-size: 14px;
}

#herounit .actions {
    text-align: center;
    padding: 20px 0px 30px 0px;
}

#herounit .login {
    display: block;
    margin-top: 5px;
    color: #666;
}

#herounit .login a {
    color:blue;
}

#herounit .btn.register {
    width: 150px;
}

/* login form */

#herounit .login-form {
    width: 300px;
    margin: 0px auto;
    margin-bottom: 30px;
}

/* register form */

#herounit .register-form {
    width: 330px;
    margin: 0px auto;
    margin-bottom: 10px;
}

#herounit #gtlogin {
    color: #333;
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
}

#herounit #fbregister {
    display: inline-block;
    background-color: #4D68A1;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;

}

#herounit #fbregister .fa {
    margin-right: 5px;
}

.herounitFix, .herounitFix body {
    overflow:hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}



/* fade out herounit */

#hero-wrapper, #herounit{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hide-herounit #herounit {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.hide-herounit { 
    background-color: transparent;
    display: none;
}

/* footer */

#herounit .footer {
    position: absolute;
    padding: 5px 0px;
    width: 600px;
}

#herounit .footer .social-links {
    display: block;
    margin-right: 7px;
    float: left;
}

#herounit .footer .social-links a {
    font-size: 28px;
    color:rgba(20,20,20,0.4);
}

#herounit .footer .social-links a:hover {
    color:rgba(20,20,20,1);
}

#herounit .footer .footer-link {
    background-color: rgba(20,20,20,0.4);
    color: #fff;
    display: inline-block;
    padding: 2px 5px 0px 5px;
    margin-top: 7px;

}

#herounit .footer a.presse:hover {
    background-color: rgba(20,20,20,1);
}

#herounit .footer .footer-right {
    float: right;
    text-align: right;
    padding-top: 7px;
    opacity: 0.8;
    font-size: 12px;
}

#herounit .footer .footer-right:hover {
    opacity: 1;
}


/* info unit */

.infounit {
    min-height: 100%;
    width: 100%;
    background-color:#ecf0f1;
    padding: 50px 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */


    background: #ff7b4b; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ff7b4b 8%, #ff6d38 73%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(8%,#ff7b4b), color-stop(73%,#ff6d38)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ff7b4b 8%,#ff6d38 73%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ff7b4b 8%,#ff6d38 73%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b4b', endColorstr='#ff6d38',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.infounit.first {
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-box-shadow:inset 0 5px 5px 0 rgba(40,40,40,0.2);
    box-shadow:inset 0 5px 5px 0 rgba(40,40,40,0.2);
}

.infounit.blue {
    background: #438ebb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #438ebb 0%, #408dbb 13%, #1b80ba 72%, #1b80ba 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#438ebb), color-stop(13%,#408dbb), color-stop(72%,#1b80ba), color-stop(100%,#1b80ba)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #438ebb 0%,#408dbb 13%,#1b80ba 72%,#1b80ba 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438ebb', endColorstr='#1b80ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.infounit .info-item {
    width: 600px;
    margin: auto;
}

.infounit .header {
    text-align: center;
    color: #fff;
}

.infounit .header .fa {
    font-size: 70px;
    background: #fff;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    padding: 25px;
    -webkit-box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.4);
    box-shadow:inset 0 0 8px 0 rgba(20,20,20,0.4);
    color: #333;
    margin-bottom: 10px;
    text-shadow: none;
}

.infounit .header h2 {
    margin-top: 0px;
    text-shadow: 1px 1px 0 #333;
    margin-bottom: 50px;
}

.infounit .content {
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 0 #444;
    text-align: justify;
}

.herounit-spacer {
    width: 100%;
    min-height: 100%;
}

/* das team */

.infounit.team > .content{
    text-align: center;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.infounit.team .team-item {
    display: inline-block;
    width: 200px;
    margin-bottom: 70px;
    margin-right: 35px;
    margin-left: 35px;
}

.infounit.team img.team-pic {
    -webkit-border-radius: 250px;
    border-radius: 250px;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 0 rgba(20,20,20,0.4);
    box-shadow: 0 0 10px 0 rgba(20,20,20,0.4);
}

.infounit.team h2, .infounit.team  p {
    margin: 0px;
}

.infounit.team h2 {
    text-align: center;
    padding: 10px 0px;
}


.infounit.team .team-item .content {
    padding: 0px 10px;
    text-align: center;
}

@media (max-width: 660px) { 

    #herounit {
        width: 100%;
        margin-left: 0px;
        left: 0px;
        border:none;
    }

    #herounit .logo {
        width: 100%;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }

    .infounit .info-item {
        width: 100%;
        margin: 0px;
    }

    .herounitFix #wrapper {
        display: none;
    }
}

/* ==========================================================================
   Walkthrough
   ========================================================================== */


#walkthrough {
    position: fixed;
    bottom: 30px;
    width: 500px;
    left:50%;
    margin-left: -250px;
    background-color: #3276b1;
    padding: 15px;
    color:#fff;
    text-shadow:1px 1px #333;
    -webkit-box-shadow: 0 0 20px 0 rgba(20,20,20,0.7);
    box-shadow: 0 0 20px 0 rgba(20,20,20,0.7);
} 

#walkthrough h2 {
    margin: 0px;
}

#walkthrough p {
    font-size: 16px;
    margin: 5px 0px;
}


.pointPointArrow{
    width:16px;
    height:16px;
    background:url('../img/arrow.png') no-repeat;
    position:absolute;
    display:none;
    z-index: 100000;
    top:0;
    left:0;
 }

#rankingSearch {
    display: inline-block;
}

@keyframes blink { 
   50% { 
        background-color: rgba(46,204,113,0.3);
    } 
}
.blink{ /*or other element you want*/
    animation: blink 2s infinite alternate;


    background-color: rgba(46,204,113,0);
    border-radius: 0px;
}

/* ==========================================================================
   PGrouppage
   ========================================================================== */



.school-hero {
    height: 200px;
    background-size: cover;
    text-align: center;
}

.school-hero h1 {
    color: #333;
    margin: 68px 10px;
    padding:3px 10px;
    font-size: 40px;
    margin-bottom: 5px;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
}

.school-hero .config a{
    display: none;
    background: rgba(255,255,255,0.8);
    position: absolute;
    margin: 5px;
    padding: 3px 6px;
}

.school-hero:hover .config a{
    display: block;
}

.school-hero .short-info {
    color: #fff;
    text-shadow:1px 1px #333;
    display: block;
}

.widget {
    margin-bottom: 15px;
}

.widget .inner {
    padding: 5px 7px;
}

.widget h3 {
    background-color: rgba(255, 109, 56, 0.83);
    color: #fff;
    padding: 5px 7px;
    margin: 0px;
}

.widget li, .widget ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#schools .comment-textarea {
    border-radius: 0px;
}

#schools .comment-form {
    padding-bottom: 40px;
}

#schools .feed-item .feed-entry-content {
    padding-top: 0px;
}

#schools .feed-head, #schools .feed-head a,#schools .feed-footer  {
    font-size: 12px;
    color:#333;
    font-weight: normal;
}

#schools .feed-head .username {
    font-weight: bold;
}

#schools .feed-time {
    color: rgb(128, 128, 128);,
}

#schools .feed-item .actions {
    display: none;
}

#schools .feed-item:hover .actions{
    display: inline;
}
