<button class="tutbtn" onclick="javascript:introJs().start()">?</button>
<div id="depot" class="main-content">
	<div id="tabs">
	  <ul>
	    <li data-step="1" data-position="left" data-intro="Hier siehst Du Deine absoluten Vermögenswerte. Dein Startgesamtwert liegt bei 100.000 €. Dieser Wert ist aufgeteilt in das, was auf Deinem Konto liegt, dieses Geld ist unverzinst und kann für den Wertpapierkauf benutzt werden, und Deinem Depot, der Wert deiner Wertpapiere. Deine Performance spiegelt deine Leistung prozentual wider. Hier in 3 verschiedenen Zeiträumen (Gesamt, Heute und der letzten Woche)"><a href="#overview">Vermögensentwicklung</a></li>
	    <li data-step="2" data-position="left" data-intro="Ab hier beginnt Dein Depot. Hier sind Deine derzeit in Besitz befindlichen Wertpapiere"><a href="#listing">Wertpapiere in Besitz</a></li>
	    <li data-step="3" data-position="left" data-intro="Und hier welche, die es bald werden können. Diese warten entweder darauf, dass sich der jeweilige Handelsplatz öffnet oder ein Stop-/Limitwert erreicht wird."><a href="#opentransactions">Noch nicht ausgeführte Transaktionen</a></li>
	    <li data-step="4" data-position="left" data-intro="Schau Dir Deine vergangenen Orders an und schwebe in Deiner Trader-Vergangenheit."><a href="#history">Transaktionshistorie</a></li>
	    <li data-step="5" data-position="left" data-intro="Alles was Du auf Deine Watchlist gesetzt hast, findest Du hier."><a href="#watchlist"><span class="batch">&#xF178;</span></a></li>
	  </ul>
	  	<div id="overview">
			<fieldset class="options-field">
				<legend>Vermögen</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						{{ownUser.totalvalue / 10000| currency}}
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Konto
					</li>
					<li>
						{{ownUser.freemoney / 10000 | currency}}
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Depot
					</li>
					<li>
						{{ownUser.depotvalue / 10000 | currency}}
					</li>
				</ul>
			</fieldset>
			<fieldset class="options-field">
				<legend>Vermögensentwicklung</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						<span  ng-class="{pos: performanceAll > 0, neg:  performanceAll < 0}">
							{{ performanceAll = ((ownUser.totalvalue / 10000) - 100000 ) / 1000 | number:2}} %
						</span>
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Heute
					</li>
					<li>
						<span  ng-class="{pos: performanceToday > 0, neg: performanceToday < 0}">
							{{( performanceToday = ownUser.totalvalue / ownUser.daystarttotalvalue - 1) * 100 | number:2}} %
						</span>
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Woche
					</li>
					<li>
						<span  ng-class="{pos: performanceWeek > 0, neg: performanceWeek < 0}">
							{{ performanceWeek = (ownUser.totalvalue / ownUser.weekstarttotalvalue - 1) * 100 | number:2}} %
						</span>
					</li>
				</ul>
			</fieldset>
			<fieldset class="options-field">
				<legend>Followerbewertung</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						<span  ng-class="{pos: fperfAll > 0, neg: fperfAll < 0}">
							{{ fperfAll = (ownUser.totalfperf-1) * 100 | number:2}} %
						</span>
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Heute
					</li>
					<li>
						<span  ng-class="{pos: fperfToday > 0, neg: fperfToday < 0}">
							{{ fperfToday = (ownUser.dayfperf-1) * 100 | number:2}} %
						</span>
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Woche
					</li>
					<li>
						<span  ng-class="{pos: fperfWeek > 0, neg: fperfWeek < 0}">
							{{ fperfWeek = (ownUser.weekfperf-1) * 100 | number:2}} %
						</span>
					</li>
				</ul>
			</fieldset>
		</div>
		<div id="listing">
			<fieldset class="options-field">
				<legend>Wertpapiere in Besitz</legend>
				<table class="owned-trades">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5" span="2">
				    <col class="column-6-7" span="2">
					<col class="column-8">
				  </colgroup>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th colspan="2">Preis</th>
						<th colspan="2">Performance</th>
						<th></th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Wert</th>
						<th>Anzahl</th>
						<th>Einkauf</th>
						<th>Aktuell</th>
						<th>Gesamt</th>
						<th>Gestern</th>
						<th>Trade</th>
					</tr>
					<tr ng-repeat="result in results">
						<td>{{result.stockname}}</td>
						<td>{{result.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{result.total / 10000 | currency}}</td>
						<td>{{result.amount}}</td>
						<td>{{result.buymoney / result.amount / 10000 | currency}}</td>
						<td>{{result.bid / 10000 | currency}}</td>
						<td>
							<span  ng-class="{pos: orderPerfAll > 0, neg: orderPerfAll < 0}">
								{{( orderPerfAll = result.bid * result.amount - result.buymoney)
		                                / result.buymoney * 100 | number:2}} %
		                    </span>
		                </td>
						<td>
							<span  ng-class="{pos: orderPerfYesterday > 0, neg: orderPerfYesterday < 0}">
								{{( orderPerfYesterday = result.bid - result.daystartvalue) /
		                                result.daystartvalue * 100 | number:2}} %
		                    </span>
		                </td>
						<td class="trade-td"><a ng-href="#/trade/sell/{{result.stockid}}/{{result.amount}}" class="batch block-link trade">&#xF153;</a></td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div id="opentransactions">
			<fieldset class="options-field">
				<legend>Noch nicht ausgeführte Transaktionen</legend>
				<table class="transaction-history">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4">
				  </colgroup>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Market/Stop/Limit</th>
						<th>Stop/Limit Marke</th>
						<th>Anzahl</th>
						<th>Löschen</th>
					</tr>
					<tr ng-repeat="order in delayedOrders">
						<td class="depot-{{order.buysell}}" title="{{order.query.stockid}}">{{order.query.dquerydata.name}}</td>
						<td>{{order.query.dquerydata.ordertime | date:'d.M.yy HH:mm'}}</td>
						<td>{{order.query.dquerydata.xtype}}</td>
						<td>
							<span ng-show="order.query.dquerydata.xvalue">{{order.query.dquerydata.xvalue | currency}}</span>
							<span ng-hide="order.query.dquerydata.xvalue">—</span>
						</td>
						<td>{{order.amount}}</td>
						<td class="trade-td"><a ng-click="removeDelayedOrder(order.queryid)" class="batch block-link trade" title="Löschen" style="cursor: pointer">&#xF153;</a></td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div id="history">
			<fieldset class="options-field">
				<legend>Transaktionshistorie</legend>
				<table class="transaction-history">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5">
				    <col class="column-6-7">
				  </colgroup>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Anzahl</th>
						<th>Preis</th>
						<th>Transaktionskosten</th>
						<th>Bilanz</th>
					</tr>
					<tr ng-repeat="order in orders">
						<td class="{{order.ordertype}}" title="{{order.stocktextid}}">
							<a class="text-link" ng-href="#/trade/{{order.orderid}}">{{order.stockname}}</a>
						</td>
						<td>{{order.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{order.amount}}</td>
						<td>{{order.price / 10000 | currency}}</td>
						<td>{{order.fee / 10000 | currency}}</td>
						<td>
							<span  ng-class="{pos: balance > 0, neg: balance < 0}">
								{{ balance = (order.money * -1) / 10000 | currency}}
							</span>
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div id="watchlist">
			<fieldset class="options-field">
				<legend>Leader und Wertpapiere in Deiner Watchlist</legend>
				<table class="owned-trades">
				  <colgroup>
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5" span="2">
				    <col class="column-6-7" span="2">
					<col class="column-8">
				  </colgroup>
					<tr>
						<th></th>
						<th></th>
						<th colspan="2">Preis</th>
						<th colspan="2" style="background-color: rgba(0, 0, 0, 0)">Performance</th>
						<th></th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Start</th>
						<th>Aktuell</th>
						<th>Gesamt</th>
						<th>Gestern</th>
						<th>Entfernen</th>
					</tr>
					<tr ng-repeat="entry in watchlist">
						<td>{{entry.stockname}}</td>
						<td>{{entry.watchstarttime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{entry.watchstartvalue / 10000 | currency}}</td>
						<td>{{entry.bid / 10000 | currency}}</td>
						<td>
							<span  ng-class="{pos: watchlistPerformAll > 0, neg: watchlistPerformAll < 0}">
								{{ watchlistPerformAll = (entry.bid - entry.watchstartvalue) / entry.watchstartvalue * 100 | number:2}} %
							</span>
						</td>
						<td>
							<span ng-class="{pos: watchlistPerformYesterday > 0, neg: watchlistPerformYesterday < 0}">
								{{ watchlistPerformYesterday = (entry.bid - entry.daystartvalue) / entry.daystartvalue * 100 | number:2}} %
							</span>
						</td>
						<td class="trade-td"><a ng-click="removeFromWatchlist(entry)" class="batch block-link trade" title="Löschen" style="cursor: pointer">&#xF17A;</a></td>
					</tr>
				</table>
			</fieldset>
			<!--<fieldset class="options-field">
			<legend>Spieler in Deiner Watchlist</legend>
			<ul class="watchlist">
				<li class="player">
					<a href="#" class="batch unwatch-icon" >&#xF17A;</a>
					<a href="#" class="text-link"> heiner</a>,&nbsp;
				</li>
				<li class="player">
					<a href="#" class="batch unwatch-icon">&#xF17A;</a>
					<a href="#" class="text-link"> rainer</a>
				</li>
			</ul>
			</fieldset>-->
		</div>
	</div>
</div>
