<button class="tutbtn" onclick="javascript:introJs().start()">?</button>
<div id="depot" class="main-content">
	<script type="text/javascript">	
		// JqueryUI 
		$(function() {
		    $( "#tabs" ).tabs();
		});
	</script>
	<div id="tabs">
	  <ul>
	    <li data-step="1" data-position="left" data-intro="Hier siehst du deine absoluten Vermögenswerte. Dein Startgesamtwert liegt bei 100.000. Dieser Wert ist aufgeteilt in das was auf deinem Konto liegt, dieses Geld ist unverzinst und kann für den Wertpapierkauf benutzt werden und deinem Depot, der Wert deiner Wertpapiere. Deine Performance spiegelt deine Leistung prozentual wider. Hier in 3 verschiedenen Zeiträumen (Gesamt, Heute und der letzten Woche)"><a href="#tabs-1">Vermögensentwicklung</a></li>
	    <li data-step="2" data-position="left" data-intro="Ab hier beginnt dein Depot. Hier sind deine derzeit in Besitz befindlichen Wertpapiere"><a href="#tabs-2">Wertpapiere in Besitz</a></li>
	    <li data-step="3" data-position="left" data-intro="Und hier welche, die es bald werden können. Diese warten entweder darauf, dass sich der jeweilige Handelsplatz öffnet oder ein Stop-/Limitwert erreicht wird."><a href="#tabs-3">Noch nicht ausgeführte Transaktionen</a></li>
	    <li data-step="4" data-position="left" data-intro="Schau dir deine vergangenen Orders an und schwebe in deiner Trader-Vergangenheit."><a href="#tabs-4">Transaktionshistorie</a></li>
	  </ul>
	  	<div id="tabs-1">
			<fieldset class="options-field">
				<legend>Vermögen</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						{{ownUser.totalvalue / 10000| currency}}
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Konto
					</li>
					<li>
						{{ownUser.balance / 10000 | currency}}
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Depot
					</li>
					<li>
						{{ownUser.depotvalue / 10000 | currency}}
					</li>
				</ul>
			</fieldset>
			<fieldset class="options-field">
				<legend>Vermögensentwicklung</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						{{((ownUser.totalvalue / 10000) - 100000 ) / 1000 | number:2}} %
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Heute
					</li>
					<li>
						{{(ownUser.lastvalue / ownUser.daystartvalue - 1) * 100 | number:2}} %
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Woche
					</li>
					<li>
						{{(ownUser.lastvalue / ownUser.weekstartvalue - 1) * 100 | number:2}} %
					</li>
				</ul>
			</fieldset>
			<fieldset class="options-field">
				<legend>Followerbewertung</legend>
				<ul class="one-item-list">
					<li>
						Gesamt
					</li>
					<li>
						{{(ownUser.totalfperf-1) * 100 | number:2}} %
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Heute
					</li>
					<li>
						{{(ownUser.dayfperf-1) * 100 | number:2}} %
					</li>
				</ul>
				<ul class="one-item-list">
					<li>
						Woche
					</li>
					<li>
						{{(ownUser.weekfperf-1) * 100 | number:2}} %
					</li>
				</ul>
			</fieldset>
		</div>
		<div id="tabs-2">
			<fieldset class="options-field">
				<legend>Wertpapiere in Besitz</legend>
				<table class="owned-trades">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5" span="2">
				    <col class="column-6-7" span="2">
					<col class="column-8">
				  </colgroup>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th colspan="2">Preis</th>
						<th colspan="2">Performance</th>
						<th></th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Wert</th>
						<th>Anzahl</th>
						<th>Einkauf</th>
						<th>Aktuell</th>
						<th>Gesamt</th>
						<th>Gestern</th>
						<th>Trade</th>
					</tr>
					<tr ng-repeat="result in results">
						<td>{{result.stockname}}</td>
						<td>{{result.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{result.total / 10000 | currency}}</td>
						<td>{{result.amount}}</td>
						<td>{{result.buymoney / result.amount / 10000 | currency}}</td>
						<td>{{result.lastvalue / 10000 | currency}}</td>
						<td>{{(result.lastvalue * result.amount - result.buymoney)
		                                / result.buymoney * 100 | number:2}}%</td>
						<td>{{(result.lastvalue - result.daystartvalue) /
		                                result.daystartvalue * 100 | number:2}}%</td>
						<td class="trade-td"><a ng-href="#/trade/sell/{{result.stockid}}/{{result.amount}}" class="batch block-link trade">&#xF153;</a></td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div id="tabs-3">
			<fieldset class="options-field">
				<legend>Noch nicht ausgeführte Transaktionen</legend>
				<table class="transaction-history">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4">
				  </colgroup>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Market/Stop/Limit</th>
						<th>Stop/Limit Marke</th>
						<th>Anzahl</th>
						<th>Trade</th>
					</tr>
					<tr ng-repeat="order in delayedOrders">
						<td class="depot-{{order.buysell}}" title="{{order.query.stockid}}">{{order.query.dquerydata.name}}</td>
						<td>{{order.query.dquerydata.ordertime | date:'d.M.yy HH:mm'}}</td>
						<td>{{order.query.dquerydata.xtype}}</td>
						<td>
							<span ng-show="order.query.dquerydata.xvalue">{{order.query.dquerydata.xvalue | currency}}</span>
							<span ng-hide="order.query.dquerydata.xvalue">—</span>
						</td>
						<td>{{order.amount}}</td>
						<td class="trade-td"><a ng-click="removeDelayedOrder(order.queryid)" class="batch block-link trade" title="Löschen" style="cursor: pointer">&#xF153;</a></td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div id="tabs-4">
			<fieldset class="options-field">
				<legend>Transaktionshistorie</legend>
				<table class="transaction-history">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5">
				    <col class="column-6-7">
				  </colgroup>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Bilanz</th>
						<th>Anzahl</th>
						<th>Preis</th>
						<th>Transaktionskosten</th>
					</tr>
					<tr ng-repeat="order in orders">
						<td class="{{order.ordertype}}" title="{{order.stocktextid}}"><a class="text-link" ng-href="#/trade/{{order.orderid}}">{{order.stockname}}</a></td>
						<td>{{order.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{(order.money * -1) / 10000 | currency}}</td>
						<td>{{order.amount}}</td>
						<td>{{order.price / 10000 | currency}}</td>
						<td>{{order.fee / 10000 | currency}}</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
</div>
