<div id="depot" class="main-content">
	<fieldset class="options-field">
		<legend>Vermögen</legend>
		<ul class="one-item-list">
			<li>
				Gesamt
			</li>
			<li>
				+1354€
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Konto
			</li>
			<li>
				+1000€
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Depot
			</li>
			<li>
				+354€
			</li>
		</ul>
	</fieldset>
	<fieldset class="options-field">
		<legend>Performance</legend>
		<ul class="one-item-list">
			<li>
				Gesamt
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Heute
			</li>
			<li>
				+13%
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Gestern
			</li>
			<li>
				+37%
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Als Follower
			</li>
		</ul>
		<ul class="one-item-list">
			<li></li>
			<li>
				+4%
			</li>
		</ul>
		<ul class="one-item-list">
			<li></li>
			<li>
				+2%
			</li>
		</ul>
	</fieldset>
</div>
