<div class="main-content"><a id="top" class="anchor"></a>
	<fieldset class="options-field">
		<legend>Fragen</legend>
		<a class="text-link" href="#/faq#was-muss-ich-tun">Börsenspiel? Was muss ich tun?</a><br>
		<a class="text-link" href="#/faq#was-ist-followen">Was ist followen?</a><br>
		<a class="text-link" href="#/faq#wie-followe-ich-und-finde-erfolgreiche-trader">Wie followe ich und wie finde ich erfolgreiche Trader?</a><br>
		<a class="text-link" href="#/faq#wie-kann-ich-gewinnen">Wie kann ich gewinnen?</a><br>
		<a class="text-link" href="#/faq#was-sind-leader">Was sind Leader?</a><br>
		<a class="text-link" href="#/faq#was-hat-es-mit-der-provision-an-die-leader-auf-sich">Was hat es mit der Provision an die Leader auf sich?</a><br>
		<a class="text-link" href="#/faq#wie-kaufe-und-verkaufe-ich-auf-tradity">Wie kaufe und verkaufe ich auf tradity? Stop, Limit, Market?</a><br>
		<a class="text-link" href="#/faq#wann-zahle-ich-die-provisionsgebuehr-als-follower">Wann zahle ich die Provisionsgebühr als Follower?</a><br>
		<a class="text-link" href="#/faq#welche-aktien-kann-ich-handeln">Welche Aktien kann ich handeln?</a><br>
		<a class="text-link" href="#/faq#handelszeiten">Gibt es Handelszeiten?</a><br>
	</fieldset>
	<fieldset class="options-field faq">
		<legend>Antworten</legend>
		<h4>Börsenspiel? Was muss ich tun? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="was-muss-ich-tun"></a>
		<p>
			Wie in jedem Börsenspiel ist es das Ziel, durch das Handeln von Wertpapieren (also Aktien), ein dickes Plus auf einem virtuellen Konto zu erwirtschaften, um sich somit einen Wochenpreis oder sogar den Hauptgewinn zu sichern.<br>
			Tradity unterscheidet sich allerdings von einem gewöhnlichen Besenstiel, da es eine „Social-Trading-Komponente“ beinhalt, die es jedem Teilnehmer ermöglicht, einem anderen Teilnehmer zu followen.
		</p>
		<h4>Was ist followen? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="was-ist-followen"></a>
		<p>
			Wenn man einem Teilnehmer folgt, bedeutet das, dass man automatisch das kauft und verkauft, was auch ein anderer Trader kauft und verkauft. So profitiert man passiv von den Gewinnen eines anderen Anlegers. (Allerdings macht man auch Verlust, wenn dieser es tut, wähle deine „Leader“ also mit bedacht.) Im Gegenzug zahlt man diesem Anleger eine kleine Provision auf die Gewinne als eine Art Erfolgssteuer.
		</p>
		<h4>Wie followe ich und wie finde ich erfolgreiche Trader? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a id="wie-followe-ich-und-finde-erfolgreiche-trader"></a>
		<p>
			Um erfolgreiche Trader zu finden, kannst du dich einfach über die Ranglisten durch die Profile der einzelnen Anleger klicken, bis du einen findest, der dich überzeugt. Um diesem Trader zu folgen, musst du nun einfach einen gewöhnlichen Trade durchfuhren, nur dass du anstatt den Namen eines Unternehmens den Namen des Anlegers in die Suchleiste eingibst. Du „kaufst“ ihn also wie eine gewöhnliche Aktie. (Du kannst allerdings nicht dein gesamtes Kapital in nur einen einzigen Teilnehmer stecken!)
		</p>
		<h4>Wie kann ich gewinnen? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="wie-kann-ich-gewinnen"></a>
		<ol>
			<li>Es gewinnt der Teilnehmer, der am Ende des Börsenspiels am meisten Kapital angehäuft hat. Außerdem gibt es für den Teilnehmer mit der besten relativen Wochenperformance einen Preis.</li>
			<li>Da nun meist nur erfahrene Anleger eine Chance auf die Gewinne haben, haben wir eine weitere Gewinnkategorie hinzugefügt. Neben der Gesamtperformance besteht nun auch die Möglichkeit einen Preis abzugreifen, indem man am meisten Geld durch Folgen erwirtschaftet hat. So hat jeder, ob Börsenprofi oder -neuling, eine reelle Chance auf einen tollen Sachpreis.</li>
		</ol>
		<h4>Was sind Leader? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="was-sind-leader"></a>
		<p>
			Als Leader werden die Teilnehmer bezeichnet, denen Leute followen. Prinzipiell kann man jedem Teilnehmer followen, doch versuche auf die Performance dieser Spieler zu achten, damit für dich selber eine möglichst hohe Rendite rausspringt.
		</p>
		<h4>Was hat es mit der Provision an die Leader auf sich? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="was-hat-es-mit-der-provision-an-die-leader-auf-sich"></a>
		<p>
			Leader unterscheiden sich nicht nur in ihrer Performance, sondern auch in der Hohe der Provisionsgebühr, die auf die Gewinne zu zahlen sind. Jeder Leader (also auch du) können eine Provision auf die Gewinne in Hohe von 5% - 30% beliebig wählen. Bei einem Leader mit einem Provisionssatz von 30% zahlst du also 30% deiner Gewinne an diesen Leader, wenn du ihm followst. Überlege dir also gut, ob du einem sehr erfolgreichem Leader folgst der eine Provision von 30% fordert oder einem nicht ganz so erfolgreichem mit einer Provision von nur 5%.
		</p>
		<h4>Wie kaufe und verkaufe ich auf tradity? Stop, Limit, Market? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="wie-kaufe-und-verkaufe-ich-auf-tradity"></a>
		<p>
			Um zu traden musst du einfach nur auf das Trade-Symbol in der linken Leiste drucken. In das Suchfeld gibst du entweder den Namen des Unternehmens ein, das du handeln willst oder den Namen des Teilnehmers, dem du follwen bzw. aufhoren willst zu followen. Nun musst du einen Ordertypen auswählen (Market, Limit, Stop).
		</p>
		<h5>Market:</h5>
		<ul>
			<li>Kaufen: Du kaufst zum „Ask“-Preis</li>
			<li>Verkaufen: Du verkaufst zum „Bid“-Preis</li>
		</ul>
		<h5>Limit:</h5>
		<ul>
			<li>Kaufen: Du kaufst nur dann, wenn der Wert unter den von dir eingegebenen Limit-Wert fallt</li>
			<li>Verkaufen: Du verkaufst nur dann, wenn der Wert uber den von dir festgelegten Limit-Wert steigt</li>
		</ul>
		<h5>Stop:</h5>
		<ul>
			<li>Kaufen: Du kaufst erst dann, wenn der Wert uber den von dir festgelegten Stop-Wert steigt</li>
			<li>Verkaufen: Du verkaufst erst dann, wenn der Wert unter den von dir festgelegten Stop-Wert fallt</li>
		</ul>
		<p>
			Gib nun die Anzahl der Aktien/Leaderanteile, die du kaufen/verkaufen möchtest, ein und drucke auf den Trade-Button.
		</p>
		<h4>Wann zahle ich die Provisionsgebühr als Follower? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="wann-zahle-ich-die-provisionsgebuehr-als-follower"></a>
		<p>
			Alle 5 Minuten wird geschaut, ob der Leader Gewinn erzielt hat. Falls ja, zahlst du die vom Leader festgelegte Performancegebühr – dann wird die so genannte High-Water-Mark zu genau diesem Wert gesetzt – 5 Minuten später wird wieder geschaut, ob der Leader mit seiner Performance über die High-Water-Mark gekommen ist, falls ja – musst du wieder ein Provision zahlen allerdings nur von der Differenz der High-Water-Mark zum aktuellen Wert und die High-Water-Mark wird auf den neun Höchststand gesetzt, falls der Leader allerdings Verlust macht, musst du ihm erst wieder eine Provision zahlen, wenn er die High-Water-Mark wieder überschreitet. So wird garantiert, dass du nur dann eine Provision zahlst, wenn der Leader dich auch tatsächlich vorantreibt.
		</p>
		<h4>Welche Aktien kann ich handeln? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="welche-aktien-kann-ich-handeln"></a>
		<p>
			Sämtliche handelbaren Wertpapiere der Borse Frankfurt und Xetra
			Liste mit Indizes: <a class="text-link" href="http://www.finanzen.net/indizes/">http://www.finanzen.net/indizes/</a><br>
			Charts: <a class="text-link" href="http://finance.yahoo.com/echarts?s=ads.de">http://finance.yahoo.com/echarts?s=ads.de</a><br>
			Such dir eine Aktie aus den Indizes und gib den Namen der Aktie bei finance.yahoo ein um einen Chart zu sehen
			Bsp.: Adidas? <a class="text-link" href="http://finance.yahoo.com/echarts?s=ads.de">http://finance.yahoo.com/echarts?s=ads.de</a><br>
		</p>
		<h4>Gibt es Handelszeiten? <a href="#/faq#top" class="batch text-link">&#xF148;</a></h4><a class="anchor" id="handelszeiten"></a>
		<p>
			Ja es gibt begrenzte Handelszeiten. Diese gelten von 8.00 bis 20.00 Uhr. Du kannst aber auch beliebig viele Order in Auftrag geben selbst bei Börsenschluss. Diese werden dann allerdings erst realisiert wenn die Börse  am morgen wieder öffnet. (Achtung: Zum Börsenstart wird der Wert des Wertpapiers ein anderer sein, als zu dem Zeitpunkt an dem du kaufen willst. Achte also immer darauf, ob die Börse offen oder geschlossen ist!)
		</p>
	</fieldset>
</div>
