<button class="tutbtn" onclick="javascript:introJs().start()">?</button>
<div id="feed" class="main-content">
    
    <!-- 
        Feedeinträge chronologisch
        https://github.com/philbooth/vagueTime.js
        vielleicht sowas um zeit darzustellen


        Aktionen vor dir sind blau -> css-klasse feed-yourself
        Die von andren sind orange -> css-klasse feed-somebody

        Sollen watcher eigene Farbe bekommen?
     -->

    <!--
    <div class="feed-item feed-somebody">
        <div class="batch feed-entry-symbol">&#xf139;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDem" class="feed-link">Miro</a> hat einen deiner <a href="#deintrade" class="feed-link">Trades</a> kommentiert.
            <span class="feed-time">10:05 &ndash; 03.08.12</span>
        </div>
    </div>
    <div class="feed-item feed-somebody">
        <div class="batch feed-entry-symbol">&#xF153;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDem" class="feed-link">Buffett</a> hat <a href="#seinTrade" class="feed-link">getradet</a>.
            <span class="feed-time">17:24 &ndash; 31.07.12</span>
        </div>
    </div>
    <div class="feed-item feed-yourself">
        <div class="batch feed-entry-symbol">&#xF153;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDir" class="feed-link">Du</a> hast <a href="#deinTrade" class="feed-link">getradet</a>.
            <span class="feed-time">14:07 &ndash; 30.07.12</span>
        </div>
    </div>
    <div class="feed-item feed-somebody">
        <div class="batch feed-entry-symbol">&#xF178;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDem" class="feed-link">Kiyosaki</a> hat dich auf seine Watchlist gesetzt.
            <span class="feed-time">12:01 &ndash; 28.07.12</span>
        </div>
    </div>
    <div class="feed-item feed-yourself">
        <div class="batch feed-entry-symbol">&#xF178;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDir" class="feed-link">Du</a> hast <a href="#depotVonDem" class="feed-link">Buffett</a> auf deine Watchlist gesetzt.
            <span class="feed-time">03:07 &ndash; 01.07.12</span>
        </div>
    </div>
    <div class="feed-item feed-yourself">
        <div class="batch feed-entry-symbol">&#xf139;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDir" class="feed-link">Du</a> hast einen <a href="#seinTrade" class="feed-link">Trade</a> von <a href="#depotVonDem" class="feed-link">Buffett</a> kommentiert.
            <span class="feed-time">20:14 &ndash; 30.06.12</span>
        </div>
    </div>
    <div class="feed-item feed-yourself">
        <div class="batch feed-entry-symbol">&#xF0B8;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDir" class="feed-link">Du</a> folgst <a href="#deinFollowTrade" class="feed-link">Buffett</a>.
            <span class="feed-time">23:01 &ndash; 28.06.12</span>
        </div>
    </div>
    <div class="feed-item feed-somebody">
        <div class="batch feed-entry-symbol">&#xF0B8;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDem" class="feed-link">Kiyosaki</a> folgt dir.
            <span class="feed-time">17:39 &ndash; 25.06.12</span>
        </div>
    </div>
    <div class="feed-item feed-somebody">
        <div class="batch feed-entry-symbol">&#xF0B8;</div> 
        <div class="feed-entry-content">
            <a href="#depotVonDem" class="feed-link">Buffett</a> folgt <a href="#depotVonDem" class="feed-link">Kiyosaki</a>.
            <span class="feed-time">{{message.eventtime | date}}</span>
        </div>
    </div>
    -->
    <div data-step="1" data-position="left" data-intro="Hier findest Du die Aktivität von dir und Leuten aus deiner Watchlist.">
        <div ng-repeat="message in displaymessages" class="feed-item feed-{{message.typePerson}}" ng-switch on="message.type">
            <div ng-switch-when="watch-add">
                <div class="batch feed-entry-symbol">&#xF178;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat <a ng-href="#/user/{{message.targetname}}" class="feed-link">{{message.targetname}}</a> auf seine Watchlist gesetzt.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="watch-add-self">
                <div class="batch feed-entry-symbol">&#xF178;</div>
                <div class="feed-entry-content">
                    Du hast <a ng-href="#/user/{{message.targetname}}" class="feed-link">{{message.targetname}}</a> auf Deine Watchlist gesetzt.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="watch-add-me">
                <div class="batch feed-entry-symbol">&#xF178;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat Dich auf seine Watchlist gesetzt.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-buy">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an {{message.stockname}} <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-sell">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an {{message.stockname}} <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-buy-self">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    Du hast {{message.amount}} Anteile an {{message.stockname}} <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-sell-self">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    Du hast {{message.amount}} Anteile an {{message.stockname}} <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-buy-me">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an Dir <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
            <div ng-switch-when="trade-sell-me">
                <div class="batch feed-entry-symbol">&#xF153;</div>
                <div class="feed-entry-content">
                    <a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an Dir <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
                    <span class="feed-time" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{message.vtime}}</span>
                </div>
            </div>
        </div>
    </div>
</div>