<button class="tutbtn" onclick="javascript:introJs().start()" ng-hide="!user.isSelf">?</button>
<div id="profile" ng-hide="user.isSelf">
    <div class="clearfix">
        <h2 class="name">{{user.giv_name}} <span class="nick">„{{user.name}}“</span> {{user.fam_name}}</h2>
        <div class="depot">
            <h2 class="title">Gesamtvermögen</h2>
            <span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
        </div>
    </div>
    <img id="profile-picture"  class="profile-box" src="{{user.profilepic}}" alt="Profilbild">
    <div id="bio" class="profile-box">
        <h3 class="title">Kurzbeschreibung: <br /></h3>
        {{user.desc}}
    </div>
    <div id="placement" class="profile-box">
        <h3 class="title">Platz: <br /></h3>
        <span class="placement-number">{{user.rank}}</span>
    </div>
</div>
<div class="main-content" data-step="1" data-position="left" data-intro="Alles, was du hier siehst, ist dein öffentliches Profil. Je nach deinen Einstellungen ist dein Klarname einsehbar.">
    <div style="text-align: right">
      <button ng-click="getUserInfo()" class="click-button"><span class="batch">&#xF0B2; </span>Refresh</button>
      <button ng-click="addToWatchlist()" class="click-button" ng-hide="user.isSelf"><span class="batch">&#xF179; </span>Add to Watchlist</button>
      <form style="display:inline" action="#/trade/buy/__LEADER_{{user.uid}}__/0" method="get"><button class="click-button block-link" ng-hide="user.isSelf"><span class="batch">&#xF0B8; </span>Folgen</button></form>
    </div>
	<fieldset class="options-field">
		<legend>Performance</legend>
		<ul class="one-item-list">
			<li>
				Gesamt
			</li>
			<li>
				{{((user.totalvalue / 10000) - 100000 ) / 1000 | number:2}}%
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Heute
			</li>
			<li>
				{{(user.lastvalue / user.daystartvalue - 1) * 100 | number:2}}%
			</li>
		</ul>
		<ul class="one-item-list">
			<li>
				Woche
			</li>
			<li>
				{{(user.lastvalue / user.weekstartvalue - 1) * 100 | number:2}}%
			</li>
		</ul>
	</fieldset>
	<fieldset class="options-field">
		<legend>Transaktionshistorie</legend>
		<table class="transaction-history">
		  <colgroup>
		  	<col class="column-0">
		    <col class="column-1">
		    <col class="column-2">
		    <col class="column-3">
		    <col class="column-4-5">
		    <col class="column-6-7">
		  </colgroup>

			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>Bilanz</th>
				<th>Anzahl</th>
				<th>Preis</th>
				<th>Transaktionskosten</th>
			</tr>
			<tr ng-repeat="order in orders">
				<td class="{{order.ordertype}}" title="{{order.stocktextid}}"><a class="text-link" ng-href="#/trade/{{order.orderid}}">{{order.stockname}}</a></td>
				<td>{{order.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
				<td>{{(order.money * -1) / 10000 | currency}}</td>
				<td>{{order.amount}}</td>
				<td>{{order.price / 10000 | currency}}</td>
				<td>{{order.fee / 10000 | currency}}</td>
			</tr>
		</table>
	</fieldset>
    <!-- Just an example yet -->
    <!-- <canvas id="depotPerformanceChart" width="600" height="400"></canvas> -->
</div>

