<div id="profile">
    <div class="clearfix">
        <h2 class="name">Max <span class="nick">"MaxNick"</span> Mustermann </h2>
        <div class="depot">
            <h2 class="title">Gesamtvermögen</h2>
            <span class="depot-wert">+1354€</span>
        </div>
    </div>
    <img id="profile-picture"  class="profile-box" src="img/profile.png" alt="Profilbild">
    <div id="bio" class="profile-box">
        <h3 class="title">Kurzbeschreibung: <br /></h3>
        Das ist eine Kurzbeschreibung von mir. Lorem Ipsum 2002 Weltherrschaft. Dann tötete ich Galactico... Master of the Universer etc.
    </div>
    <div id="placement" class="profile-box">
        <h3 class="title">Platz: <br /></h3>
        <span class="placement-number">1337</span>
    </div>
</div>
<div class="main-content">
	<fieldset class="options-field">
		<legend>Transaktionshistorie</legend>
		<table class="transaction-history">
		  <colgroup>
		  	<col class="column-0">
		    <col class="column-1">
		    <col class="column-2">
		    <col class="column-3">
		    <col class="column-4-5" span="2">
		    <col class="column-6-7" span="1">
		  </colgroup>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="2">Preis</th>
				<th colspan="1">Performance</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>Bilanz</th>
				<th>Anzahl</th>
				<th>Einkauf</th>
				<th>Verkauf</th>
				<th>Gesamt</th>
			</tr>
			<tr>
				<td class="depot-sell">Adidas</td>
				<td>13.3.13</td>
				<td>+128934,34€</td>
				<td>132</td>
				<td></td>
				<td>132,12€</td>
				<td>-2,3%</td>

			</tr>
			<tr>
				<td class="depot-buy">Adidas</td>
				<td>13.3.13</td>
				<td>-132000,00€</td>
				<td>132</td>
				<td>100,00€</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</fieldset>
    <div style="text-align: right">
      <button ng-click="getUserInfo()" id="options-sb">Refresh</button>
    </div>
    <!-- Just an example yet -->
    <canvas id="depotPerformanceChart" width="600" height="400"></canvas>
</div>

