<div id="profile">
    <div class="clearfix">
        <h2 class="name">{{user.giv_name}} <span class="nick">"{{user.name}}"</span> {{user.fam_name}}</h2>
        <div class="depot">
            <h2 class="title">Gesamtvermögen</h2>
            <span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
        </div>
    </div>
    <img id="profile-picture"  class="profile-box" src="img/profile.png" alt="Profilbild">
    <div id="bio" class="profile-box">
        <h3 class="title">Kurzbeschreibung: <br /></h3>
        {{user.desc}}
    </div>
    <div id="placement" class="profile-box">
        <h3 class="title">Platz: <br /></h3>
        <span class="placement-number">{{user.rank}}</span>
    </div>
</div>
<div class="main-content">
    <div style="text-align: right">
      <button ng-click="getUserInfo()" class="click-button"><span class="batch">&#xF0B2; </span>Refresh</button>
      <button ng-click="addToWatchlist()" class="click-button"><span class="batch">&#xF179; </span>Add to Watchlist</button> <!-- folgende beiden bei sich selbst ausblenden und followbutton implementieren! -->
      <button class="click-button block-link"><a href="#FOLLOWEN"><span class="batch">&#xF0B8; </span>Folgen</a></button>
    </div>
	<fieldset class="options-field">
		<legend>Transaktionshistorie</legend>
		<table class="transaction-history">
		  <colgroup>
		  	<col class="column-0">
		    <col class="column-1">
		    <col class="column-2">
		    <col class="column-3">
		    <col class="column-4-5">
		    <col class="column-6-7">
		  </colgroup>

			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>Bilanz</th>
				<th>Anzahl</th>
				<th>Preis</th>
				<th>Performance</th>
			</tr>
			<tr ng-repeat="order in orders">
				<td class="{{order.ordertype}}">{{order.stocktextid}}</td>
				<td>{{order.buytime | date:'d.M.yy HH:mm'}}</td>
				<td>{{(order.money * -1) / 10000 | currency}}</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</fieldset>
    <!-- Just an example yet -->
    <!-- <canvas id="depotPerformanceChart" width="600" height="400"></canvas> -->
</div>

