<div id="stats" class="main-content">
	<div class="hint box">
Die Änderung in der Rangliste ist darauf zurückzuführen, dass Tradity nun auch <a class="text-link" href="#/faq#liqui">Liquidität</a> von Aktien simuliert, um das Handeln noch realitätsnaher zu gestalten. Dies wirkt sich vor allem auf sog. Penny Stocks (sehr schwankungsreiche Aktien im Cent-Bereich) aus. Die Kontostände wurden auf das Back-Up von Donnerstag Abend zurückgesetzt, um die neuen Umstände zu berücksichtigen.
	</div>
	<div class="search">
		<span class="batch search-icon">&#xF097;</span>
		<input ng-model="searchText" class="options-input" id="search" placeholder="Suchfilter">
	</div>
	<div id="tabs">
		<ul>
		  <li><a href="#all">Gesamt</a></li>
		  <li><a href="#follower">Follower</a></li>
		  <li><a href="#all-week">Gesamt (Woche)</a></li>
		  <li><a href="#follower-week">Follower (Woche)</a></li>
		</ul>
	  	<div id="all">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1">
				    <col class="rankcol-2">
				    <col class="rankcol-3">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Gesamtvermögen</th>
					<th>erh. Provision</th>
				</tr>
				<tr ng-repeat="result in results | orderBy:'rank' | filter:searchText">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
					<td>{{result.prov_recvd / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
		<div id="follower">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1">
				    <col class="rankcol-2">
				    <col class="rankcol-3">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Followerperformance</th>
					<th>Followerbewertung</th>
				</tr>
				<tr ng-repeat="result in resultsFollower | orderBy:'rank' | filter:searchText">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{(result.totalfperf-1)*100 | number:2}} %</td>
					<td>{{(result.totalfperfval)*100000 | number:2}}</td>
				</tr>
			</table>
		</div>
	  	<div id="all-week">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1">
				    <col class="rankcol-2">
				    <col class="rankcol-3">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Gesamtvermögen</th>
					<th>erh. Provision</th>
				</tr>
				<tr ng-repeat="result in resultsWeek | orderBy:'rank' | filter:searchText">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
					<td>{{result.prov_recvd / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
		<div id="follower-week">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1">
				    <col class="rankcol-2">
				    <col class="rankcol-3">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Followerperformance</th>
					<th>Followerbewertung</th>
				</tr>
				<tr ng-repeat="result in resultsFollowerWeek | orderBy:'rank' | filter:searchText">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{(result.totalfperf-1)*100 | number:2}} %</td>
					<td>{{(result.totalfperfval)*100000 | number:2}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
