<div id="stats" class="main-content">
	<div id="tabs">
		<ul>
			<li><a href="#all">Gesamt</a></li>
			<li><a href="#all-withprov">Gesamt (mit Provision)</a></li>
			<li><a href="#follower">Follower</a></li>
			<li><a href="#all-week">Gesamt (Woche)</a></li>
			<li><a href="#follower-week">Follower (Woche)</a></li>
			<li ng-show="ownUser.schoolid"><a href="#intragroup">{{ownUser.schoolname}}</a></li>
			<li><a href="#intergroup">Intergroup</a></li>
		</ul>
		<form ng-submit="getRanking()">
			<input ng-model="searchText" class="options-input" id="search" placeholder="Suche"> <input type="submit" value="Suche" id="ranking-search" class="click-button">
		</form>
		<div class="clearfix"></div>

	  	<div id="all">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 57%">
					<col class="rankcol-3" style="width: 33%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Reingewinn</th>
				</tr>
				<tr ng-repeat="result in results | orderBy:'rank' ">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{((result.totalvalue - result.prov_recvd) / 10000) - 100000 | currency}} ({{(((result.totalvalue - result.prov_recvd) / 10000) - 100000) / 1000 | number:2}} %)</td>
				</tr>
			</table>

			<ul class="pagination">
	  			<li ng-repeat="a in getPages(resultsCount)"><a ng-class="activePage(a)" href="" ng-click="setPage(a)">{{a+1}}</a></li>
	  		</ul>
		</div>
	  	<div id="all-withprov">
	  		
	  		
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 57%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-4" style="width: 15%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>erh. Provision</th>
					<th>Gesamtvermögen</th>
				</tr>
				<tr ng-repeat="result in resultsWithProvision | orderBy:'rank' ">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{result.prov_recvd / 10000 | currency}}</td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
				</tr>
			</table>

			<ul class="pagination">
	  			<li ng-repeat="a in getPages(resultsWithProvisionCount)"><a ng-class="activePage(a)" href="" ng-click="setPage(a)">{{a+1}}</a></li>
	  		</ul>
		</div>
		<div id="follower">
	  		
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 65%">
					<col class="rankcol-3" style="width: 25%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Followerperformance</th>
					<th>Followerbewertung</th>
				</tr>
				<tr ng-repeat="result in resultsFollower | orderBy:'rank' ">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{(result.totalfperf-1)*100 | number:2}}%</td>
					<td>{{(result.totalfperfval)*100000 | number:2}}</td>
				</tr>
			</table>

			<ul class="pagination">
	  			<li ng-repeat="a in getPages(resultsFollowerCount)"><a ng-class="activePage(a)" href="" ng-click="setPage(a)">{{a+1}}</a></li>
	  		</ul>
		</div>
	  	<div id="all-week">
	  		
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 65%">
					<col class="rankcol-3" style="width: 25%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Performance</th>
				</tr>
				<tr ng-repeat="result in resultsWeek | orderBy:'rank' ">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{((result.totalvalue - result.prov_recvd) / (result.weekstarttotalvalue - result.weekstartprov_recvd) - 1)*100 | number:2}} %</td>
				</tr>
			</table>

			<ul class="pagination">
	  			<li ng-repeat="a in getPages(resultsWeekCount)"><a ng-class="activePage(a)" href="" ng-click="setPage(a)">{{a+1}}</a></li>
	  		</ul>
		</div>
		<div id="follower-week">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 57%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-4" style="width: 15%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Followerperformance</th>
					<th>Followerbewertung</th>
				</tr>
				<tr ng-repeat="result in resultsFollowerWeek | orderBy:'rank' ">
					<td>{{result.rank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{(result.weekfperf-1)*100 | number:2}} %</td>
					<td>{{(result.weekfperfval)*100000 | number:2}}</td>
				</tr>
			</table>
			<ul class="pagination">
	  			<li ng-repeat="a in getPages(resultsFollowerWeekCount)"><a ng-class="activePage(a)" href="" ng-click="setPage(a)">{{a+1}}</a></li>
	  		</ul>
		</div>
		<div id="intragroup">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 57%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-4" style="width: 15%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>erh. Provision</th>
					<th>Gesamtvermögen</th>
				</tr>
				<tr ng-repeat="result in intraGroupResults | orderBy:'igrank' ">
					<td>{{result.igrank}}</td>
					<td class="rank-name"><a ng-href="#/user/{{result.name}}" style="cursor: pointer">{{result.name}}</a></td>
					<td>{{result.prov_recvd / 10000 | currency}}</td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
		<div id="intergroup">
			<table class="ranking">
				<colgroup>
				  	<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 57%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-4" style="width: 15%">
				</colgroup>
				<tr>
					<th>Rang</th>
					<th>Name</th>
					<th>Spieler</th>
					<th>erh. Provision</th>
					<th>Gesamtvermögen</th>
				</tr>
				<tr ng-repeat="result in interGroupResults | orderBy:'rank' | filter: searchText ">
					<td>{{result.rank}}</td>
					<td>{{result.schoolname}}</td>
					<td>{{result.count}}</td>
					<td>{{result.prov_recvd / 10000 | currency}}</td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
