<div id="registration" class="main-content">
  <form ng-submit="register()">
    <fieldset class="options-field"> 
      <legend>Registrierung</legend>
      <label class="reg-required" for="name">Benutzername</label>
      <input type="text" ng-model="name" placeholder="Benutzername" id="name" class="options-input"><br>
      <label class="reg-required" for="password">Passwort</label>
      <input type="password" ng-model="password" placeholder="Passwort" id="password" class="options-input"><br>
      <label class="reg-required" for="password_check">Wiederhole dein Passwort</label>
      <input type="password" ng-model="password_check" placeholder="Passwort" id="password" class="options-input"><br>
      <label class="reg-required" for="email">E-Mail</label>
      <input type="email" ng-model="email" placeholder="E-Mail" id="email" class="options-input"><br>
      <label class="reg-required" for="giv_name">Vorname</label>
      <input type="text" ng-model="giv_name" placeholder="Vorname" id="giv_name" class="options-input"><br>
      <label class="reg-required" for="fam_name">Nachname</label>
      <input type="text" ng-model="fam_name" placeholder="Nachname" id="fam_name" class="options-input"><br>
      <label for="realnamepublish">Soll dein Klarname veröffentlicht werden?</label>
      <input type="checkbox" ng-model="realnamepublish" id="realnamepublish"> Ja<br>
      <label for="schoolname">Institution / Schule</label>
      <input type="text" ng-model="schoolname" placeholder="Schule" id="schoolname" class="options-input"><br>
      <label for="tradersp">TRADERS´ Magazin zugesandt bekommen</label>
      <input type="checkbox" ng-model="tradersp" id="tradersp"><br>
      <label for="tradersp">TRADERS´ Magazin als E-Mail</label>
      <input type="checkbox" ng-model="traderse" id="traderse"><br>
      <label for="wot"><a href="https://www.wot-messe.de">World-of-Trade</a>-Eintrittskarten</label>
      <input type="checkbox" ng-model="wot" id="wot"><br>
      <div ng-show="tradersp||wot">
            <label class="options-field-label" for="street">Adresse <span class="batch tooltip" data-info="Wir verwenden deine Daten nicht für Werbezwecke; Wir nutzen deine Kontaktdaten lediglich, um dir Preise, die WOT-Karten oder das TRADERS´ Magazin zuzuschicken. Ausschließlich für diesen Zweck werden die Daten evtl. an diese Partner weitergegeben.">&#xF0AD;</span></label>
            <input type="text" ng-model="street" placeholder="Straße, Hausnr." id="street" class="options-input" style="width:180px">
            <input type="text" ng-model="zipcode" placeholder="PLZ" id="zipcode" class="options-input" style="width:60px">
            <input type="text" ng-model="town" placeholder="Stadt" id="town" class="options-input" style="width:100px">
      </div>
      <label class="reg-required" for="agbread"><a href="#/tos">AGB</a> gelesen?</label>
      <input type="checkbox" ng-model="agbread" id="agbread" class="options-input"> Ja<br>
    </fieldset>
    <div style="text-align: right">
      <input type="submit" value="Registrieren" id="options-sb">
    </div>
  </form>
</div>
