<div id="registration" class="main-content">
  <form ng-submit="register()">
    <fieldset class="options-field"> 
      <legend>Registrierung</legend>
      <label class="reg-required" for="name">Benutzername</label>
      <input type="text" ng-model="name" placeholder="Benutzername" id="name" class="options-input"><br>
      <label class="reg-required" for="password">Passwort</label>
      <input type="password" ng-model="password" placeholder="Passwort" id="password" class="options-input"><br>
      <label class="reg-required" for="password_check">Wiederhole dein Passwort</label>
      <input type="password" ng-model="password_check" placeholder="Passwort" id="password" class="options-input"><br>
      <label class="reg-required" for="email">E-Mail</label>
      <input type="email" ng-model="email" placeholder="E-Mail" id="email" class="options-input"><br>
      <label class="reg-required" for="agbread"><a href="#/tos">AGB</a> gelesen?</label>
      <input type="checkbox" ng-model="agbread" id="agbread" class="checkbox"> Ja<br>
    </fieldset>
    <div style="text-align: left">
          <span style="color:#a00;font-size:85%">*</span>: Pflichtangabe
    </div>
    <div style="text-align: right">
      <input type="submit" value="Registrieren" id="options-sb">
    </div>
  </form>
</div>
