<div id="trade" class="main-content">
	<form ng-submit="buy()">
		<fieldset class="options-field" style="position: relative;"> 
				<legend>Wertpapiername</legend>
				<div class="trade-label">
					Suche hier nach einem Wertpapier, das du handeln möchtest und bestätige dann deine Auswahl.
				</div>
				<label for="paper" class="trade-label-input">Name</label>
				<input type="text" class="options-input"
                                placeholder="Wertpapiername" id="paper" ng-model="stockname">
		</fieldset>
		<fieldset class="options-field"> 
			<div class="options-field paper-preview-box"> 
				<table class="paper-preview">
					<tr ng-show="leader"><th>Name</th><td><a href="#/user/{{cur.leadername}}">{{stockname}}</a></td></tr>
					<tr ng-hide="leader"><th>Name</th><td ng-show="cur">{{stockname}}</td></tr>
					<tr><th><span class="batch tooltip" data-info="(Auch Geldkurs oder Nachfrage) ist der niedrigste Preis, für den ein Händler bereit wäre eine Aktie zu verkaufen">&#xF0AD;</span> Ask</th><td ng-show="cur">{{cur.ask / 10000 | currency}}</td></tr>
					<tr><th><span class="batch tooltip" data-info="(Auch Briefkurs oder Angebot) ist der höchste Preis, den ein Händler fur eine Aktie bereit ist zu zahlen">&#xF0AD;</span> Bid</th><td ng-show="cur">{{cur.bid / 10000 | currency}}</td></tr>
					<tr><th>Wert</th><td ng-show="cur">{{cur.lastvalue / 10000 | currency}}</td></tr>
					<tr ng-hide="leader"><th><span class="batch tooltip" data-info="Die Börse, an der diese Aktie gehandelt wird">&#xF0AD;</span> Exchange</th><td ng-show="cur">{{cur.exchange}}</td></tr>
				</table>
			</div>
			<legend>Anzahl</legend>
		    <input type="number" ng-model="amount" ng-change="calcValue();" placeholder="Anzahl" id="amount" class="options-input">
		    <legend>Kaufwert</legend>
		    <input type="text" ng-model="value" ng-change="calcAmount();" placeholder="Kaufwert" id="value" class="options-input">
		</fieldset>
		<div style="clear: both" />
		<fieldset class="options-field"> 
			<legend>Ordertyp</legend>
			<div class="options-button order-type">
				<label for="market">
					<input type="radio" name="ordertype" ng-model="xtype"
                                        value="market" id="market"><span>Market <span class="batch tooltip" data-info="Du kaufst zum „Ask“-Preis
und verkaufst zum „Bid“-Preis">&#xF0AD;</span></span>

				</label>
			</div>
			<div class="options-button order-type">
				<label for="limit"> 
					<input type="radio" name="ordertype" ng-model="xtype"
                                        value="limit" id="limit"><span>Limit <span class="batch tooltip" data-info="Du kaufst nur dann, wenn der Wert unter dem von dir eingegebenen Limit-Wert fällt und verkaufst nur dann, wenn der Wert über den von dir festgelegten Limit-Wert steigt">&#xF0AD;</span></span>
				</label>
			</div>
			<div class="options-button order-type">
				<label for="stop">
					<input type="radio" name="ordertype" ng-model="xtype"
                                        value="stop" id="stop"><span>Stop <span class="batch tooltip" data-info="Du kaufst erst dann, wenn der Wert über den von dir festgelegten Stop-Wert steigt
und verkaufst erst dann, wenn der Wert unter den von dir festgelegten Stop-Wert fällt">&#xF0AD;</span></span>
				</label>
			</div>

			<div class="trade-label trade-label-button">Kauf/Verkauf</div> <!-- redundant? -->
			<div class="options-button order-type">
				<label for="buy"> 
					<input type="radio" name="sellbuy" ng-model="sellbuy"
                                        value="1" id="buy"><span>Kaufen</span>
				</label>
			</div>
			<div class="options-button order-type">
				<label for="sell">
					<input type="radio" name="sellbuy" ng-model="sellbuy"
                                        value="-1" id="sell"><span>Verkaufen</span>
				</label>
			</div>

		<!-- FALLS LIMIT ODER STOP  soll am besten ja so aufploppen -->

			<div class="trade-label trade-label-button">Stop-/Limitwert</div><!-- angularykeyword damits eindeutig wird? redundant?  -->
		    <label for="limit-stop">Wo soll der Stop-/Limitwert liegen?</label><!-- angularykeyword damits eindeutig wird? -->
		    <input type="number" ng-model="xvalue" placeholder="Stop-/Limitwert" id="limit-stop" class="options-input"> <!-- angularykeyword damits eindeutig wird? im placeholder -->
	   	</fieldset>
	   	<div style="text-align: right">
	    	<a class="text-link" style="margin-right: 20px;" href="http://tradimo.de" title="Tradimo!">Wie genau funktioniert das mit dem Traden?</a><input type="submit" value="Order aufgeben" id="options-sb">
	    </div>
	</form>
</div>
