<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="no()">×</button>
    <h4 class="modal-title">
        <i class="fa fa-check-circle-o"></i> {{header}}
    </h4>
</div>
<div class="modal-body" ng-bind-html="msg"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="yes()" translate>Yes</button>
    <button type="button" class="btn btn-primary" ng-click="no()" translate>No</button>
</div>
