<img title="Tradity" alt="Tradity" src="/img/tradity_symbol.png" />
<h2 i18n>Welcome back!</h2>
<form (ngSubmit)="login()" tradity-form>
  <input tradity-input type="text" placeholder="User name" name="username" [value]="formValues.username" (input)="updateForm('username', $event.target.value)" autofocus />
  <input tradity-input type="password" placeholder="Password" name="password" [value]="formValues.password" (input)="updateForm('password', $event.target.value)" />
  <input type="checkbox" name="stayloggedin" id="stayloggedin" [value]="formValues.stayLoggedIn" (input)="updateForm('stayLoggedIn', $event.target.value)" /><label for="stayloggedin" i18n>Remember me</label>
  <button tradity-button type="submit" [disabled]="!(formValues.username && formValues.password)" i18n>Log in</button>
</form>
<tradity-bottom-nav>
  <a role="button" (click)="resetPassword()" i18n>Forgot Password?</a><!--
  --><a [routerLink]="['/register']" i18n>Registration</a>
</tradity-bottom-nav>