<form (ngSubmit)="parent.register1()" tradity-form>
  <tradity-input type="text" prefix="person" placeholder="User name" i18n-placeholder name="username" [(ngModel)]="parent.username" autofocus></tradity-input>
  <tradity-input type="email" prefix="email" placeholder="Email address" i18n-placeholder name="email" [(ngModel)]="parent.email"></tradity-input>
  <tradity-input type="password" prefix="lock" placeholder="Password" i18n-placeholder name="password" [(ngModel)]="parent.password"></tradity-input>
  <tradity-input type="password" prefix="lock" placeholder="Repeat password" i18n-placeholder name="passwordCheck" [(ngModel)]="parent.passwordCheck"></tradity-input>
  <button tradity-button type="submit" [disabled]="!(parent.username && parent.email && parent.password && parent.passwordCheck)" i18n>Continue</button>
</form>