<div id="notifications">
  <tradity-notification
    *ngFor="let notification of notifications | async"
    [id]="notification.id"
    [type]="notification.type"
    [message]="notification.message"
  ></tradity-notification>
</div>
<header *ngIf="isLoggedIn | async">
  <nav>
    <a role="button" (click)="toggleMenu()"><tradity-icon>menu</tradity-icon></a>
    <span>Tradity</span>
    <a [routerLink]="['/stocks']"><tradity-icon>search</tradity-icon></a>
    <div [class.menu-open]="isMenuOpen">
      <img id="profile-pic" src="https://placehold.it/80x80">
      <span id="username">{{user.name}}</span>
      <span id="email">{{user.email}}</span>
      <ul>
        <li><a [routerLink]="['/']" routerLinkActive = "active" [routerLinkActiveOptions]="{ exact: true }" i18n>Dashboard</a></li>
        <li><a [routerLink]="['/portfolio']" routerLinkActive = "active" i18n>Portfolio</a></li>
        <li><a [routerLink]="['/stocks']" routerLinkActive = "active" i18n>Stocks</a></li>
        <li><a [routerLink]="['/ranking']" routerLinkActive = "active" i18n>Leaderboard</a></li>
        <li *ngIf="user.dschoolid"><a [routerLink]="['/group/' + user.dschoolid]" routerLinkActive = "active" i18n>My group</a></li>
        <!--<li><a [routerLink]="['/education']" routerLinkActive = "active" i18n>Education</a></li>-->
        <li><a (click)="logout()" routerLinkActive = "active" i18n>Logout</a></li> 
      </ul>
    </div>
  </nav>
  <div id="subheader" *ngIf="heading1 || heading2">
    <h2>{{heading2}}</h2>
    <h1>{{heading1}}</h1>
  </div>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>