<md-sidenav-layout>
  <md-sidenav #sidenav>
    <md-nav-list>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
</md-sidenav-layout>
<nav>
  <a [routerLink]="['/portfolio']">/portfolio</a>
  <a [routerLink]="['/profile']">/profile</a>
  <a [routerLink]="['/transactions']">/transactions</a>
  <a [routerLink]="['/ranking']">/ranking</a>
</nav>
<router-outlet></router-outlet>