<!DOCTYPE html>
<html lang="de" ng-app="tradity">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>tradity</title>
        <meta name="description" content="Beim Börsenspiel Tradity bist Du gefragt Dein virtuelles Startkapital möglichst vielversprechend in Wertpapiere zu investieren."> <!-- edit -->
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

        <!-- build:css({.tmp,app}) css/main.css -->
        <link rel="stylesheet" href="css/ac.css">
        <link rel="stylesheet" href="css/introjs.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/forms-min.css">
        <link rel="stylesheet" href="css/grids-min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">

        <link rel="stylesheet" href="css/desktop.css">
        <link rel="stylesheet" href="css/mobile.css">


        
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) js/scripts.js -->
        <script type="text/javascript" src="js/vendor/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="js/vendor/angular-locale_de.js"></script>
        <script type="text/javascript" src="js/bindonce.min.js"></script>
        <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
        <script type="text/javascript" src="js/vagueTime.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="js/jqplot.highlighter.min.js"></script>
        <script type="text/javascript" src="js/jqplot.cursor.min.js"></script>
        <script type="text/javascript" src="js/jqplot.enhancedLegendRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.dateAxisRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasAxisTickRenderer.min.js"></script>
        <script type="text/javascript" src="js/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="js/ac.js"></script>
        <script type="text/javascript" src="bower_components/socket.io-client/dist/socket.io.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers/main.js"></script>
        <script type="text/javascript" src="js/controllers/herounit.js"></script>
        <script type="text/javascript" src="js/controllers/login.js"></script>
        <script type="text/javascript" src="js/controllers/registration.js"></script>
        <script type="text/javascript" src="js/controllers/feed.js"></script>
        <script type="text/javascript" src="js/controllers/options.js"></script>
        <script type="text/javascript" src="js/controllers/depot.js"></script>
        <script type="text/javascript" src="js/controllers/trade.js"></script>
        <script type="text/javascript" src="js/controllers/profile.js"></script>
        <script type="text/javascript" src="js/controllers/ranking.js"></script>
        <script type="text/javascript" src="js/controllers/tradeDetails.js"></script>
        <script type="text/javascript" src="js/controllers/admin.js"></script>
        <script type="text/javascript" src="js/directives/profile.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-controller="MainCtrl">

        <div ng-controller="HerounitCtrl">
            <div id="hero-wrapper" ng-class="{'hide-herounit':ownUser}">
                <div class="herounit-spacer">
                    <div id="herounit"> 
                        <img src="img/logo.png" class="logo">      
                        <p class="slogan">Sei Teil des ersten <b>Social Trading Börsenspiels</b> der Welt</p>
                        <div class="actions" ng-show="actions">
                            <a ng-click="showRegister()" id="register-btn" href="" class="btn btn-primary register">Registrieren</a></br>
                            <span class="login">oder <a href="" id="login-btn" ng-click="showLogin()">Anmelden</a> </span>
                        </div>
                        
                        <ng-include src="'templates/login.html'"></ng-include>
                        <ng-include src="'templates/registration.html'"></ng-include>
                        
                        <div class="showcase pure-g" ng-hide="registerForm || loginForm">
                            <div class="row pure-u-1-3" ng-click="goto('info1')">
                                <div class="header social">
                                    <i class="fa fa-bar-chart-o"></i><br>
                                    <h2>Börsenspiel</h2>
                                </div>
                            </div>
                            <div class="row pure-u-1-3" ng-click="goto('info2')">
                                <div class="header education blue">
                                    <i class="fa fa-users"></i><br>
                                    <h2>Social</h2>
                                </div>
                            </div>
                            <div class="row pure-u-1-3 last" ng-click="goto('info3')">
                                <div class="header social">
                                    <i class="fa fa-book"></i><br>
                                    <h2>Learning</h2>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <footer class="footer">
                            <div class="footer-right">
                                <img  src="img/android.png"><br>
                                Kontakt: <a class="text-link" href="mailto:team@tradity.de">team@tradity.de</a><br>
                                bei technischen Fragen: <a class="text-link" href="mailto:tech@tradity.de">tech@tradity.de</a>
                                
                            </div>
                            <div class="left-footer">
                                <div class="social-links">
                                    <a href="https://facebook.com/tradity.de" target="_blank" title="Facebook Seite"><i class="fa fa-facebook-square"></i></a>
                                    <a href="https://twitter.com/TradityDe" target="_blank" title="Folge uns auf Twitter !"><i class="fa fa-twitter-square"></i></a>
    <!--                                <a href="http://blog.tradity.de/" target="_blank" title="Lies unseren Blog"><i class="fa fa-pencil-square"></i></a> -->
                                </div>
    <!--                             <a class="footer-link" href="https://presse.tradity.de/"><i class="fa fa-quote-left"></i> Presse</a> -->
                                <a class="footer-link" ng-click="goto('teampage')" href=""><i class="fa fa-rocket"></i> Das Team</a>
                                <a class="footer-link" href="legal.html"><i class="fa fa-gavel"></i> Impressumg/AGB</a>

                            </div>
                        </footer>
                    </div>
                </div>
                <div class="infounit first" id="info1">
                    <div class="info-item">
                        <div class="header social">
                            <i class="fa fa-bar-chart-o"></i><br>
                            <h2>Das Börsenspiel</h2>
                        </div>
                        <div class="content">
                            <p>
                                Beim Börsenspiel Tradity bist Du gefragt Dein virtuelles Startkapital von 100.000 Euro möglichst vielversprechend in Wertpapiere zu investieren. Dabei stehen Dir sämtliche handelbaren Wertpapiere der Börse Frankfurt zur Verfügung – und das in Echzeit! </p><p>
                                Dein Ziel? Die besten Aktien für eine nachhaltige Entwicklung auszuwählen und zu handeln. So bekommst Du die Möglichkeit, ohne Risiko erste Erfahrungen mit dem Thema Finanzen und Börse zu machen und außerdem einen von vielen attraktiven Preisen zu gewinnen. </p><p>
                                Sei dabei, wenn Tradity im Mai 2014 in die zweite Staffel geht!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="infounit blue" id="info2">
                    <div class="info-item">
                        <div class="header social">
                            <i class="fa fa-users"></i><br>
                            <h2>Social</h2>
                        </div>
                        <div class="content">
                            <p>
                                Tradity ist kein gewöhnliches Börsenspiel. Interaktiver Austausch, integrierter Feed und transparente Ranglisten ermöglichen es Dir, Dich direkt mit Deinen Freunden zu vergleichen, die besten Trader zu finden und von Ihnen und der Community zu lernen. </p><p>
                                Darüber hinaus kannst Du Dein Kapital nicht nur in erfolgsträchtige Wertpapiere investieren, sondern ebenso auch in fähige Teilnehmer. Dabei vertraust Du anderen Teilnehmern Deiner Wahl (sogenannten Leadern) einen beliebigen Teil Deines Vermögens an, von dessen Gewinnen im Erfolgsfall ein Teil an Deinen Leader abfällt – aber nur von Deinen Gewinnen. Im Verlustfall geht Ihr beide leer aus. </p><p>
                                Du willst selber Leader werden und das Kapital anderer Trader verwalten? Dann zeige der Community Deine Fähigkeiten!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="infounit" id="info3">
                    <div class="info-item">
                        <div class="header">
                            <i class="fa fa-book"></i><br>
                            <h2>Learning</h2>
                        </div>
                        <div class="content">
                            <p>
                                Das Ziel Traditys ist es, Schülern und Studenten grundlegende Zusammenhänge der Finanzmärkte und Wirtschaft aufzuzeigen und sie in Ihrer Eigenständigkeit zu fördern, Entscheidungen hinsichtlich Ihrer zukünftigen Anlagemöglichkeiten zu fällen. </p><p>
                                Tradity strebt daher danach, den Teilnehmern umfangreiche und nachhaltigkeitsorientieren Ansätze in der Bildung zu bieten. Dazu gehört vor allem ein börsenspielbegleitendes und mit renommierten Börsenexperten erstelltes Lernangebot, welches verschiedene Ausrichtungsmöglichkeiten für den Wirtschafts- und Politikunterricht an Schulen bietet. </p><p>
                                Ebenso möchten wir über vertiefte Kooperation mit Schulen und regionalen Institutionen eine Brücke zwischen dem Börsenspiel und der Schule schaffen, welche finanzielle Bildung in Schulen verstärkt thematisiert.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="infounit team blue" id="teampage">
                        <div class="header">
                            <i class="fa fa-rocket"></i><br>
                            <h2>Das Team</h2>
                        </div>
                        <div class="content">
                            <div class="team-item">
                                <img class="team-pic" src="img/team/bakhai.jpg">
                                <h2>Ba Khai Tran</h2>
                                <div class="content">
                                    <p>
                                        Schüler, 19
                                    </p>
                                    <p>
                                        Parnter und Sponsoren
                                    </p>
                                    <p>
                                        bakhai.tran@tradity.de
                                    </p>
                                </div>
                            </div>
                            <div class="team-item">
                                <img class="team-pic" src="img/team/moritz.jpg">
                                <h2>Moritz Funk</h2>
                                <div class="content">
                                    <p>
                                        Schüler, 18
                                    </p>
                                    <p>
                                        Schulkooperationen
                                    </p>
                                    <p>
                                        moritz.funk@tradity.de
                                    </p>      
                                </div>
                            </div>
                            <div class="team-item">
                                <img class="team-pic" src="img/team/noah.jpg">
                                <h2>Noah Leonavicius</h2>
                                <div class="content">
                                    <p>
                                        Schüler, 19
                                    </p>
                                    <p>
                                       Marketing 
                                    </p>
                                    <p>
                                        noah.leonavicius@tradity.de
                                    </p>  
                                </div>
                            </div>
                            <div class="team-item">
                                <img class="team-pic" src="img/team/nico.jpg">
                                <h2>Nico Haesler</h2>
                                <div class="content">
                                    <p>
                                        Student, 21
                                    </p>
                                    <p>
                                        Frontend Engineering
                                    </p>
                                    <p>
                                        tech@tradity.de
                                    </p>  
                                </div>
                            </div>
                            <div class="team-item">
                                <img class="team-pic" src="img/team/barne.jpg">
                                <h2>Barne Jürgensen</h2>
                                <div class="content">
                                    <p>
                                        Schüler, 18
                                    </p>
                                    <p>
                                        Frontend Engineering/Design
                                    </p>
                                    <p>
                                        tech@tradity.de
                                    </p>  
                                </div>
                            </div>
                            <div class="team-item">
                                <img class="team-pic" src="img/team/hauke.jpg">
                                <h2>Hauke Henningsen</h2>
                                <div class="content">
                                    <p>
                                        Student, 21
                                    </p>
                                    <p>
                                        Backend Engineering
                                    </p>
                                    <p>
                                        tech@tradity.de
                                    </p>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="wrapper">
                <header id="header">
                    <div class="inner">
                        
                        <div class="pull-right user-info">
                                <a ng-href="#/user/{{ownUser.name}}" class="name" accesskey="p" title="Hier gehts zu deinem Profil" class="block-link profile-link">
                                    <img style="float:right" id="profile-picture" class="inline" height="50px" ng-src="{{ownUser.profilepic}}" alt="Profilbild">
                                    <h2 style="float:right">{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</h2>
                                    
                                </a>
                        </div>

                        

                        
                        <a href="" class="mobile-bar mobile-only" id="togglemenu"><i class="fa fa-bars"></i></a>
                        <div class="pull-right mobile-only">
                            <a href="" class="pull-right inline cog dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a><b>{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</b></a></li>
                                <li><a ng-href="#/user/{{ownUser.name}}">Mein Profil</a></li>
                                <li><a href="#/options">Einstellungen</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logout()" href="">Abmelden</a></li>
                            </ul>
                        </div>

                        <div id="logo"><img src="img/tradity_symbol.png"></div>
                        <div class="inline mobile-hide">
                            <h2 class="title">Konto</h2>
                            <span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
                        </div>

                        <div class="inline mobile-hide">
                            <h2 class="title">Gesamtvermögen</h2>
                            <span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
                        </div>

                        <div class="inline mobile-hide">
                            <h2>Rang</h2>
                            <span class="placement-number">{{ownUser.rank}}</span>
                        </div>



                        <!--a class="batch font-20" style="cursor: pointer" ng-click="logout()" title="Logout">&#xF02B;</a-->
                        
                    </div>
                </header>
                <div class="pure-g">
                    <div class="pure-u-1-5">                        
                        <nav id="nav" data-step="100" data-position="right" data-intro="Finde mehr heraus indem du Dich durch die Navigation klickst.">
                            <ul>
                                <li>
                                    <a ui-sref="feed" accesskey="f" ng-class="{active:isActive('/')}">
                                        <i class="fa fa-inbox"></i>
                                        <span class="dark nav-block-title">Neuigkeiten</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/depot" accesskey="d" title="ALT+SHIFT+D" ng-class="{active:isActive('/depot')}">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <span class="dark nav-block-title">Mein Depot</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/trade" accesskey="t" title="ALT+SHIFT+T" ng-class="{active:isActive('/trade')}">
                                        <i class="fa fa-eur" ></i>
                                        <span class="dark nav-block-title">Trade</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/ranking" accesskey="r" title="ALT+SHIFT+R" ng-class="{active:isActive('/ranking')}">
                                        <i class="fa fa-flag"></i> 
                                        <span class="dark nav-block-title">Rangliste</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="options" accesskey="o" title="ALT+SHIFT+O" ng-class="{active:isActive('/options')}">
                                        <i class="fa fa-wrench"></i>
                                        <span class="dark nav-block-title">Einstellungen</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/faq"  accesskey="h" title="ALT+SHIFT+H" ng-class="{active:isActive('/faq')}">
                                        <i class="fa fa-question"></i>
                                        <span class="dark nav-block-title">Häufige Fragen</span>
                                    </a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                    <div class="pure-u-4-5 content-wrapper">
                        <div ui-view></div>
                    </div>
                </div>
                <!--footer id="footer">
                    <ul id="social-links" class="profile-box">
                        <li>
                            <a class="transparent-30 social-link twitter" target="_blank" href="https://twitter.com/tradityde"><img src="img/glyphicons/glyphicons_social_31_twitter.png" alt="Twitter"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link facebook" target="_blank" href="https://facebook.com/tradityde"><img src="img/glyphicons/glyphicons_social_30_facebook.png" alt="Facebook"></a>
                        </li>
                        <li>
                            <a class="transparent-30 social-link google" target="_blank" href="http://blog.tradity.de"><img src="img/glyphicons/glyphicons_social_09_wordpress.png"></a>
                        </li>
                    </ul>
                    <a class="text-link footer-text" href="#/gettingstarted">Getting Started</a> 
                    <a class="text-link footer-text" href="legal.html">Allgemeine Geschäftsbedingungen</a>
                    <a class="text-link footer-text" href="legal.html">Impressum</a> 
                    <span class="footer-text">tradity, 2014</span>
                </footer-->
            </div>
        </div>
    </body>
</html>
