<nav tradity-subnav>
  <ul>
    <li><a [routerLink]="['/positions']">Positions</a></li>
    <li><a [routerLink]="['/orders']">Orders</a></li>
    <li><a [routerLink]="['/history']">History</a></li>
  </ul>
</nav>
<table>
  <tr *ngFor="let paper of portfolio | async">
    <td>{{paper.stockname}}</td>
    <!--<td>{{paper.buytime * 1000 | date:'short'}}</td>
    <td>{{paper.total / 10000 | number:'1.0-3'}} €</td>
    <td>{{paper.amount}}</td>
    <td>{{paper.buymoney / paper.amount / 10000 | number:'1.0-3'}} €</td>
    <td>{{paper.bid / 10000 | number:'1.0-3'}} €</td>-->
    <td>
      {{(paper.bid * paper.amount - paper.buymoney)
      / paper.buymoney * 100 | number:'1.0-2'}} %
    </td>
    <!--<td>
      {{(paper.bid - paper.daystartvalue)
      / paper.daystartvalue * 100 | number:'1.0-2'}} %
    </td>-->
  </tr>
</table>