<tradity-li *ngFor="let paper of parent.group.popularStocks">
    <tradity-li-img [placeholder]="paper.stockname"></tradity-li-img>
    <tradity-li-header>
      <span left>{{paper.stockname}}</span>
      <span left>{{paper.stocktextid}}</span>
      <span right>{{paper.lastvalue / 10000 | currency:'EUR'}}</span>
    </tradity-li-header>
    <tradity-li-action-list>
      <tradity-action-favourite></tradity-action-favourite>
      <tradity-action-stock-info [isin]="paper.stocktextid"></tradity-action-stock-info>
      <tradity-action-buy [isin]="paper.stocktextid"></tradity-action-buy>
      <tradity-action-sell [isin]="paper.stocktextid"></tradity-action-sell>
      <tradity-action-expand></tradity-action-expand>
    </tradity-li-action-list>
    <tradity-li-vl>
      <tradity-li-vi>
        <span i18n>Ask price</span>
        <span>{{paper.ask / 10000 | currency:'EUR'}}</span>
      </tradity-li-vi>
      <tradity-li-vi>
        <span i18n>Bid price</span>
        <span>{{paper.bid / 10000 | currency:'EUR'}}</span>
      </tradity-li-vi>
      <tradity-li-vi>
        <span i18n>Tradable amount</span>
        <span>{{paper.pieces}} pc</span>
      </tradity-li-vi>
    </tradity-li-vl>
  </tradity-li>