<a *ngIf="group.parentSchool?.schoolinfo" [routerLink]="['/group/' + group.parentSchool?.schoolinfo?.schoolid]" i18n>View city</a>
<tradity-vl>
  <tradity-vl-li>
    <span>TODO</span>
    <span i18n>Your Group Rank</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>{{group.usercount}}</span>
    <span i18n>Members</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>{{group.avgtotalvalue / 1000000000 - 1 | percent}}</span>
    <span i18n>Average performance</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>TODO</span>
    <span i18n>Number of trades</span>
  </tradity-vl-li>
</tradity-vl>
<nav tradity-subnav>
  <ul>
    <li><a [routerLink]="['ranking']" routerLinkActive="active">Leaderboard</a></li><!--
    --><li><a [routerLink]="['favourites']" routerLinkActive="active">Most traded</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>