:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

:host-context(tradity-li) {
  display: none;
}

:host-context(tradity-li.expanded) {
  display: flex;
}