:host {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  margin: -5px 0 5px;
}

:host >>> a {
  text-decoration: none;
  color: rgba(23,8,4,0.8);
}

:host >>> a[tradity-action-expand]::before {
  content: "expand_more";
}

:host-context(tradity-li.expanded) >>> a[tradity-action-expand]::before {
  content: "expand_less";
}