nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  transition: all 1s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

ul.menu-open {
  height: 100vh;
  visibility: visible;
  opacity: 1;
}

li {
  display: block;
}

#subheader {
  background-color: #f1592a;
  color: white;
  overflow: hidden;
  padding: 20px;
}

main {
  padding: 20px;
}