<header>
  <nav>
    <span (click)="toggleMenu()">toggle</span>
    <span>Tradity</span>
    <span>search</span>
    <div [class.menu-open]="isMenuOpen">
    <img src="https://placehold.it/81x81">
    <h2>Pengu</h2>
    <p>pengu@tradity.de</p>
    <ul>
      <li><a [routerLink]="['/dashboard']" routerLinkActive = "active">Dashboard</a></li>
      <li><a [routerLink]="['/portfolio']" routerLinkActive = "active">Portfolio</a></li>
      <li><a [routerLink]="['/profile']" routerLinkActive = "active">Profile</a></li>
      <li><a [routerLink]="['/trade']" routerLinkActive = "active">Trade</a></li>
      <li><a [routerLink]="['/ranking']" routerLinkActive = "active">Leaderboard</a></li>
      <li><a [routerLink]="['/education']" routerLinkActive = "active">Education</a></li>
      <li><a (click)="logout()" routerLinkActive = "active">Logout</a></li> 
    </ul>
    </div>
  </nav>
  <div id="subheader">
    <h3>Breadcrumb</h3>
    <h1>Heading</h1>
  </div>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>