nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 20px;
  color: #170804;
}

nav a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #170804;
}

nav span:first-of-type {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

ul {
  margin: 30px;
  padding: 30px;
  list-style: none;
  text-align: center;
  border-top: 1px solid #9B9B9B;
}

img {
  border-radius: 40px;
}

nav div {
  width: 100%;
  transition: all 1s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

nav div.menu-open {
  height: 100vh;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  visibility: visible;
  opacity: 1;
}

li {
  display: block; 
  color: #170804;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
}

#subheader {
  background-color: #f1592a;
  color: white;
  overflow: hidden;
  padding: 20px;
}

#subheader h2 {
  margin: 8px 0 2px;
  font-size: 16px;
  line-height: 19px;
}

#subheader h1 {
  margin: 2px 0 8px;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

li a {
  text-decoration: none;
  color: #170804;
  text-align: center;
}

li a.active {
  color: orangered;
}