:host {
  text-align: center;
}

[tradity-form] {
  margin: 3em;
}

.bottom-links {
  display: flex;
}

a {
  display: inline-flex;
  height: 4em;
  flex-basis: 50vw;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-color: grey;
  border-width: 2px 0 0 0;
  border-style: solid;
  text-decoration: none;
  color: black;
}

a:first-of-type {
  border-right-width: 1px;
}

a:nth-of-type(2) {
  border-left-width: 1px;
}