<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<h2>Welcome back</h2>
<form (ngSubmit)="login()" tradity-form>
  <input type="text" placeholder="User name" name="username" [(ngModel)]="username" autofocus />
  <input type="password" placeholder="Password" name="password" [(ngModel)]="password" />
  <input type="checkbox" name="stayloggedin" [(ngModel)]="stayloggedin" /><label for="stayloggedin">Remember me</label>
  <button type="submit" translate>Log in</button>
</form>
<div class="bottom-links">
  <a href="#">Forgot Password?</a><!--
  --><a [routerLink]="['/register']">Registration</a>
</div>