body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

a:active {
  outline: none;
}

:focus {
  -moz-outline-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #a7a7a7;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 960px) {

div.fixed-name-container {
    border-bottom: thin solid #a7a7a7;
    padding: 15px 10px;
    position: fixed;
    top: 0px;
    width: 750px;
    background-color: #fff;
    display: none;
    margin: 0px;
}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
    @font-faces
   ========================================================================== */

@font-face {
  font-family: "batch";
  src: url("type/batch/batch.eot");
  src: local("☺"),
    url("type/batch/batch.woff") format("woff"),
    url("type/batch/batch.otf") format("opentype"),
    url("type/batch/batch.svg#batch") format("svg");
}

/* ==========================================================================
    User Styles - Main
   ========================================================================== */

body {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
}

.alarm-box {
    background-color: #bf414c;
    border: thin solid #a13547;
    color: #fff;
    font-family: "Abel", "Droid Sans", sans-serif;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;
}

.text-link {
    color: #369;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link:active {
    color: #000;
}

.batch {
    font-family: 'batch', sans-serif;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    position: relative;
}

#nav, #logo {
    margin: 5px;
    float: left;
}

#profile,
#footer,
.main-content {
    width: 750px;
    margin: 5px 0 0 0;
    float: right;
}

#nav {
    width: 150px;
    min-height: 600px;
}

.main-content {
    min-height: 550px;
    padding: 0 10px;
    margin: 0;
}

#logo {
    width: 150px;
    height: 150px;
    background-image: url('../img/logo_tradity.png');
}

#profile {
    width: 770px;
    padding: 0px;
    height: 130px; 
    margin: 5px 0 5px 0;
}

#footer {
    border-top: thin solid #a7a7a7;
    clear: both;
    text-align: right;
    padding: 0 10px;
    margin: 30px 0 0 0;
}

#nav ul {
    font-family: 'Abel', 'Droid Sans', sans-serif;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    list-style-image: none;
}

#nav ul li {
    margin: 0 0 5px 0;
}

#nav ul li a{
    width: 148px;
    padding: 1px;
    display: block;
    color: #a7a7a7;
    overflow: hidden;
}

#nav ul li a:hover{
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: thin solid #ccc;
    color: #369;
    -webkit-transition:color 0.3s ease-in;  
    -moz-transition:color 0.3s ease-in;  
    -o-transition:color 0.3s ease-in;  
    transition:color 0.3s ease-in;
}

#nav ul li a:active,
#nav ul li a:focus{
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: thin solid #369;
    color: #369;
    outline: none;
}

.nav-block-symbol {
    margin: 10px 0 0 0;
    display: block;
    font-size: 30px;
    height: 75px;
    position: relative;
    bottom: -8px;
}

.nav-block-title {
    display: block;
    position: relative;
    top: -20px;
}

h1#tradity {
    -webkit-box-shadow: 50px 50px 20px 20px #fff;
    box-shadow: 0px 0px 20px 20px #fff;
    -moz-box-shadow: 0px 0px 20px 20px #fff;
    background-color: #fff;
    color: #369;
    display: none;
    position: fixed;
    font-size: 35px;
    margin: 5px;
    width:150px;
    text-align: center;
    z-index: 1;
}

#tradity:hover {
    color: #dc6; 
    filter: dropshadow(color=#3b3b3b, offx=1, offy=1);
    -webkit-transition:color 0.3s ease-in;  
    -moz-transition:color 0.3s ease-in;  
    -o-transition:color 0.3s ease-in;  
    transition:color 0.3s ease-in;
}

#name-container {
}

.name, .depot {
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0;
    float: left;
}

.name {
    width: 500px;
}

.depot{
    width: 248px;
    text-align: right;
}

.nick {
    font-size: 20px;
    color: #369;
}

.title {
    font-family: 'Abel', 'Droid Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0;
    color: #aaa;
}

.name-container {
    margin: 0 0 0 10px;
}



.profile-box {
    font-size: 11px;
    float: left;
    padding: 0 0 0 10px;
    overflow: hidden;
    height: 110px;
}

#profile-picture {
    display: block;
    width: 100px;
}

#bio {
    width: 200px;
}

#buttons {
    margin: 0 10px 0 0;
    float: right;
    list-style-type: none;
    padding: 0;
}

#buttons li {
    margin: 10px 0 0 0;
    color: #a7a7a7;
}

#buttons li:hover,
.trade:hover {
    color: #369;
    -webkit-transition:color 0.3s ease-in;  
    -moz-transition:color 0.3s ease-in;  
    -o-transition:color 0.3s ease-in;  
    transition:color 0.3s ease-in;
}

#social-links {
    margin: 5px 10px 0 0;
    float: left;
    list-style-type: none;
    padding: 0;
}

#social-links li {
    display: block;
    float:left;
    height: 32px;
    width: 32px;
}

#placement {
    width: 100px;
}

.block-link {
    display: block;
    overflow: hidden;
}

.placement-number {
    font-size: 25px;
}

.facebook img:hover {
    background-color: #3b5998;
}

.google img:hover {
    background-color: #cd3d2a;
}

.twitter img:hover {
    background-color: #00acee;
}

.footer-text {
    color: #aaa;
    font-size: 12px;
}

.dark {
    color : #444;
}

.font-20 {
    font-size: 20px;
}

.transparent-30 {
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.transparent-30:hover {
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

/* ==========================================================================
    Feed
   ========================================================================== */
#feed {
    margin: 20px 0 0 0;
}

.feed-item {
    padding: 5px 0 5px 5px;
    border-left: 4px solid;
    border-bottom: 1px solid;
}

.feed-yourself { /* hihi */
    border-color: rgba(50, 100, 150, 0.5);
}

.feed-somebody { /* hihi */
    border-color: rgba(220, 200, 100, 0.5);
}

.feed-link {
    color: #369;
}

.feed-link:active {
    color: #000;
}

.feed-link:hover {
    text-decoration: underline;   
}

.feed-entry-symbol {
    font-size: 14px;
    margin: 0 0 0 5px;
    float: left;
    color: #444;
}

.feed-entry-content {
    margin: 0 0 0 28px;
}

.feed-time {
    font-size: 10px;
    color: #a7a7a7;
    display: block;
    width: 100px;
    float: right;
    text-align: right;
    margin: 5px 0 0 0;
}

.feed-item-hover{
    border-left-style: dotted;
}

/* ==========================================================================
    options / register / trade
   ========================================================================== */

.options-input,
#options-sb,
#search-button {
    border: 1px solid #a7a7a7;
    font-size: 16px;
    line-height: normal;
    border-radius: 3px;
}

.options-input {
    width: 220px;
    height: 20px;
    padding: 5px;
    margin: 5px 0 5px 0;
    box-shadow: inset 0 1px 1px #ccc;
}

.options-input:hover,
.options-input:focus {
    border-color: #105cb6;
    outline: 0;
    color: #222;
}

#options-sb,
#search-button {
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    margin: 12px 24px 0 0;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    *overflow: visible;
    *display: inline;
    *zoom: 1;
}

#search-button {
    width: auto;
    margin: 0;
    height: 32px;
}

#options-sb:hover,
#search-button:hover {
    background-color: #ccc;
}

#options-sb:active,
#search-button:active {
    background-color: #369;
    color: #fff;
}

/* Auch für Ordertyp */

.options-button {
    margin: 5px 7px 5px 0;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #ccc;
    overflow: auto;
    float: left;
}

.options-button label {
    float: left;
    width: 230px;
}

.options-button label span {
    text-align: center;
    padding: 5px 0px;
    display: block;
    cursor: pointer;
}

.options-button label input {
    position: absolute;
    top: -20px;
}

.options-button input:checked + span {
    background-color: #369;
    color: #fff;
}

.options-button:hover {
    background: #ccc;
}

.options-field {
    border: thin solid #a7a7a7;
    padding: 5px 15px 15px 15px;
}

.options-field legend {
    padding: 15px;
    font-family: "Abel", "Droid Sans", sans-serif;
}

.options-field input,
.options-field textarea {
    vertical-align: middle;
    width: 373px;
}

.options-field > label {
    display: inline-block;
    width: 320px;
}

#realnamepublish {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 5px 0;
}

#provision {
    width: 40px;
}

#desc{
    height: 100px;
}

/* ==========================================================================
     trade
   ========================================================================== */

#limit-stop, #amount {
    width: 135px;
}

.trade-label {
    font-family: "Abel", "Droid Sans", sans-serif;
    color: #a7a7a7;
}

.trade-label-button{
    margin: 60px 0 0 0;
}

label.trade-label-input {
    width: auto;
    color: #000;
    margin: 0 20px 0 0;
 }

#paper {
    width: 313px;
 }

/* ==========================================================================
    display-trade
   ========================================================================== */

/* ==========================================================================
    depot
   ========================================================================== */

.one-item-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 200px;
    margin: 0 15px;
    text-align: center;
}

.one-item-list li {
    font-family: "Abel", "Droid Sans", sans-serif;
    color : #444;
    margin: 0 0 15px 0;
}

.one-item-list li + li {
    font-family: "Droid Sans", sans-serif;
    color: #000;
}

.transaction-history {
    width: 100%;
    text-align: left;
}

.transaction-history th{
    font-family: "Abel", "Droid Sans", sans-serif;
    color: #444;
}

.transaction-history tr + tr{
    border-bottom: thin solid #a7a7a7;
}

.transaction-history td,
.transaction-history th {
    height: 100%;
    padding: 15px;
    vertical-align: middle;
}

.transaction-history tr:first-child th {
    padding: 5px 15px 0px 15px;
}

.transaction-history tr:first-child th:nth-child(2) {
    background-color: #fff;
}

.transaction-history tr td:last-child,
.transaction-history tr th:last-child {
    text-align: center;
}

.transaction-history .trade-td {
    color: #444;
    padding: 0;
}

.transaction-history .trade-td a {
    display: inline-block;
    height:100%;
    width:100%;
    padding-top: 15px;
}

.transaction-history .column-2,
.depot-follower  {
    background-color: rgba(200, 200, 200, 0.4);
}

.transaction-history .column-4-5 {
    background-color: rgba(50, 100, 150, 0.4);
}

.transaction-history .column-6-7 {
    background-color: rgba(220, 200, 100, 0.4);
}

.depot-sell {
    background-color: rgba(150, 0, 0, 0.2);
}

.depot-buy {
    background-color: rgba(0, 150, 0, 0.2);    
}