<form class="pure-form" ng-submit="login()">
    <fieldset class="pure-group">
        <input type="text" class="pure-input" ng-model="username" placeholder="Benutzername">
        <input type="password" class="pure-input" ng-model="password" placeholder="Passwort">
    </fieldset>
    <input type="checkbox" ng-model="stayloggedin" id="stayloggedin" style="display:inline-block;margin-bottom:5px;"> Eingeloggt bleiben?<br><br>

    <button type="submit" class="btn btn-small">Login</button> <a class="registerq" ng-click="showRegister()" href="">Noch nicht registriert?</a>
</form>