<div id="registration" class="main-content">
  <form>
    <input type="text" ng-model="name">
    <input type="text" ng-model="giv_name">
    <input type="text" ng-model="fam_name">
    <input type="checkbox" ng-model="realnamepublish">
    <input type="password" ng-model="password">
    <input type="password" ng-model="password_check">
    <input type="email" ng-model="email">
    <select ng-model="gender">
      <option value="male">Männlich</option>
      <option value="female">Weiblich</option>
      <option value="undisclosed">Keine Angabe</option>
    <input type="text" ng-model="school">
  </form>
</div>