<tradity-li *ngFor="let order of history | async">
  <tradity-li-img [placeholder]="order.stockname"></tradity-li-img>
  <tradity-li-header>
    <span left>{{order.stockname}}</span>
    <span left>Sold at {{order.buytime * 1000 | date:'short'}}</span>
    <span right>{{order.money / 10000}} €</span>
  </tradity-li-header>
  <tradity-li-action-list>
    <tradity-action-favourite></tradity-action-favourite>
    <a [routerLink]="['/stocks/' + order.stocktextid]" class="material-icons">info</a>
    <tradity-action-expand></tradity-action-expand>
  </tradity-li-action-list>
  <tradity-li-vl>
    <tradity-li-vi>
      <span i18n>Amount</span>
      <span>{{order.amount}}</span>
    </tradity-li-vi>
    <tradity-li-vi>
      <span i18n>Price</span>
      <span>{{order.money / order.amount / 10000}} €</span>
    </tradity-li-vi>
    <tradity-li-vi>
      <span i18n>Transaction fees</span>
      <span>{{order.fee / 10000}} €</span>
    </tradity-li-vi>
  </tradity-li-vl>
</tradity-li>