<table tradity-table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order time</th>
      <th>Amount</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | async">
      <img src="http://placehold.it/50x50">
      <td attr.data-subtext="{{order.query.dquerydata.ordertime | date:'short'}}">{{order.query.dquerydata.name}}</td>
      <td>{{order.query.dquerydata.ordertime | date:'short'}}</td>
      <td>{{order.query.dquerydata.amount}}</td>
      <td>X</td><!-- TODO: implement remove -->
    </tr>
  </tbody>
</table>