<tradity-li *ngFor="let paper of positions | async">
  <tradity-li-img [placeholder]="paper.stockname"></tradity-li-img>
  <tradity-li-header>
    <span left>{{paper.stockname}}</span>
    <span left>{{paper.total / 10000 | number:'1.0-3'}} €</span>
    <span right>
      {{(paper.bid * paper.amount - paper.buymoney)
      / paper.buymoney * 100 | number:'1.0-2'}} %
    </span>
  </tradity-li-header>
  <tradity-li-action-list>
    <tradity-action-favourite></tradity-action-favourite>
    <tradity-action-stock-info [isin]="paper.stocktextid"></tradity-action-stock-info>
    <tradity-action-buy [isin]="paper.stocktextid"></tradity-action-buy>
    <a [routerLink]="['/stocks/' + paper.stocktextid + '/trade']" class="material-icons">remove</a>
    <a role="button" tradity-action-expand class="material-icons"></a>
  </tradity-li-action-list>
  <tradity-li-vl>
    <tradity-li-vi>
      <span i18n>Performance today</span>
      <span>
        {{(paper.bid - paper.daystartvalue)
        / paper.daystartvalue * 100 | number:'1.0-2'}} %
      </span>
    </tradity-li-vi>
    <tradity-li-vi>
      <span i18n>Amount</span>
      <span>{{paper.amount}}</span>
    </tradity-li-vi>
    <tradity-li-vi>
      <span i18n>Buy price</span>
      <span>{{paper.buymoney / paper.amount / 10000 | number:'1.0-3'}} €</span>
    </tradity-li-vi>
    <tradity-li-vi>
      <span i18n>Current price</span>
      <span>{{paper.bid / 10000 | number:'1.0-3'}} €</span>
    </tradity-li-vi>
  </tradity-li-vl>
</tradity-li>
<!-- TODO: Show Buytime? -->