/* ==========================================================================
   Herounit
   ========================================================================== */

#herounit .logo {
	display: block;
	width: 80%;
	margin: 0px auto;
	padding-top: 25px;
}

/* das team */
.infounit.team > .content {
	width: 100%;
}

.infounit.team .team-item {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 30px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#herounit .login-form {
	width: inherit;
}

#herounit {
	padding: 5px;
}

.left-footer {
	padding-bottom: 10px;
}

#hero-wrapper .infounit, #hero-wrapper .showcase{
	display: none;
}