:host {
  display: flex;
  flex-direction: column;
}

a {
  padding: 17px 117px;
  margin: 30px 0 50px;
  background-color: rgba(40,59,144,0.95);
  box-shadow: 0 2px 1px 0 #283B90;
  border: 1px solid rgba(40,59,144,0.97);
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}