<input type="search" placeholder="Search for stock" [(ngModel)]="searchValue" (keyup)="search()">
<tradity-li *ngFor="let paper of searchResult">
  <img src="http://placehold.it/50x50">
  <tradity-li-header>
    <span left>{{paper.name}}</span>
    <span left>{{paper.stocktextid}}</span>
    <span right>{{paper.lastvalue / 10000 | currency:'EUR':true}}</span>
  </tradity-li-header>
  <tradity-li-action-list>
    <a role="button"><i class="material-icons">favorite</i></a>
    <a [routerLink]="['/stocks/' + paper.stocktextid]"><i class="material-icons">arrow_forward</i></a>
    <a [routerLink]="['/stocks/' + paper.stocktextid + '/trade']"><i class="material-icons">add</i></a>
    <a [routerLink]="['/stocks/' + paper.stocktextid + '/trade']"><i class="material-icons">remove</i></a>
  </tradity-li-action-list>
</tradity-li>