input[type=search] {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #170804;
  padding: 12px;
  border-radius: 40px;
  border: 1px solid #170804;
  outline: none;
}

input[type=search]:hover,
input[type=search]:focus {
  border-color: #F1592A;
}

tradity-li:first-of-type {
  margin-top: 10px;
}