<tradity-li-header class="big-letters">
  <span left>{{stock.name}}</span>
  <span left>{{stock.stocktextid}}</span>
  <span right>{{stock.pieces}} pc</span>
</tradity-li-header>
<tradity-li-vl>
  <tradity-li-vi>
    <span i18n>Ask price</span>
    <span>{{stock.ask / 10000 | currency:'EUR':true}}</span>
  </tradity-li-vi>
  <tradity-li-vi>
    <span i18n>Bid price</span>
    <span>{{stock.bid / 10000 | currency:'EUR':true}}</span>
  </tradity-li-vi>
</tradity-li-vl>
<!-- TODO: Today high, today low, previous close -->

<form tradity-form (ngSubmit)="trade()">
  <input type="radio" name="sellbuy" [value]="1" id="buy" [(ngModel)]="sellbuy" (ngModelChange)="calcValue()" />
  <label for="buy" i18n>Buy</label>
  <input type="radio" name="sellbuy" [value]="-1" id="sell" [(ngModel)]="sellbuy" (ngModelChange)="calcValue()" />
  <label for="sell" i18n>Sell</label>
  <input type="number" id="amount" name="amount" [(ngModel)]="amount" placeholder="Number of shares" i18n-placeholder (ngModelChange)="calcValue()" />
  <span>x <span [class.inactive]="sellbuy == -1">{{stock.ask / 10000 | currency:'EUR':true}} (Ask)</span> | <span [class.inactive]="sellbuy == 1">{{stock.bid / 10000 | currency:'EUR':true}} (Bid)</span> =</span>
  <input type="number" step="any" id="value" name="value" [(ngModel)]="value" placeholder="Euros to be invested" i18n-placeholder (ngModelChange)="calcAmount()" />
  <!--<span>+ {{10 | currency:'EUR':true}} transaction fee</span>-->
  <button tradity-button type="submit" i18n>Execute trade</button>
</form>