<tradity-chart [values]="values"></tradity-chart>
<tradity-vl>
  <tradity-vl-li>
    <span>{{user.totalvalue / 10000 | currency:'EUR':true}}</span>
    <span i18n>Total value</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>{{user.freemoney / 10000 | currency:'EUR':true}}</span>
    <span i18n>Cash</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>{{(user.totalvalue - user.freemoney) / 10000 | currency:'EUR':true}}</span>
    <span i18n>Portfolio</span>
  </tradity-vl-li>
  <tradity-vl-li>
    <span>27d 7h 4m</span>
    <span i18n>Time left</span>
  </tradity-vl-li>
</tradity-vl>
<tradity-feed [emailVerified]="user.email_verif"></tradity-feed>