ul {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  background-color: #2B2D38;
  padding: 10px 0;
  margin: 0;
}

ul li {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  margin: 5px 0;
}

ul li:nth-of-type(1),
ul li:nth-of-type(3) {
  flex-basis: calc(50% - 1px);
  border-right: 1px solid rgba(151, 151, 151, 0.37);
}

ul li span:nth-of-type(1) {
  font-size: 16px;
  line-height: 19px;
  color: #F1592A;
}

ul li span:nth-of-type(2) {
  font-size: 10px;
  line-height: 12px;
  color: white;
}

tradity-feed {
  margin: 20px;
}