#chats {
	@image-size:80px;

	.chat {
		display:block;
		margin-top:15px;
	}

	.chat-image {
		.pull-left();
	}

	.content {
		@padding:5px;

		padding:@padding;

		border-top:1px solid #f5f5f5;
		border-bottom:1px solid #f5f5f5;

		height:(@image-size)-(2*@padding)-2px;
		overflow:hidden;

	}

	h2, p {
		margin:0px;
	}
}

#chat {
	@image-size:80px;

	.chat-item {
		margin-top:25px;
	}

	.chat-item.me {
		.chat-image {
			float:right;
		}

		.content {
			margin-left:0;
			margin-right:@image-size+ 10px;
		}
	}

	.chat-image {
		float:left;
		border-radius: 150px;
		height:80px;
		width:80px;
	}
	.content {
		overflow:hidden;
		padding:10px;
		border:1px solid #f5f5f5;
		margin-left:@image-size+ 10px;
		min-height:(@image-size)-20px-2px;
	}

	.chat-item:hover .time {
		display:block;
	}

	.time {
		display:none;
		color:#888;
		font-size:11px;
	}

}