/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#learning {
	h2 a:hover, h2 a:focus {
		text-decoration: none;
		color: #333;
	}

	.btn-group {
		margin-bottom: 5px;
	}

	.question {
		border-bottom:1px solid #f5f5f5;
		padding:5px;
		margin-top:7px;
		margin-bottom:7px;
	}

	.question.answersChecked {
		background:lighten(#2ecc71,30);
	}

	.question.wrong.answersChecked {
		background:lighten(#e74c3c,30);
	}

	.question .info {
		background-color: rgba(255, 109, 56, 0.83);
		color:#fff;
		padding:7px;
		margin-bottom:5px;
	}

	.question h2 {
		margin-bottom:0px;
		margin-top:0px;
	}

	.item {
		padding-top:5px;
	}

	.xp {
		position:absolute;
		display:inline-block;
		font-weight:bold;
		color:lighten(#000,80%);
		margin-top:2px;
		padding-left:8px;
	}
}
