body {
	font-family: @font;
	font-size: @fontSize;
	line-height: 1.42857143;
	color: @fontColor;
}

a {
	text-decoration: none;
	color: @fontColor;
	cursor: pointer;
}

#feed a, .subschoollist a, .table a:hover, .widget a , #faq a {
	color: @primary;
}

.table .fa {
	color:@fontColor;
}

.main-content h2, .main-content h1, .main-content h3 {
	margin: 15px 0px;
	font-weight: normal;
	font-family: @headerFont;
	color: @headerColor;
}

.text-center { text-align: center; }

.container-center { text-align: center; }
.container-center > *{display: inline-block; }

.pos {
	background-color: #2ecc71;
	color: #fff;
}

.neg {
	background-color: #e74c3c;
	color: #fff;
}

.inline {
	display: inline-block;
}

ul.styled li {
	list-style-type: square;
}

tr.newtrader {
    background-color: rgb(242,242,242);
}

.ng-valid {
	outline-color: #0f0;
}
.ng-invalid {
	outline-color: #f00;
}
