/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#options {
	> div {
		.make-row();
	}
	.nav-stacked {
		.make-sm-column(3);
		padding-left:0px;
	}

	.tab-content {
		.make-sm-column(9);
	}

	.save {
		float:right;
		margin-right:15px;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: @primary;
	}

	h2 {
		margin-top:0px;
		font-weight: bold;
		color: @primary;
	}
	
	.avatar-wrapper {
		width:200px;
		height:200px;
	}
	
	.form-control:focus {
		border-color: @secondary;
		box-shadow: inset 0 1px 1px lighten(@secondary, 25%), 0 0 8px lighten(@secondary, 25%);
	}
	.btn-primary {
		background-color: @secondary;
		border-color: @secondary;
	}
	.btn-primary:hover{
		background-color: darken(@secondary, 10%);
		border-color: darken(@secondary, 10%);
	}
}
