/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

//
// Basic print styles
// --------------------------------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

// Taken from bootstrap, modified for Tradity

@media print {
    /* tradity-specific */
    body {
        visibility: hidden;
    }
    
    header, nav {
        display: none;
    }
    
    .main-content {
        position: absolute;
        top: 0px;
        left: 0px;
        visibility: visible;
    }
    
    .main-content:after {
        content: url(../img/logo.png);
    }
    /* end tradity-specific */

    * {
        text-shadow: none !important;
        color: #000 !important; // Black prints faster: h5bp.com/s
        background: transparent !important;
        box-shadow: none !important;
    }

    a {
        text-decoration: none;
    }

    a[href^=http]:after {
        content: " (" attr(href) ")";
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    // Don't show links for images, or javascript/internal links
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    // Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
    // Once fixed, we can just straight up remove this.
    select {
        background: #fff !important;
    }

    // Bootstrap components
    .navbar {
        display: none;
    }
    .table {
        td,
        th {
            background-color: #fff !important;
        }
    }
    .btn,
    .dropup > .btn {
        > .caret {
            border-top-color: #000 !important;
        }
    }
    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }
    .table-bordered {
        th,
        td {
            border: 1px solid #ddd !important;
        }
    }

}
