#pushNotifications {
	@breite:300px;

	position:fixed;
	z-index: 1029;
	top:50px;
	left:50%;
	width:@breite;
	margin-left:-(@breite/2);

	.item {
		background-color:#fff;
		border:1px solid #B8B8B8;
		padding:7px;
		margin-bottom:10px;
	}
}
