/* ==========================================================================
   Ranking
   ========================================================================== */


.rank-1 .rank-name {
	background-image:url(../img/ranking-1.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}

.rank-2 .rank-name {
	background-image:url(../img/ranking-2.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}

.rank-3 .rank-name {
	background-image:url(../img/ranking-3.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}

@media print {
	.ranking-spec-choice, #rankingSearch {
		display: none;
	}
}
