.vertical #sponsors {
	.sponsor {
		margin-top:10px;
		padding:10px 0px;
		text-align:center;
	}

	img {
		width:auto;
	}
}

.horizontal #sponsors {
	border-top:solid 1px #e5e5e5;
	margin-top:15px;
	padding-top: 15px;
	text-align:center;

	.sponsor {
		display:inline;
	}
}
