<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<h2>Tickrate</h2>
<div id="chart-wrap">
  <label for="startTimespanOffsetDays">Startzeitoffset (d)</label><input type="number" ng-model="startTimespanOffsetDays" id="startTimespanOffsetDays" min="0" max="365" step="1" value="10" />;
  <label for="startTimespanOffsetDays">Endzeitoffset (d)</label><input type="number" ng-model="endTimespanOffsetDays" id="endTimespanOffsetDays" min="-1" max="365" step="1" value="-1" />;
  <a ng-click="loadTickStatistics()">Tick-Statistik laden</a>
  <div id="chart" class="jqplot-target chart-depot"></div>
</div>

<div id="regchart-wrap">
  <div id="regchart" class="jqplot-target chart-depot"></div>
</div>
