<div id="admin" class="main-content">
	<div id="tabs">
		<ul>
			<li><a ui-sref="game.feed">Zum Spiel</a></li>
			<li><a ui-sref=".userlist">Benutzerliste</a></li>
			<li><a ui-sref=".notifications">Feedbenachrichtigungen</a></li>
			<li><a ui-sref=".schools">Schulen/Gruppen</a></li>
			<li><a ui-sref=".statistics">Maschinenraum</a></li>
			<li ng-show="inspectuid"><a ui-sref=".userdetails({uid: inspectuid})">Benutzer {{inspectuid}}</a></li>
		</ul>
	</div>
	<div ui-view class="inner" infinite-scroll="loadMore()" infinite-scroll-distance="2"></div>
</div>
