<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<h2>Events</h2>

<events-calendar events="eventCounts" selected="selectedDay">
  <div style="width: 100%; height: 100%" uib-tooltip="{{day.events}} events on {{day.date.toDateString()}}"></div>
</events-calendar>

<div ng-show="selectedDay">
  <h3>{{dayInfo.nevents}} events by {{dayInfo.nuser}} users on {{dayInfo.date.toDateString()}}</h3>
  
  <ul>
    <li ng-repeat="evtype in dayInfo.eventTypes | orderBy: evtype">
      {{evtype}} <input type="checkbox" ng-model="typeFilters[evtype]" />
    </li>
  </ul>
  
  <ul>
    <li ng-repeat="ev in dayInfo.events" ng-show="typeFilters[ev.type]">
      <table class="table table-bordered">
        <tr ng-repeat="(key, value) in ev" ng-show="value">
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        <tr ng-show="ev.type === 'comment'" ng-controller="CommentCtrl">
          <td translate>Action</td>
          <td>
            <a ng-click="deleteComment(ev)" translate>Delete</a>
            <a ng-click="editComment(ev)" translate>Edit</a>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>
