<p>Anzahl User: {{usercount}}</p>
<p>User mit 1+ Trades: {{tradeusers}} ({{100 * tradeusers / usercount |number:2}} %) (Gini-Koeffizient: {{tradeGini | number: 3}})</p>
<p>User mit bestätigter E-Mail: {{verifusers}} ({{100 * verifusers / usercount |number:2}} %)</p>

<form class="pure-form" id="rankingSearch">
	<input type="search" ng-model="searchText" placeholder="Suche" class="pure-input">
	
	<br />
	<label for="reverse"><input type="checkbox" ng-model="reverse" id="reverse" /> Absteigende Sortierung</label>
	<br />
	<label for="showImpersonate"><input type="checkbox" ng-model="showImpersonate" id="showImpersonate" /> Übernehmen</label>
	<label for="showID"><input type="checkbox" ng-model="showID" id="showID" /> ID</label>
	<label for="showName"><input type="checkbox" ng-model="showName" id="showName" /> Name</label>
	<label for="showFullName"><input type="checkbox" ng-model="showFullName" id="showFullName" /> Voller Name</label>
	<label for="showEMail"><input type="checkbox" ng-model="showEMail" id="showEMail" /> E-Mail</label>
	<label for="showRegisterTime"><input type="checkbox" ng-model="showRegisterTime" id="showRegisterTime" /> Registrierungs­zeitpunkt</label>
	<label for="showTrades"><input type="checkbox" ng-model="showTrades" id="showTrades" /> #Trades</label>
	<label for="showComments"><input type="checkbox" ng-model="showComments" id="showComments" /> #Kommentare</label>
	<label for="showLastComment"><input type="checkbox" ng-model="showLastComment" id="showLastComment" /> Letzter Kommentar</label>
	<br />
	<label for="showBirthday"><input type="checkbox" ng-model="showBirthday" id="showBirthday" /> Geburtsdatum</label>
	<label for="showSchool"><input type="checkbox" ng-model="showSchool" id="showSchool" /> Schule</label>
	<label for="showAddress"><input type="checkbox" ng-model="showAddress" id="showAddress" /> Adresse</label>
	<label for="showProvision"><input type="checkbox" ng-model="showProvision" id="showProvision" /> Provision</label>
	<label for="showDeletion"><input type="checkbox" ng-model="showDeletion" id="showDeletion" /> Löschzeitpunkt</label>
	<label for="showFreemoney"><input type="checkbox" ng-model="showFreemoney" id="showFreemoney" /> Kontostand</label>
	<label for="showTotalvalue"><input type="checkbox" ng-model="showTotalvalue" id="showTotalvalue" /> Gesamtwert</label>
	<label for="showRecvProvision"><input type="checkbox" ng-model="showRecvProvision" id="showRecvProvision" /> Erhaltene Provision</label>
	<label for="showDeleteUser"><input type="checkbox" ng-model="showDeleteUser" id="showDeleteUser" /> Löschen</label>
</form>

<div class="clearfix"></div>

<table class="table table-bordered">
	<tr>
		<th ng-show="showImpersonate">Übernehmen</th>
		<th ng-show="showID">ID</th>
		<th ng-show="showName">Name</th>
		<th ng-show="showFullName" colspan="2">Voller Name</th>
		<th ng-show="showEMail" colspan="3">E-Mail</th>
		<th ng-show="showRegisterTime">Registrierungs­zeitpunkt</th>
		<th ng-show="showTrades">#Trades</th>
		<th ng-show="showComments">#Kommentare</th>
		<th ng-show="showLastComment">Letzter Kommentar</th>
		<th ng-show="showBirthday">Geburtsdatum</th>
		<th ng-show="showSchool" colspan="3">Schule</th>
		<th ng-show="showAddress" colspan="3">Adresse</th>
		<th ng-show="showProvision" colspan="2">Provision</th>
		<th ng-show="showDeletion">Löschzeitpunkt</th>
		<th ng-show="showFreemoney">Kontostand</th>
		<th ng-show="showTotalvalue">Gesamtwert</th>
		<th ng-show="showRecvProvision" colspan="2">Erhaltene Provision</th>
		<th ng-show="showDeleteUser">Löschen</th>
	</tr>
	<tr ng-repeat="entry in userlist | filter: searchText | orderBy:'uid':reverse | limitTo:totalDisplayed ">
		<td ng-show="showImpersonate"><a ng-click="impersonateUser(entry.uid)" style="cursor: pointer">X</a></td>
		<td ng-show="showID">{{entry.uid}}</td>
		<td ng-show="showName">{{entry.name}}</td>
		<td ng-show="showFullName">{{entry.giv_name}}</td>
		<td ng-show="showFullName">{{entry.fam_name}}</td>
		<td ng-show="showEMail">{{entry.email}}</td>
		<td ng-show="showEMail">{{entry.emailverif}}</td>
		<td ng-show="showEMail"><a ng-click="changeUserEMail(entry)" style="cursor: pointer">X</a></td>
		<td ng-show="showRegisterTime"><a ui-sref="admin.userdetails({uid: entry.uid})">{{entry.registertime * 1000 | date:'short'}}</a></td>
		<td ng-show="showTrades">{{entry.tradecount}}</td>
		<td ng-show="showComments">{{entry.commentcount}}</td>
		<td ng-show="showLastComments">{{entry.lastcommenttime * 1000 | date:'short'}}</td>
		<td ng-show="showBirthday">{{entry.birthday | date:'short'}}</td>
		<td ng-show="showSchool"><a ui-sref="game.group({schoolid: entry.schoolpath})">{{entry.schoolid}}</a></td>
		<td ng-show="showSchool"><a ui-sref="game.group({schoolid: entry.schoolpath})">{{entry.schoolpath}}</a></td>
		<td ng-show="showSchool">{{entry.pending}}</td>
		<td ng-show="showAddress">{{entry.zip}}</td>
		<td ng-show="showAddress">{{entry.town}}</td>
		<td ng-show="showAddress">{{entry.street}}</td>
		<td ng-show="showProvision">{{entry.wprovision}}</td>
		<td ng-show="showProvision">{{entry.lprovision}}</td>
		<td ng-show="showDeletion">{{entry.deletiontime * 1000 | date:'short'}}</td>
		<td ng-show="showFreemoney">{{entry.freemoney / 10000 | number:3}} €</td>
		<td ng-show="showTotalvalue">{{entry.totalvalue / 10000 | number:3}} €</td>
		<td ng-show="showRecvProvision">{{entry.wprov_sum / 10000 | number:3}} €</td>
		<td ng-show="showRecvProvision">{{entry.lprov_sum / 10000 | number:3}} €</td>
		<td ng-show="showDeleteUser"><a ng-click="deleteUser(entry)"><i class="fa fa-minus-circle"></i></a></td>
	</tr>
</table>
