<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<h2>Events</h2>

<ul>
  <li ng-repeat="(evtype,dummy) in globalTypeFilters">
    {{evtype}} <input type="checkbox" ng-model="globalTypeFilters[evtype]" />
  </li>
</ul>

<events-calendar events="eventCounts" selected="selectedDay">
  <div style="width: 100%; height: 100%" uib-tooltip="{{day.events}} events on {{day.date.toDateString()}}"></div>
</events-calendar>

<div ng-show="selectedDay">
  <h3>{{dayInfo.nevents}} events by {{dayInfo.nuser}} users on {{dayInfo.date.toDateString()}}</h3>
  
  <ul>
    <li ng-repeat="evtype in dayInfo.eventTypes | orderBy: evtype">
      {{evtype}} <input type="checkbox" ng-model="typeFilters[evtype]"
        ng-show="activeFilters(globalTypeFilters).length == 0 || globalTypeFilters[evtype]"
        ng-disabled="activeFilters(globalTypeFilters).length == 1" />
    </li>
  </ul>
  
  <ul>
    <li ng-repeat="ev in dayInfo.events" ng-show="(typeFilters[ev.type] || (globalTypeFilters[ev.type] && activeFilters(globalTypeFilters).length == 1)) && (activeFilters(globalTypeFilters).length == 0 || globalTypeFilters[ev.type])">
      <div ng-if="ev.type === 'comment'">
        <span style="color:grey" translate>
          Comment: <span style="color:black">{{ev.comment}}</span> by 
          <a ui-sref="admin.userdetails({uid: ev.srcuser})">{{ev.srcusername}}</a>
          on {{ev.baseeventtype}}:{{ev.baseeventid}}
          <span ng-show="ev.baseeventtype === 'user-register'">
            <a ui-sref="game.profile.pinboard({userId: ev.tradername})">(→ Profile of {{ev.tradername}})</a>
          </span>
          <span ng-show="ev.baseeventtype === 'school-create'">
            <a ui-sref="game.group({schoolid: message.schoolpath})">(→ Group {{message.schoolpath}})</a>
          </span>
        </span>
        
        <span ng-controller="CommentCtrl">
          (<a ng-click="deleteComment(ev)" translate>Delete</a> |
           <a ng-click="editComment(ev)" translate>Edit</a>)
        </span>
      </div>
      <div ng-if="ev.type !== 'comment'">
        <table class="table table-bordered">
          <tr ng-repeat="(key, value) in ev" ng-show="value">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
