<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="chats" class="main-content">
	<a ng-repeat="(id,chat) in chats" class="chat" ui-sref="game.chat.id({id:chat.chatid})">
		<div class="content">
			<h2>
				<span ng-repeat="member in chat.members" ng-hide="ownUser.id == member.id">
					<img src="{{member.profilepic}}" class="chat-image" />
					{{member.name}}
				</span>
			</h2>
			<p>{{getLastMessage(id).comment}}</p>
		</div>
	</a>
</div>
