<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="history">
	<div class="options-field">
		<h2 translate>Transaction log</h2>
		<div class="table-wrapper">
			<table class="transaction-history table table-bordered">
				<colgroup>
					<col class="column-0">
					<col class="column-1">
					<col class="column-2">
					<col class="column-3">
					<col class="column-4-5">
					<col class="column-6-7">
				</colgroup>
				<tr>
					<th translate>Stock</th>
					<th translate>Date</th>
					<th translate>Transaction type</th>
					<th translate>Or­der</th>
					<th translate>Payer</th>
					<th translate>Payee</th>
					<th translate>Amount</th>
					<th translate>Reason</th>
					<th translate><span title="High Water Mark">HWM</span></th>
					<th translate><span title="Low Water Mark">LWM</span></th>
					<th translate>Bid price</th>
					<th translate># shares</th>
				</tr>
				<tr ng-repeat="ta in transactions | orderBy: '-time'">
					<td title="{{ta.stocktextid}}">
						<span ng-show="ta.stocktextid">
							<a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: ta.stocktextid, amount: 0})">{{ta.stockname}}</a>
						</span>
						<span ng-hide="ta.stocktextid">—</span>
					</td>
					<td>{{ta.time * 1000 | date:'short'}}</td>
					<td>{{ta.typeText}}</td>
					<td>
						<span ng-show="ta.orderid">
							<a class="text-link" ui-sref="game.tradeDetails({tradeId: ta.orderid})"># {{ta.orderid}}</a>
						</span>
						<span ng-hide="ta.orderid">—</span>
					</td>
					<td>
						<span ng-show="ta.payerId">
							<a ui-sref="game.profile.overview({userId: ta.payerName})">{{ta.payerName}}</a> 
						</span>
						<span ng-hide="ta.payerId">–</span>
					</td>
					<td>
						<span ng-show="ta.payeeId">
							<a ui-sref="game.profile.overview({userId: ta.payeeName})">{{ta.payeeName}}</a> 
						</span>
						<span ng-hide="ta.payeeId">–</span>
					</td>
					<td>{{ta.amount / 10000 | number:3}} €</td>
					<td>{{ta.reasonText}}</td>
					<td>
						<span ng-show="ta.json.provision_hwm">{{ta.json.provision_hwm / 10000 | number:3}} €</span>
						<span ng-hide="ta.json.provision_hwm">–</span>
					</td>
					<td>
						<span ng-show="ta.json.provision_lwm">{{ta.json.provision_lwm / 10000 | number:3}} €</span>
						<span ng-hide="ta.json.provision_lwm">–</span>
					</td>
					<td>
						<span ng-show="ta.json.bid">{{ta.json.bid / 10000 | number:3}} €</span>
						<span ng-hide="ta.json.bid">–</span>
					</td>
					<td>
						<span ng-show="ta.json.depot_amount">{{ta.json.depot_amount}}</span>
						<span ng-hide="ta.json.depot_amount">–</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
