<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="transactions">
	<div class="options-field">
		<h2 translate>Pending orders</h2>
		<div class="table-wrapper">
			<table class="transaction-history table table-bordered">
			<colgroup>
				<col class="column-0">
				<col class="column-1">
				<col class="column-2">
				<col class="column-3">
				<col class="column-4">
			</colgroup>
				<tr>
					<th translate>Name</th>
					<th translate>Date</th>
					<th translate>Market/Stop/Limit</th>
					<th translate>Stop/Limit value</th>
					<th translate>Amount</th>
					<th translate>Remove</th>
				</tr>
				<tr ng-repeat="order in delayedOrders">
					<td class="depot-{{order.buysell}}" title="{{order.query.stockid}}">
						<span ng-show="order.query.leader"><a ui-sref="game.profile.overview({userId: order.query.leader})">{{order.query.dquerydata.name}}</a></span>
						<span ng-hide="order.query.leader"><a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: order.query.stockid, amount: 0})">{{order.query.dquerydata.name}}</a></span>
					</td>
					<td>{{order.query.dquerydata.ordertime | date:'short'}}</td>
					<td>{{order.query.dquerydata.xtype}}</td>
					<td>
						<span ng-show="order.query.dquerydata.xvalue">{{order.query.dquerydata.xvalue | number:3}} €</span>
						<span ng-hide="order.query.dquerydata.xvalue">—</span>
					</td>
					<td>{{order.amount}}</td>
					<td class="trade-td"><a ng-click="removeDelayedOrder(order.queryid)" class="batch block-link trade" title="Löschen" style="cursor: pointer"><i class="fa fa-eye"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="options-field">
		<h2 translate>Order history</h2>
		<div class="table-wrapper">
			<table class="transaction-history table table-bordered">
				<colgroup>
					<col class="column-0">
					<col class="column-1">
					<col class="column-2">
					<col class="column-3">
					<col class="column-4-5">
					<col class="column-6-7">
				</colgroup>
				<tr>
					<th translate>Name</th>
					<th translate>Date</th>
					<th translate>Amount</th>
					<th translate>Price</th>
					<th translate>Transaction fees</th>
					<th translate>Trade total</th>
				</tr>
				<tr ng-repeat="order in orders">
					<td class="{{order.ordertype}}" title="{{order.stocktextid}}">{{order.stockname}}</td>
					<td>{{order.buytime * 1000 | date:'short'}}</td>
					<td>{{order.amount}}</td>
					<td>{{order.price / 10000 | number:3}} €</td>
					<td>{{order.fee / 10000 | currency}}</td>
					<td ng-class="{pos: balance > 0, neg: balance < 0}">
						{{ balance = (order.money * -1) / 10000 | currency}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
