<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="depot" class="main-content">
  <nav class="navbar navbar-default" id="pagesubnav">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: ('game.depot.overview' | isState)}"><a ui-sref=".overview" translate>Overview</a></li>
        <li ng-class="{active: ('game.depot.listing' | isState)}"><a ui-sref=".listing" translate>Held shares</a></li>
        <li ng-class="{active: ('game.depot.transactions' | isState)}"><a ui-sref=".transactions" translate>Order history</a></li>
        <li ng-class="{active: ('game.depot.watchlist' | isState)}"><a ui-sref=".watchlist"><i class="fa fa-eye"></i></a></li>
        <li ng-class="{active: ('game.depot.transactionlog' | isState)}"><a ui-sref=".transactionlog" translate>Transaction log</a></li>
      </ul>
    </div>
  </nav>
  <div ui-view></div>
  <div class="horizontal" ng-init="horizontal = true" ng-include="'templates/sponsors.html'"></div>
</div>
