<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="listing">
	<div class="options-field">
		<h2 translate>Held shares</h2>
		<div class="table-wrapper">
			<table class="owned-trades table table-bordered">
				<colgroup>
					<col class="column-0">
					<col class="column-1">
					<col class="column-2">
					<col class="column-3">
					<col class="column-4-5" span="2">
					<col class="column-6-7" span="2">
					<col class="column-8">
				</colgroup>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th colspan="2" translate>Price</th>
					<th colspan="2" translate>Performance</th>
					<th></th>
				</tr>
				<tr>
					<th translate>Name</th>
					<th translate>Date</th>
					<th translate>Value</th>
					<th translate>Amount</th>
					<th translate>Buy price</th>
					<th translate>Current</th>
					<th translate>All-time</th>
					<th translate>Today</th>
					<th translate>Trade</th>
				</tr>
				<tr ng-repeat="result in results">
					<td>
						<translate><span tooltip="Commission on profits: {{result.wprov_sum / 10000 | number:2}}&nbsp;€ &#x0a; Commission on losses: {{result.lprov_sum / 10000 | number:2}}&nbsp;€" ng-show="result.leader"><a ui-sref="game.profile.overview({userId: result.leadername})">{{result.stockname}}</a></span></translate>
						<span ng-hide="result.leader">{{result.stockname}}</span>
					</td>
					<td>{{result.buytime * 1000 | date:'short'}}</td>
					<td>{{result.total / 10000 | number:3}} €</td>
					<td>{{result.amount}}</td>
					<td>{{result.buymoney / result.amount / 10000 | number:3}} €</td>
					<td>{{result.bid / 10000 | number:3}} €</td>
					<td ng-class="{pos: orderPerfAll > 0, neg: orderPerfAll < 0}">
							{{( orderPerfAll = result.bid * result.amount - result.buymoney)
						/ result.buymoney * 100 | number:2}} %
					</td>
					<td ng-class="{pos: orderPerfYesterday > 0, neg: orderPerfYesterday < 0}">
							{{( orderPerfYesterday = result.bid - result.daystartvalue)
						/ result.daystartvalue * 100 | number:2}} %
					</td>
					<td class="trade-td text-center"><a ui-sref="game.tradesellbuy({sellbuy: 'sell', stockId: result.stockid, amount: result.amount})" class="batch block-link trade"><i class="fa fa-bar-chart-o"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
