<div id="overview">
	<h2>Vermögen</h2>
	
	<div class="row">

		<div class="col-sm-4">
			<div class="item text-center">
				<b>Gesamt</b><br/>
				{{ownUser.totalvalue / 10000| currency}}
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center">
				<b>Konto</b><br/>
				{{ownUser.freemoney / 10000 | currency}}
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center">
				<b>Depot</b><br/>
				{{ownUser.depotvalue / 10000 | currency}}
			</div>
		</div>

	</div>

	<h2>Vermögensentwicklung</h2>

	<div class="row">

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: performanceAll > 0, neg: performanceAll < 0}">
				<b>Gesamt</b><br/>
				{{ performanceAll = ((ownUser.totalvalue / 10000) - 100000 ) / 1000 | number:2}} %
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: performanceToday > 0, neg: performanceToday < 0}">
				<b>Heute</b><br/>
				{{( performanceToday = ownUser.totalvalue / ownUser.daystarttotalvalue - 1) * 100 | number:2}} %
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: performanceWeek > 0, neg: performanceWeek < 0}">
				<b>Woche</b><br/>
				{{ performanceWeek = (ownUser.totalvalue / ownUser.weekstarttotalvalue - 1) * 100 | number:2}} %
			</div>
		</div>

	</div>

	<h2>Followerbewertung</h2>

	<div class="row">

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: ownUser.totalfperf && fperfAll > 0, neg: ownUser.totalfperf && fperfAll < 0}">
				<b>Gesamt</b><br/>
				<span ng-show="ownUser.totalfperf">
					{{ fperfAll = (ownUser.totalfperf-1) * 100 | number:2}} %
				</span>
				<span ng-hide="ownUser.totalfperf">
					—
				</span>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: ownUser.dayfperf && fperfToday > 0, neg: ownUser.dayfperf && fperfToday < 0}">
				<b>Heute</b><br/>
				<span ng-show="ownUser.dayfperf">
					{{ fperfToday = (ownUser.dayfperf-1) * 100 | number:2}} %
				</span>
				<span ng-hide="ownUser.dayfperf">
					—
				</span>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center" ng-class="{pos: ownUser.weekfperf && fperfWeek > 0, neg: ownUser.weekfperf && fperfWeek < 0}">
				<b>Woche</b><br/>
				<span ng-show="ownUser.weekfperf">
					{{ fperfWeek = (ownUser.weekfperf-1) * 100 | number:2}} %
				</span>
				<span ng-hide="ownUser.weekfperf">
					—
				</span>
			</div>
		</div>

	</div>

	<h2>als Leader</h2>

	<div class="row">

		<div class="col-sm-4">
			<div class="item text-center">
				<b>Follower</b><br/>
				{{ownUser.f_count}}
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center">
				<b>verkaufte Anteile</b><br/>
				{{ownUser.f_amount}}
			</div>
		</div>

		<div class="col-sm-4">
			<div class="item text-center">
				<b>Woche</b><br/>
				{{ownUser.wprov_sum / 10000|currency}} / {{ownUser.lprov_sum / 10000|currency}}
			</div>
		</div>

	</div>
</div>
