<div id="depot" class="main-content">
	<div id="tabs">
		<ul>
			<li><a ui-sref=".overview">Vermögensentwicklung</a></li>
			<li><a ui-sref=".listing">Wertpapiere in Besitz</a></li>
			<li><a ui-sref=".transactions">Orderhistorie</a></li>
			<li><a ui-sref=".watchlist"><i class="fa fa-eye"></i></a></li>
			<li><a ui-sref=".transactions">Transaktionslog</a></li>
		</ul>
	</div>
	<br>
	<div ui-view></div>
	<div class="horizontal" ng-init="horizontal = true" ng-include="'templates/sponsors.html'"></div> 
</div>
