<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<h1>404 – Seite nicht gefunden</h1>
<p>
	Leider wurde die Seite nicht gefunden.
	<a ui-sref="game.feed">Geh doch einfach zur Startseite</a> zurück und,
	wenn dieses Problem wieder auftritt, wende dich an uns unter tech@tradity.de.
</p>
<ul>
	<li><a ui-sref="game.feed">Startseite (Feed)</a></li>
	<li><a ui-sref="index.login">Login</a></li>
	<li><a ui-sref="register">Registrierung</a></li>
</ul>
