<div class="main-content" id="faq"><a id="top" class="anchor"></a>
	<div class="options-field">
		<h2>Fragen</h2>
		<a class="text-link" href="#zeitplan">Zeitplan</a><br>
		<a class="text-link" href="#börsenspiel?-was-sollst-du-tun?">Börsenspiel? Was sollst du tun?</a><br>
		<a class="text-link" href="#dein-depot">Dein „Depot“</a><br>
		<a class="text-link" href="#handelbare-werte">Handelbare Werte</a><br>
		<a class="text-link" href="#handel">Handel</a><br>
		<a class="text-link" href="#liqui">Liquidität</a><br>
		<a class="text-link" href="#transaktionskosten">Transaktionskosten</a><br>
		<a class="text-link" href="#folgen">Folgen</a><br>
	</div>
	<div class="options-field faq">
		<h2>Antworten</h2>
		
		<h3>Zeitplan</h3><a class="anchor" id="zeitplan"></a></h3>
		<p>
			<p><strong>Start der Wettbewerbsphase:</strong> Dienstag, 10. Juni 2014</p>
			<p><strong>Ende der Wettbewerbsphase:</strong> Freitag, 4. Juli 2014, 11:00 Uhr</p>
		</p>
		
		
		<h3>Börsenspiel? Was sollst du tun?</h3><a class="anchor" id="börsenspiel?-was-sollst-du-tun?"></a></h3>
		<p>
			<ul>
				<li>Dein Ziel ist es, durch Käufe und Verkäufe von Aktien möglichst keinen Verlust und möglichst viel Gewinn zu erzielen. Hohe Gewinne sind aber meist mit hohem Risiko verbunden, du solltest also abwägen.</li>
				<li>Bei Tradity kannst du anderen Teilnehmern über die Schultern schauen und besonders erfolgreichen „folgen“, d. h. einen Teil deines Kapitals in diese Teilnehmer investieren. Näheres erfährst du unter dem Punkt <a class="text-link" href="#folgen">„Folgen“</a>.</li>
			</ul>
		</p>
		
		<h3>Dein „Depot“</h3><a class="anchor" id="dein-depot"></a></h3>
		<ul>
			<li>Du erhältst zum Start 100.000 € fiktives Startkapital.</li>
			<li>Du darfst nur einen Account besitzen.</li>
			<li>Dein „Depot“ besteht aus deinem Konto („Bargeld“) und dem Depot mit deinen Wertpapieren.</li>
		</ul>
		<h3>Handelbare Werte</h3><a class="anchor" id="handelbare-werte"></a></h3>
		<ul>
			<li>Du kannst alle Aktien kaufen und verkaufen, welche an der Börse Frankfurt gelistet sind.</li>
			<li>Du kannst sogenannte „Leader-Papiere“ kaufen, d. h. anderen Spielern folgen und in diese
			dein Kapital investieren. Näheres findest du unter dem Punkt <a class="text-link" href="#folgen">„Folgen“</a>.</li>
		</ul>

		<h3>Handel</h3><a class="anchor" id="handel"></a></h3>
		<p><strong>50 %-Regel:</strong> Du kannst maximal die Hälfte deines Gesamtkapitals in eine Aktie bzw. in einen Leader investieren.</p>
		<p><strong>Orderausführung</strong> Deine Order wird ausgeführt, sobald die jeweiligen Bedingungen erfüllt sind und die Börse geöffnet hat.</p>
		<ul>
			<li><strong>Market Order (Kauf):</strong> Deine Order wird zum „Kaufpreis“ ausgeführt.</li>
			<li><strong>Market Order (Verkauf):</strong> Deine Order wird zum „Verkaufspreis“ ausgeführt.</li>
			<li><strong>Limit Order (Kauf):</strong> Deine Order wird ausgeführt, sobald der „Kaufpreis“ unter deinen angegebenen Limit-Wert fällt.</li>
			<li><strong>Limit Order (Verkauf):</strong> Deine Order wird ausgeführt, sobald der „Verkaufspreis“ über deinen angegebenen Limit-Wert steigt.</li>
			<li><strong>Stop Order (Kauf):</strong> Deine Order wird ausgeführt, sobald der „Kaufpreis“ über deinen angegebenen Stop-Wert steigt.</li>	
			<li><strong>Stop Order (Verkauf):</strong> Deine Order wird ausgeführt, sobald der „Verkaufspreis“ unter deinen angegebenen Stop-Wert fällt.</li>
		</ul>
		<p><strong>Handelszeiten:</strong> Ein Handel ist nur während der Börsenöffnungszeiten der Börse Frankfurt (Montag bis Freitag | 08:00 – 20:00 Uhr) möglich.</p>
		<p><strong>Orderlöschung:</strong> Unter „Noch nicht ausgeführte Orders“ kannst du noch nicht ausgeführte Orders löschen.</p>

		<h3>Liquidität</h3><a class="anchor" id="liqui"></a></h3>
		<p>Du kannst nur so viele Aktien kaufen, wie auch in der Realität an der Börse gehandelt wurden. Wurden an Tag X zum Beispiel nur 1000 Stück der Aktie gehandelt, die du kaufen oder verkaufen willst, kannst du an diesem Tag maximal je 1000 Stück kaufen und verkaufen. Achte vor allem bei sogennanten „Pennystocks“ auf die Liquidität, da diese oft sehr gering ist.<p>

		<h3>Transaktionskosten</h3><a class="anchor" id="transaktionskosten"></a></h3>
		<p><strong>Aktien:</strong> Du zahlst bei Ausführung einer Order 0,25 % des Kauf- bzw. Verkaufswertes; mindestens aber 25 €.</p>
		<p><strong>Leader:</strong> Du zahlst ebenso wie beim Kauf von Aktien eine Gebühr von 0,25 % auf den Kauf- bzw. Verkaufswertes; mindestens aber 25 €. Daneben erhält der Leader eine Provision (5 % bis 30 %) von dir, wenn er Gewinn für dich erwirtschaftet. Näheres unter dem Punkt <a class="text-link" href="#folgen">„Folgen“</a>.</p>

		<h3>Folgen</h3><a class="anchor" id="folgen"></a></h3>
		<h5>Was ist „folgen“?</h5>
		<p>Wenn du einem Teilnehmer („Leader“) folgst, bedeutet das, dass du (indirekt) automatisch das handelst, was dein „Leader“ handelt – so kannst du vom Können des „Leaders“ profitieren und ihm beim Anlegen über die Schultern schauen. Das heißt: Wenn dein Leader Gewinn oder Verlust macht, machst auch du Gewinn oder Verlust. Im Gegenzug zahlst du deinem Leader <strong>(nur wenn er für dich Gewinn macht)</strong> eine kleine Provision; nämlich 5 % – 30 % auf den Gewinn. Wenn der Leader eine sog. „Verlustprovision“ hat, erhälst du im Verlustfall einen Anteil deiner Verluste vom „Leader“ wieder.</p>
		<h5>Wie du anderen Teilnehmern „folgen“ kannst:</h5>
		<p>Du kannst dir über die Rangliste die verschiedenen Profile der Teilnehmer und deren Handelshistorie einsehen. Wenn du jemanden gefunden hast, von dem du glaubst, er lege erfolgreich an, kannst du:</p>
		<ol>
			<li>Auf dem Profil des Teilnehmers („Leaders“) auf den „Folgen-Button“ klicken und automatisch auf eine vorausgefüllte „Trade-Seite“ gelangen oder</li>
			<li>Auf der „Trade-Seite“ wie beim Kauf einer Aktie, diesmal den Namen des „Leaders“ eingeben und Anteile von diesem wie gewöhnliche Aktien kaufen.</li>
		</ol>
	</div>
</div>
