<div id="feed" class="main-content">
	<div class="tutorial" ng-hide="messages.length > 0">
		<h2>Willkommen bei Tradity!</h2>
		<div class="text">
			Willkommen bei Tradity – dem ersten Social Trading Börsenspiel Deutschlands! Leg gleich los und 
			investiere in andere Spieler oder kaufe Deine ersten Aktien – Du hast 100.000 € Startkapital. Das <a href="#/faq" class="text-link" title="Häufig gestellte Fragen">FAQ</a> hilft Dir weiter.
		</div>
		<hr/>
		<div class="text">
			Wenn Du noch Fragen zum Spiel hast, kannst Du uns an <a class="text-link" href="mailto:team@tradity.de">team@tradity.de</a> eine E-Mail schreiben oder 
			auf Facebook eine Frage posten. <span style="color: #ff5000;">Viel Erfolg!</span>
		</div>
		</div>
	
	<div>
		<!-- ACTUAL FEED BEGIN -->
		<div ng-repeat="message in displaymessages track by $index" class="feed-item feed-{{message.typePerson}}" ng-switch on="message.type" ng-show="message.type == 'mod-notification' || message">
			
			<div ng-switch-when="comment-schoolpinboard-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class="feed-entry-symbol"><i class="fa fa-comment-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast in die Gruppe <a href="#/s{{message.schoolpath}}">{{message.tradername}}</a> geschrieben. 
				</div>
			</div>
			<div ng-switch-when="comment-schoolpinboard">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class="feed-entry-symbol"><i class="fa fa-comments-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat in die Gruppe <a href="#/s{{message.schoolpath}}">{{message.tradername}}</a> geschrieben.
				</div>
			</div>
			<div ng-switch-when="mod-notification">
				<div class="feed-entry-symbol"><i class="fa fa-bullhorn"></i></div>
				<div class="feed-entry-content" ng-bind-html="message.content">
					{{message.content}}
				</div>
			</div>
			<div ng-switch-when="watch-add">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat <a ng-href="#/user/{{message.targetname}}" class="feed-link">{{message.targetname}}</a> auf seine Watchlist gesetzt.
				</div>
			</div>
			<div ng-switch-when="watch-add-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eye"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast <a ng-href="#/user/{{message.targetname}}" class="feed-link">{{message.targetname}}</a> auf Deine Watchlist gesetzt.
				</div>
			</div>
			<div ng-switch-when="watch-add-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat Dich auf seine Watchlist gesetzt.
				</div>
			</div>
			<div ng-switch-when="comment-trade">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comments-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat <a ng-href="#/user/{{message.tradername}}" class="feed-link">{{message.tradername_genitive}}</a> Trade <a ng-href="#/trade/{{message.orderid}}" class="feed-link">kommentiert</a>.
				</div>
			</div>
			<div ng-switch-when="comment-trade-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comment-o"></i></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast <a ng-href="#/user/{{message.tradername}}" class="feed-link">{{message.tradername_genitive}}</a> Trade <a ng-href="#/trade/{{message.orderid}}" class="feed-link">kommentiert</a>.
				</div>
			</div>
			<div ng-switch-when="comment-trade-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comments-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat Deinen Trade <a ng-href="#/trade/{{message.orderid}}" class="feed-link">kommentiert</a>.
				</div>
			</div>
			<div ng-switch-when="comment-trade-self-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comment-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast Deinen eigenen Trade <a ng-href="#/trade/{{message.orderid}}" class="feed-link">kommentiert</a>.
				</div>
			</div>
			<div ng-switch-when="comment-pinboard">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comments-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat an <a ng-href="#/user/{{message.tradername}}" class="feed-link">{{message.tradername_genitive}}</a> Pinnwand <a ng-href="#/user/{{message.tradername}}/pinboard" class="feed-link">geschrieben</a>.
				</div>
			</div>
			<div ng-switch-when="comment-pinboard-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comment-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						{{message.srcusername}} <i class="fa fa-angle-right"></i> <a ng-href="#/user/{{message.tradername}}">{{message.tradername_genitive}}</a> Pinnwand
					</div>
					<a ng-href="#/user/{{message.tradername}}/pinboard">Na wie läufts beim traden ? :)</a>
					<!--{{message}}-->
					<!--Du hast an <a ng-href="#/user/{{message.tradername}}" class="feed-link">{{message.tradername_genitive}}</a> Pinnwand <a ng-href="#/user/{{message.tradername}}/pinboard" class="feed-link">geschrieben</a>.-->
				</div>
			</div>
			<div ng-switch-when="comment-pinboard-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comments-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat an Deine Pinnwand <a ng-href="#/user/{{message.tradername}}/pinboard" class="feed-link">geschrieben</a>.
				</div>
			</div>
			<div ng-switch-when="comment-pinboard-self-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-comment-o"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast an Deine eigene Pinnwand <a ng-href="#/user/{{message.tradername}}/pinboard" class="feed-link">geschrieben</a>.
				</div>
			</div>
			<div ng-switch-when="trade-buy">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an 
						<span ng-show="message.leader"><a href="#/user/{{message.leader}}">{{message.stockname}}</a></span> <span ng-hide="message.leader">{{message.stockname}}</span> <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
				</div>
			</div>
			<div ng-switch-when="trade-sell">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an <span ng-show="message.leader"><a href="#/user/{{message.leader}}">{{message.stockname}}</a></span> <span ng-hide="message.leader">{{message.stockname}}</span> <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
				</div>
			</div>
			<div ng-switch-when="trade-buy-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast {{message.amount}} Anteile an <span ng-show="message.leader"><a href="#/user/{{message.leader}}">{{message.stockname}}</a></span> <span ng-hide="message.leader">{{message.stockname}}</span> <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
				</div>
			</div>
			<div ng-switch-when="trade-sell-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast {{message.amount}} Anteile an <span ng-show="message.leader"><a href="#/user/{{message.leader}}">{{message.stockname}}</a></span> <span ng-hide="message.leader">{{message.stockname}}</span> <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
				</div>
			</div>
			<div ng-switch-when="trade-buy-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an Dir <a ng-href="#/trade/{{message.targetid}}" class="feed-link">gekauft</a>.
				</div>
			</div>
			<div ng-switch-when="trade-sell-me">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"><i class="fa fa-eur"></i></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat {{message.amount}} Anteile an Dir <a ng-href="#/trade/{{message.targetid}}" class="feed-link">verkauft</a>.
				</div>
			</div>
			<div ng-switch-when="provchange">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat 
					<span ng-show="message.wprovchanged">seine Gewinnprovision von {{message.oldwprov}} % auf {{message.newwprov}} %</span>
					<span ng-show="message.bothchanged">und</span>
					<span ng-show="message.lprovchanged">seine Verlustprovision von {{message.oldlprov}} % auf {{message.newlprov}} %</span>
					verändert.
				</div>
			</div>
			<div ng-switch-when="provchange-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast 
					<span ng-show="message.wprovchanged">deine Gewinnprovision von {{message.oldwprov}} % auf {{message.newwprov}} %</span>
					<span ng-show="message.bothchanged">und</span>
					<span ng-show="message.lprovchanged">deine Verlustprovision von {{message.oldlprov}} % auf {{message.newlprov}} %</span>
					verändert.
				</div>
			</div>
			<div ng-switch-when="namechange">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat seinen Benutzernamen von „{{message.oldname}}“ auf „{{message.newname}}“ verändert.
				</div>
			</div>
			<div ng-switch-when="namechange-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast Deinen Benutzernamen von „{{message.oldname}}“ auf „{{message.newname}}“ verändert.
				</div>
			</div>
			<div ng-switch-when="reset">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					<a ng-href="#/user/{{message.srcusername}}" class="feed-link">{{message.srcusername}}</a> hat seinen Account zurückgesetzt.
				</div>
			</div>
			<div ng-switch-when="reset-self">
				<span class="feed-time pull-right" title="{{message.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(message.time)}}</span>
				<div class=" feed-entry-symbol"></div>
				<div class="feed-entry-content">
					<div class="feed-head">
						
					</div>
					Du hast deinen Account zurückgesetzt.
				</div>
			</div>
		</div>
	</div>
</div>
