<ul class="feedblogs" ng-controller="FeedblogsCtrl">
	<li ng-repeat="blog in feedblogs">
		<ul>
			<li>User: <a ui-sref="game.profile.overview({userId: blog.name})">{{blog.name}}</a></li>
			<li>API: <a ng-href="{{blog.endpoint}}">{{blog.endpoint}}</a></li>
			<li ng-hide="school">
				<a ui-sref="game.group({schoolid: blog.schoolpath})" ng-show="blog.schoolpath">Gruppe: {{blog.schoolpath}}</a>
				<span ng-hide="blog.schoolpath">–</span>
			</li>
			<li>Slug: {{blog.category}}</li>
			<li><a ng-click="removeFeedblog(blog.blogid)">Entfernen</a></li>
		</ul>
	</li>
	<li>
		<ul>
			<li>User-ID: <input type="text" ng-model="newblog.bloguser"></li>
			<li>API: <input type="text" ng-model="newblog.endpoint"></li>
			<li>Slug: <input type="text" ng-model="newblog.category"></li>
			<li><a ng-click="addFeedblog()">Blog zum Feed hinzufügen</a></li>
		</ul>
	</li>
	<li><a ng-click="processBlogs()">Blogposts laden</a></li>
</ul>
