<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" ng-click="toggleM()" class="navbar-toggle collapsed">
				<span class="sr-only">Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="game.feed"><img src="img/symbol.png"></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse hidden-xs">
			<ul class="nav navbar-nav">
				<li class="info">
					<a ui-sref="game.profile.overview({userId: ownUser.name})">
						<h2 class="title" translate>ACCOUNT</h2>
						<span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
					</a>
				</li>
				<li class="info">
					<a ui-sref="game.profile.overview({userId: ownUser.name})">
						<h2 class="title">Gesamt­vermögen</h2>
						<span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
					</a>
				</li>
				<li class="info">
					<a ui-sref="game.profile.overview({userId: ownUser.name})">
						<h2>Rang</h2>
						<span class="placement-number" ng-show="ownUser.rank">{{ownUser.rank}}</span>
						<span class="placement-number" ng-hide="ownUser.rank">–</span>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="desktop-only search-btn" ng-show="!search">
					<a ng-click="showSearch()" href="" class="icon"><i class="fa fa-search"></i></a>
				</li>
				<li>
					<a ui-sref="game.depot.watchlist" class="icon" title="watchlist"><i class="fa fa-eye"></i></a>
				</li>
				<!-- temporarily disabled -->
				<!--li>
					<a ui-sref="game.chats" class="icon" title="Nachrichten"><i class="fa fa-envelope"></i></a>
				</li-->
				<li ng-show="isAdmin">
					<a ui-sref="admin.userlist" class="icon" title="admin"><i class="fa fa-shield"></i></a>
				</li>
				<li ng-include="'templates/notifications.html'" dropdown ng-controller="NotificationsCtrl"></li>
				<li><a ng-click="logout()" href="" class="icon"><i class="fa fa-sign-out"></i></a></li>
				<li><a ui-sref="game.profile.overview({userId: ownUser.name})" class="profilepicture" style="background-image:url({{ownUser.profilepic}});"></a></li>
			</ul>
			<form ng-show="search" ng-submit="openSearch(searchBarText,search)" class="navbar-form navbar-right">
				<input type="search" ng-model="searchBarText" placeholder="Suche" class="form-control" autofocus>
			</form>
		</div>
	</div>
</nav>
<nav class="container navbar navbar-default hidden-xs" role="navigation" id="pagenav">
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li>
				<a ui-sref=".feed" accesskey="f" ng-class="{active: ('game.feed' | isState)}">
					<i class="fa fa-inbox"></i>
					<span class="dark nav-block-title">Neuigkeiten</span>
				</a>
			</li>
			<li class="dropdown" dropdown ng-show="ownUser.schools.length > 1">
				<a href class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle role="button" aria-expanded="false"><i class="fa fa-users"></i> Gruppen <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="item in ownUser.schools"><a ui-sref="game.group({schoolid: item.path})">{{item.name}}</a></li>
				</ul>
			</li>
			<li ng-show="ownUser.schools.length == 1">
				<a ui-sref="game.group({schoolid: ownUser.schools[0].path})" ng-class="{active: ('*.group.*' | includedByState)}">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">{{ownUser.schools[0].name}}</span>
				</a>
			</li>
			<li ng-show="ownUser.schools.length == 0" class="menu-item">
				<a ui-sref="game.groupOverview" accesskey="g" title="ALT+SHIFT+G">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">Deine Gruppe</span>
				</a>
			</li-->
			<!--li ng-show="ownUser.topLevelSchool" class="menu-item">
				<ul class="subMenu desktop-only" ng-show="ownUser.schools.length > 1">
					<li ng-hide="ownUser.topLevelSchool == item" ng-repeat="item in ownUser.schools"><a ui-sref="game.group({schoolid: item.path})">{{item.name}}</a></li>
				</ul>
				<a ui-sref="game.group({schoolid: ownUser.topLevelSchool.path})" accesskey="g" title="ALT+SHIFT+G" ng-class="{active: ('*.group.*' | includedByState)}">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">{{ownUser.topLevelSchool.name}}</span>
				</a>
			</li>
			<li ng-show="!ownUser.topLevelSchool" class="menu-item">
				<a ui-sref="game.groupOverview" accesskey="g" title="ALT+SHIFT+G">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">Deine Gruppe</span>
				</a>
			</li-->
			<li>
				<a ui-sref=".depot.overview" accesskey="d" title="ALT+SHIFT+D" ng-class="{active: ('*.depot.*' | includedByState)}">
					<i class="fa fa-bar-chart-o"></i>
					<span class="dark nav-block-title">Mein Depot</span>
				</a>
			</li>
			<li>
				<a ui-sref=".trade" accesskey="t" title="ALT+SHIFT+T" ng-class="{active: ('game.trade' | isState)}">
					<i class="fa fa-eur" ></i>
					<span class="dark nav-block-title">Trade</span>
				</a>
			</li>
			<li>
				<a ui-sref=".ranking" id="rangliste" accesskey="r" title="ALT+SHIFT+R" ng-class="{active: ('*.ranking.*' | includedByState)}">
					<i class="fa fa-flag"></i> 
					<span class="dark nav-block-title">Rangliste</span>
				</a>
			</li>
			<li>
				<a ui-sref=".profile.achievements.categories({userId: ownUser.name})" ng-class="{active: ('game.profile.achievements.categories' | isState)}" >
					<i class="fa fa-trophy"></i>
					<span class="dark nav-block-title">Errungenschaften</span>
				</a>
			</li>
			<li>
				<a ui-sref=".learning.catalog" ng-class="{active: ('game.learning.catalog' | isState)}" >
					<i class="fa fa-graduation-cap"></i>
					<span class="dark nav-block-title">Lektionen</span>
				</a>
			</li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li>
				<a ui-sref=".options" accesskey="o" title="ALT+SHIFT+O" ng-class="{active: ('game.options' | isState)}">
					<i class="fa fa-wrench"></i>
					<span class="dark nav-block-title">Einstellungen</span>
				</a>
			</li>
			<li>
				<a href="https://boersenspiel.tradity.de/hilfe/" targe="_blank">
					<i class="fa fa-question"></i>
					<span class="dark nav-block-title">Hilfe</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container content">
	<div id="legalHolder" class="pull-right">
		<div id="legal">
			<a target="_blank" href="https://boersenspiel.tradity.de/impressum/">Impressum</a> |
			<a href="https://boersenspiel.tradity.de/teilnahmebedingungen/" target="_blank">Teilnahmebedingungen &amp; Datenschutz</a> |
			<a href="https://github.com/tradity/tradity-client" target="_blank">Tradity ist Open Source!</a>
		</div>
	</div>
	<div ng-hide="loadState" ui-view></div>
	<div ng-show="loadState">
	loading
	</div>
</div>

<div id="overlayQuery" ng-show="hasOpenQueries()">
	<img src="img/throbber.gif" alt="…" /><br/>
	<span>Lade Daten</span>
</div>

