<ng-include src="'templates/walkthrough.html'"></ng-include>
<div class="wrapper">
	<header id="header">
		<div class="inner">   
			<ul class="icon-bar pull-right">
				<li class="mobile-only">
					<div>
						<a href="" class="dropdown-toggle icon" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li><a ui-sref="game.profile.overview({userId: ownUser.name})"><b>{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</b></a></li>
							<li><a ui-sref="game.profile.overview({userId: ownUser.name})">Mein Profil</a></li>
							<li><a ui-sref="game.options">Einstellungen</a></li>
							<li class="divider"></li>
							<li><a ng-click="logout()" href="">Abmelden</a></li>
						</ul>
					</div>
				</li>
				<li ng-show="search" class="search desktop-only">
					<form class="pure-form" id="rankingSearch" ng-submit="openSearch(searchBarText,search)">
						<input type="search" ng-model="searchBarText" placeholder="Suche" class="pure-input" autofocus>
					</form>
				</li>
				<li class="desktop-only search-btn" ng-show="!search">
					<a ng-click="showSearch()" href="" class="icon"><i class="fa fa-search"></i></a>
				</li>
				<li>
					<a ui-sref="game.depot.watchlist" class="icon" title="watchlist"><i class="fa fa-eye"></i></a>
				</li>
				<li>
					<a ui-sref="game.chats" class="icon" title="Nachrichten"><i class="fa fa-envelope"></i></a>
				</li>
				<li ng-controller="NotificationsCtrl">
					<a class="icon" title="Benachrichtigungen"><i class="fa fa-globe"></i></a>
					<div id="pushNotifications"></div>
				</li>
				<li ng-show="isAdmin">
					<a ui-sref="admin.userlist" class="icon" title="admin"><i class="fa fa-shield"></i></a>
				</li>
				<li>
					<a ng-click="logout()" href="" class="icon"><i class="fa fa-sign-out"></i></a>
				</li>
				<li>
					<a ui-sref="game.profile.overview({userId: ownUser.name})" ng-hide="!ownUser.profilepic"><img id="profile-picture" height="50px" ng-src="{{ownUser.profilepic}}" alt="">
					<a ui-sref="game.profile.overview({userId: ownUser.name})" ng-hide="ownUser.profilepic"><img id="profile-picture" height="50px" src="img/profile.svg" alt=""></a>
				</li>
			</ul>     
			<ul class="icon-bar">
				<li class="desktop-only">
					<a ui-sref="game.feed">
						<img src="img/symbol.png">
					</a>
				</li>
				<li class="mobile-only">
					<a ng-click="toggleMenu()" class="icon"><i class="fa fa-bars"></i></a>
				</li>
				<li class="desktop-only text">
					<div>
						<h2 class="title" translate>ACCOUNT</h2>
						<span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
					</div>
				</li>
				<li class="desktop-only text">
					<div>
						<h2 class="title">Gesamt­vermögen</h2>
						<span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
					</div>
				</li>
				<li class="desktop-only text">
					<div>
						<h2>Rang</h2>
						<span class="placement-number" ng-show="ownUser.rank">{{ownUser.rank}}</span>
						<span class="placement-number" ng-hide="ownUser.rank">–</span>
					</div>
				</li>
			</ul>         
		</div>
	</header>
	<nav id="topmenu">
		<ul>
			<li>
				<a ui-sref=".feed" accesskey="f" ng-class="{active: ('game.feed' | isState)}">
					<i class="fa fa-inbox"></i>
					<span class="dark nav-block-title">Neuigkeiten</span>
				</a>
			</li>
			<li ng-show="ownUser.topLevelSchool" class="menu-item">
				<ul class="subMenu desktop-only" ng-show="ownUser.schools.length > 1">
					<li ng-hide="ownUser.topLevelSchool == item" ng-repeat="item in ownUser.schools"><a ui-sref="game.group({schoolid: item.path})">{{item.name}}</a></li>
				</ul>
				<a ui-sref="game.group({schoolid: ownUser.topLevelSchool.path})" accesskey="g" title="ALT+SHIFT+G" ng-class="{active: ('*.group.*' | includedByState)}">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">{{ownUser.topLevelSchool.name}}</span>
				</a>
			</li>
			<li ng-show="!ownUser.topLevelSchool" class="menu-item">
				<a ui-sref="game.groupOverview" accesskey="g" title="ALT+SHIFT+G">
					<i class="fa fa-users"></i>
					<span class="dark nav-block-title">Deine Gruppe</span>
				</a>
			</li>
			<li>
				<a ui-sref=".depot.overview" accesskey="d" title="ALT+SHIFT+D" ng-class="{active: ('*.depot.*' | includedByState)}">
					<i class="fa fa-bar-chart-o"></i>
					<span class="dark nav-block-title">Mein Depot</span>
				</a>
			</li>
			<li>
				<a ui-sref=".trade" accesskey="t" title="ALT+SHIFT+T" ng-class="{active: ('game.trade' | isState)}">
					<i class="fa fa-eur" ></i>
					<span class="dark nav-block-title">Trade</span>
				</a>
			</li>
			<li>
				<a ui-sref=".ranking.all" id="rangliste" accesskey="r" title="ALT+SHIFT+R" ng-class="{active: ('*.ranking.*' | includedByState)}">
					<i class="fa fa-flag"></i> 
					<span class="dark nav-block-title">Rangliste</span>
				</a>
			</li>
			<li>
				<a ui-sref=".options" accesskey="o" title="ALT+SHIFT+O" ng-class="{active: ('game.options' | isState)}">
					<i class="fa fa-wrench"></i>
					<span class="dark nav-block-title">Einstellungen</span>
				</a>
			</li>
			<li>
				<a ui-sref=".learning.catalog" ng-class="{active: ('game.learning.catalog' | isState)}" >
					<i class="fa fa-graduation-cap"></i>
					<span class="dark nav-block-title">Learning</span>
				</a>
			</li>
			<li>
				<a href="https://boersenspiel.tradity.de/hilfe/" targe="_blank">
					<i class="fa fa-question"></i>
					<span class="dark nav-block-title">Hilfe</span>
				</a>
			</li>
		</ul>
	</nav>
	<div class="clearfix"></div>
	<div class="content-wrapper">
			<div ui-view></div>
	</div>
</div>
<div id="overlayQuery" ng-show="hasOpenQueries()">
	<img src="img/throbber.gif" alt="…" /><br/>
	<span>Lade Daten</span>
</div>
<ng-include src="'templates/notifications.html'"></ng-include> 
