<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!-- <div class="alert alert-info" role="alert">
	Hi! Wir haben im letzten Wettbewerb viele hilfreiche Anregungen erhalten und bauen derzeit an der Plattform.
	Du kannst Tradity weiterhin nutzen, es können aber Störungen auftauchen. Wir melden uns bei dir,
	wenn die neue Version fertig ist. Danke und viele Grüße vom Team!
</div> -->
