<div id="intragroup" class="inner">
	<div class="table-wrapper">
		<table class="ranking table table-bordered">
			<colgroup>
				<col class="rankcol-1" style="width: 10%">
				<col class="rankcol-2" style="width: 40%">
				<col class="rankcol-3" style="width: 18%">
				<col class="rankcol-4" style="width: 5%">
				<col class="rankcol-4" style="width: 12%">
			</colgroup>
			<tr>
				<th>Rang</th>
				<th>Name</th>
				<th>erh. Provision</th>
				<th>Gesamt­vermögen</th>
				<th ng-show="isAdmin || selfIsSchoolAdmin"></th>
			</tr>
			<tr ng-repeat="result in results | orderBy:'rank' " ng-class="{newtrader: result.hastraded == 0}">
				<td>{{result.rank}}</td>
				<td class="rank-name">
					<a ui-sref="game.profile.overview({userId: result.name})" style="cursor: pointer">{{result.name}}</a>
				</td>
				<td>{{result.prov_sum / 10000 | currency}}</td>
				<td>{{result.totalvalue / 10000 | currency}}</td>
				<td ng-show="isAdmin || selfIsSchoolAdmin">
					<a ng-click="kickUser(result)" title="Benutzer entfernen"><i class="fa fa-minus-circle"></i></a> 
					<a ng-hide="result.admin" ng-click="promoteUserToAdmin(result)" title="Benutzer befördern"><i class="fa fa-level-up"></i></a>
				</td>
			</tr>
		</table>
	</div>
</div>
