<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="groupOverview" class="main-content">
	<h1>Gruppen</h1>
	<div ng-show="!ownUser.topLevelSchool">
		<h2>Wähle deine Gruppe</h2>
		<form class="pure-form" id="rankingSearch">
			<input type="search" ng-model="searchText" placeholder="Suche (deine Schule, Organisation, Institut)" class="pure-input">
			Ist deine Gruppe hier nicht aufgeführt? <a ng-click="createNewSchool()">Gründe eine neue Gruppe!</a>
		</form>
		<hr/>
		<div class="table-wrapper">
			<table class="ranking table table-bordered">
				<colgroup>
					<col class="rankcol-1" style="width: 90%">
					<col class="rankcol-1" style="width: 10%">
				</colgroup>
				<tr>
					<th>Name</th>
					<th>Mitglieder</th>
				</tr>
				<tr ng-repeat="result in groups | filter: searchText ">
					<td><a ui-sref="game.group({schoolid: result.path})">{{result.name}}</a></td>
					<td class="text-center">{{result.usercount}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-show="ownUser.topLevelSchool">
		<h2>Deine Gruppen</h2>
		<ul>
			<li ng-repeat="item in ownUser.schools"><a ui-sref="game.group({schoolid: item.path})">{{item.name}}</a></li>
		</ul>
	</div>
</div>
