<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="groupOverview" class="main-content">
  <h1 translate>Groups</h1>
  <div ng-show="!ownUser.topLevelSchool">
    <h2 translate>Choose your group</h2>
    <form class="pure-form" id="rankingSearch">
      <translate>
        <input type="search" ng-model="searchText" placeholder="Search (Your school/organization/group)" class="pure-input" />
      </translate>
      <span translate>Your group is not listed here? <a ng-click="createNewSchool()">Start a new one!</a></span>
    </form>
    <hr/>
    <div class="table-wrapper">
      <table class="ranking table table-bordered">
        <colgroup>
          <col class="rankcol-1" style="width: 90%">
          <col class="rankcol-1" style="width: 10%">
        </colgroup>
        <tr>
          <th translate>Name</th>
          <th translate>Members</th>
        </tr>
        <tr ng-repeat="result in groups | filter: searchText ">
          <td><a ui-sref="game.group({schoolid: result.path})">{{result.name}}</a></td>
          <td class="text-center">{{result.usercount}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="ownUser.topLevelSchool">
    <h2 translate>Your groups</h2>
    <ul>
      <li ng-repeat="item in ownUser.schools"><a ui-sref="game.group({schoolid: item.path})">{{item.name}}</a></li>
    </ul>
  </div>
</div>
