<script type="text/ng-template" id="groupChooserEntry.html">
	<a style="display:block">
		<span class="typeahead-left" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
		<span class="typeahead-right">{{match.model.extraInfo}}</span>
		<span style="clear:both;display:block"></span>
	</a>
</script>

<input type="text" placeholder="{{'School'|translate}}" class="form-control"
	ng-model="school"
	typeahead="entry as entry.displayName for entry in listGroups($viewValue)"
	typeahead-min-length="2"
	typeahead-on-select="selectedGroup($item, $model, $label)" typeahead-template-url="groupChooserEntry.html" />

<input type="text" ng-model="schoolclass" placeholder="{{'School class'|translate}}" id="schoolclass" class="form-control" />
