<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="index" class="jumbotron">
	<div class="login-form">
		<a href="https://boersenspiel.tradity.de"> <img src="img/logo.png" width="100%" class="login-logo"> </a>
		<p class="slogan" translate>Be part of the world’s first <b>Social Trading Stock Trading Game</b></p>
		<div ui-view>
			<div class="actions" translate>
				<a ui-sref="register" id="register-btn" class="btn btn-primary register">Register</a><br />
				<span class="login">or <a ui-sref="index.login" id="login-btn">login</a></span>
			</div>
		</div>
	</div>
</div>
