<div ng-controller="HerounitCtrl">
	<div id="hero-wrapper">
		<div class="herounit-spacer">
			<div id="herounit"> 
				<img src="img/logo.png" class="logo" alt="Tradity" />
				<p class="slogan">Sei Teil des ersten <b>Social Trading Börsenspiels</b> der Welt</p>
				
				<div ui-view>
					<div class="actions">
						<a ui-sref="index.register" id="register-btn" class="btn btn-primary register">Registrieren</a><br />
						<span class="login">oder <a ui-sref="index.login" id="login-btn">Anmelden</a> </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
