<form ng-controller="InviteFormCtrl" ng-submit="createInviteLink()" class="pure-form pure-form-stacked">
	<div>
		Per E-Mail:
		<textarea ng-model="inviteemails" id="inviteemails" placeholder="Füge hier E-Mail-Adressen ein, an die du Einladungen verschicken willst" class="form-control"></textarea>
		<input type="submit" value="Einladen" class="btn btn-sm btn-default">
		<br />
		oder benutze diesen Link:
		<span id="invitelink" class="options-input pure-input-1"><a ng-href="{{invitelink}}">{{invitelink || '…'}}</a></span>
		<i>(Rechtsklick + Link kopieren)</i>
	</div>
</form>
