<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<h1><a ui-sref="game.learning.catalog()"><i class="fa fa-angle-left"></i></a> Fragen</h1>
<div class="question" ng-repeat="question in questions" ng-class="{wrong: question.wrong, proved: proved}">
	<h2>{{question.name}}</h2>
	<div class="info">{{question.description}}</div>
	<div class="questions">
		<div class="item" ng-repeat="(key, answer) in question.answers">
			<input type="radio" ng-model="question.answer" value="{{key}}"> {{answer}}<br>
		</div>
	</div>
</div>

<a class="btn btn-success" ng-click="prove()">Prüfen</a>
