<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<form ng-submit="login()" ng-hide="logging_in">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<div class="form-group">
		<input type="text" ng-model="username" class="form-control" placeholder="Benutzername">
	</div>
	<div class="form-group">
		<input type="password" placeholder="Passwort" ng-model="password" class="form-control">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="stayloggedin"> Eingeloggt bleiben?
		</label>
	</div>
	<br>
	<div class="pull-right">
		<small>
		<a class="text-link" ng-click="passwordReset();" style="cursor: pointer; margin-right: 20px;">Passwort vergessen?</a><br>
		<a class="registerq" ui-sref="register">Noch nicht registriert?</a>
		</small>
	</div>
	<button type="submit" class="btn btn-primary btn-sm">Login</button>
</form>
<div ng-show="logging_in" class="loading text-center">
	<i class="fa fa-cog fa-spin fa-3x"></i>
	<p>Wir haben derzeit technische Probleme, sodass das Einloggen zeitweise nicht möglich ist. Bitte versuche es später nochmal. Dieser Zustand sollte nicht länger als 30&nbsp;Minuten andauern.</p>
</div>
