<div class="login-form">
  <form class="pure-form pure-form-stacked" ng-submit="login()">
    <fieldset class="pure-group">
    <input type="text" class="pure-input pure-input-1" ng-model="username" placeholder="Benutzername">
    <input type="password" class="pure-input pure-input-1" ng-model="password" placeholder="Passwort">
    </fieldset>

	<label for="remember" class="pure-checkbox">
	    <input id="remember" ng-model="stayloggedin" type="checkbox"> Eingeloggt bleiben ?
	</label>
	<br>
    <div class="pull-right">
    	<small>
    	<a class="text-link" ng-click="passwordReset();" style="cursor: pointer; margin-right: 20px;">Passwort vergessen?</a><br>
    	<a class="registerq" ui-sref="index.register">Noch nicht registriert?</a>
    	</small>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Login</button> 

  </form>
</div>