<form ng-submit="login()">
	<div class="form-group">
		<input type="text" ng-model="username" class="form-control" placeholder="Benutzername">
	</div>
	<div class="form-group">
		<input type="password" placeholder="Passwort" ng-model="password" class="form-control">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="stayloggedin"> Eingeloggt bleiben ?
		</label>
	</div>
	<br>
	<div class="pull-right">
		<small>
		<a class="text-link" ng-click="passwordReset();" style="cursor: pointer; margin-right: 20px;">Passwort vergessen?</a><br>
		<a class="registerq" ui-sref="index.register">Noch nicht registriert?</a>
		</small>
	</div>
	<button type="submit" class="btn btn-primary btn-sm">Login</button> 
</form>