<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="popover bottom stock">
   <div class="arrow"></div>
   <h3 class="popover-title">
      <a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: stockinfo.stocktextid, amount: 0})">{{stockinfo.stockname}}</a>
   </h3>
   <div class="popover-content">
      <stock-comments stockinfo="stockinfo" autoload="false"></stock-comments>
   </div>
</div>
