<div class="main-content">
	<div id="profile-user" class="profile">
		<div class="user-info">
			<img id="profile-picture" ng-hide="!user.profilepic" class="profile-picture profile-box" src="{{user.profilepic}}" height="150px">
			<img id="profile-picture" ng-hide="user.profilepic" src="img/profile.svg" height="150px">
			<h2 class="name">{{user.giv_name}} <span class="nick">„{{user.name}}“</span> {{user.fam_name}}</h2>
			<div ng-hide="user.isSelf">
				<div class="btn-group">
					<a ng-click="getUserInfo()" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
					<a ng-click="addToWatchlist()" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> Watchen</a>
					<a class="btn btn-success btn-sm" ng-href="#/trade/buy/__LEADER_{{user.uid}}__/0">Folgen</a>
				</div>
			</div>
		</div>
		<hr/>
		<div class="pure-g user-stats desktop-only">
			<div class="pure-u-1-6">
				<h3 class="title">Platz</h3>
				<span class="placement-number">{{user.rank}}</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Vermögen</h3>
				<span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Provision</h3>
				<span class="placement-number">{{user.wprovision}} % / {{user.lprovision}} %</span>
				<br>
				<span class="depot-wert">(+{{user.prov_sum/10000|currency}})</span>
			</div>
			<div class="pure-u-1-2">
				<h3 class="title">Kurzbeschreibung</h3>
				<p>{{user.desc}}</p>
			</div>
		</div>
		<div class="pure-g user-stats mobile-only">
			<div class="pure-u-1-5">
				<h3 class="title">Platz</h3>
				<span class="placement-number">{{user.rank}}</span>
			</div>
			<div class="pure-u-2-5">
				<h3 class="title">Vermögen</h3>
				<span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
			</div>
			<div class="pure-u-2-5">
				<h3 class="title">Provision</h3>
				<span class="placement-number">{{user.wprovision}} % / {{user.lprovision}} %</span>
				<br>
				<span class="depot-wert">(+{{user.prov_sum/10000|currency}})</span>
			</div>
		</div>
		<div class="mobile-only">
			<h3 class="title">Kurzbeschreibung</h3>
			<p>{{user.desc}}</p>
		</div>
	</div>
	</br>
	<div id="tabs">
		<ul>
			<li><a ui-sref=".overview" ng-class="{active: ('**.overview' | includedByState)}">Generelles</a></li>
			<li><a ui-sref=".history" ng-class="{active: ('**.history' | includedByState)}">Transaktionshistorie</a></li>
			<li><a ui-sref=".pinboard" ng-class="{active: ('**.pinboard' | includedByState)}">Pinnwand</a></li>
		</ul>
	</div>
	<div ui-view></div>
</div>