<div class="main-content">
	<div id="profile-user" class="profile">
		<div class="user-info">
			<img id="profile-picture" height="150px" ng-hide="!user.profilepic" class="profile-picture profile-box" ng-src="{{user.profilepic}}" >
			<img id="profile-picture" ng-hide="user.profilepic" src="img/profile.svg" height="150px">
			<h2 class="name">
				{{user.giv_name}} <span class="nick">„{{user.name}}“</span> {{user.fam_name}}
				<a ng-show="isAdmin" ui-sref="admin.userdetails({uid: user.uid})" class="icon" title="admin"><i class="fa fa-shield"></i></a>
			</h2>
			<div ng-hide="user.isSelf">
				<div class="btn-group">
					<a ng-click="getUserInfo()" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
					<a ng-click="addToWatchlist()" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> Watchen</a>
					<a class="btn btn-success btn-sm" ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: '__LEADER_' + user.uid + '__', amount: 0})">Investieren</a>
					<!-- temporarily disabled -->
					<!--a class="btn btn-default btn-sm" ui-sref="game.chat.user({userId: user.uid})">Nachricht</a-->
				</div>
			</div>
		</div>
		<hr/>
		<div class="pure-g user-stats desktop-only">
			<div class="pure-u-1-6">
				<h3 class="title">Platz</h3>
				<span class="placement-number" ng-show="user.rank">{{user.rank}}</span>
				<span class="placement-number" ng-hide="user.rank">–</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Vermögen</h3>
				<span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Provision</h3>
				<span class="placement-number">{{user.wprovision}} % / {{user.lprovision}} %</span>
				<br>
				<span class="depot-wert">({{user.prov_sum/10000 | currency}})</span>
			</div>
			<div class="pure-u-1-2">
				<h3 class="title">Kurzbeschreibung</h3>
				<p>{{user.desc}}</p>
			</div>
		</div>
		<div class="pure-g user-stats mobile-only">
			<div class="pure-u-1-5">
				<h3 class="title">Platz</h3>
				<span class="placement-number" ng-show="user.rank">{{user.rank}}</span>
				<span class="placement-number" ng-hide="user.rank">–</span>
			</div>
			<div class="pure-u-2-5">
				<h3 class="title">Vermögen</h3>
				<span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
			</div>
			<div class="pure-u-2-5">
				<h3 class="title">Provision</h3>
				<span class="placement-number">{{user.wprovision}} % / {{user.lprovision}} %</span>
				<br>
				<span class="depot-wert">(+{{user.prov_sum/10000|currency}})</span>
			</div>
		</div>
		<div class="mobile-only">
			<h3 class="title">Kurzbeschreibung</h3>
			<p>{{user.desc}}</p>
		</div>
	</div>
	<br />
	<div id="tabs">
		<ul>
			<li><a ui-sref=".overview" ng-class="{active: ('**.overview' | includedByState)}">Generelles</a></li>
			<li><a ui-sref=".achievements.categories" ng-class="{active: ('**.achievements' | includedByState)}">Errungenschaften</a></li>
			<li><a ui-sref=".history" ng-class="{active: ('**.history' | includedByState)}">Orderhistorie</a></li>
			<li><a ui-sref=".pinboard" ng-class="{active: ('**.pinboard' | includedByState)}">Pinnwand</a></li>
			<li><a ui-sref=".transactions" ng-class="{active: ('**.transactions' | includedByState)}" ng-show="user.isSelf">Transaktionslog</a></li>
		</ul>
	</div>
	<div ui-view></div>
	<div class="horizontal" ng-init="horizontal = true" ng-include="'templates/sponsors.html'"></div> 
</div>
