
<div class="main-content">
	<div id="profile-user" class="profile">
		<div class="user-info">
			<img id="profile-picture" class="profile-picture profile-box" src="{{user.profilepic}}" height="150px">
			<h2 class="name">{{user.giv_name}} <span class="nick">„{{user.name}}“</span> {{user.fam_name}}</h2>
		</div>
		<div class="pure-g user-stats">
			<div class="pure-u-1-6">
				<h3 class="title">Platz</h3>
	        	<span class="placement-number">{{user.rank}}</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Vermögen</h3>
	        	<span class="depot-wert">{{user.totalvalue / 10000 | currency}}</span>
			</div>
			<div class="pure-u-1-6">
				<h3 class="title">Provision</h3>
		        <span class="placement-number">{{user.wprovision}} % / {{user.lprovision}} %</span>
		        <br>
				<span class="depot-wert">(+{{user.prov_sum/10000|currency}})</span>
			</div>
			<div class="pure-u-1-2">
				<h3 class="title">Kurzbeschreibung</h3>
	        	<p>{{user.desc}}</p>
			</div>
		</div>
	</div>
	</br>
<div id="tabs">
	<ul>
		<li><a href="#overview">Generelles</a></li>
		<li><a href="#history">Transaktionshistorie</a></li>
		<li><a href="#pinboard">Pinnwand</a></li>
	</ul>
	<div id="overview">
		<div class="options-field">
			<h2>Performance</h2>
			<div id="chart-wrap">
				<div id="chart" class="jqplot-target chart-depot"></div>
				<ul id="chart-control">
					<li ng-repeat="dm in drawModes">
						<div class="options-button">
							<label for="radio-{{$index}}" class="smaller-order-type"> 
								<input type="radio" name="drawMode" style="z-index: -3;" ng-model="drawMode" value="{{$index}}" id="radio-{{$index}}" ng-click="draw($index)">
								<span>{{dm.name}}</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
		</div>

			<h2>Vermögensentwicklung</h2>

			<div class="pure-g info-grid">

				<div class="pure-u-1-3">
					<div class="item" ng-class="{pos: performanceAll > 0, neg:  performanceAll < 0}">
						<b>Gesamt</b></br>
						{{ performanceAll = ((user.totalvalue / 10000) - 100000 ) / 1000 | number:2}} %
					</div>
				</div>

				<div class="pure-u-1-3">
					<div class="item" ng-class="{pos: performanceToday > 0, neg: performanceToday < 0}">
						<b>Heute</b></br>
						{{( performanceToday = user.totalvalue / user.daystarttotalvalue - 1) * 100 | number:2}} %
					</div>
				</div>

				<div class="pure-u-1-3">
					<div class="item" ng-class="{pos: performanceWeek > 0, neg: performanceWeek < 0}">
						<b>Woche</b></br>
						{{ performanceWeek = (user.totalvalue / user.weekstarttotalvalue - 1) * 100 | number:2}} %
					</div>
				</div>

			</div>

			<h2>als Leader</h2>

			<div class="pure-g info-grid">

				<div class="pure-u-1-3">
					<div class="item">
						<b>Gesamt</b></br>
						{{user.f_count}}
					</div>
				</div>

				<div class="pure-u-1-3">
					<div class="item">
						<b>Heute</b></br>
						{{user.f_amount}}
					</div>
				</div>

				<div class="pure-u-1-3">
					<div class="item">
						<b>erh. Provision</b></br>
						{{user.prov_sum / 10000|currency}}
					</div>
				</div>

			</div>

			<div style="text-align: right;" ng-hide="user.isSelf">
		      <button ng-click="getUserInfo()" class="click-button"><span class="batch">&#xF0B2; </span>Refresh</button>
		      <button ng-click="addToWatchlist()" class="click-button"><span class="batch">&#xF179; </span>zur Watchlist hinzufügen</button>
		      
		      <a class="btn btn-primary" ng-href="#/trade/buy/__LEADER_{{user.uid}}__/0">Folgen</a>
		    </div>
		</div>
		<div id="history">
			<div class="options-field">
				<h2>Transaktionshistorie</h2>
				<table class="transaction-history table table-bordered">
				  <colgroup>
				  	<col class="column-0">
				    <col class="column-1">
				    <col class="column-2">
				    <col class="column-3">
				    <col class="column-4-5">
				    <col class="column-6-7">
				  </colgroup>
					<tr>
						<th>Name</th>
						<th>Datum</th>
						<th>Anzahl</th>
						<th>Preis</th>
						<th>Transaktionskosten</th>
						<th>Bilanz</th>
					</tr>
					<tr ng-repeat="order in orders">
						<td class="{{order.ordertype}}" title="{{order.stocktextid}}"><a class="text-link" ng-href="#/trade/{{order.orderid}}">{{order.stockname}}</a></td>
						<td>{{order.buytime * 1000 | date:'d.M.yy HH:mm'}}</td>
						<td>{{order.amount}}</td>
						<td>{{order.price / 10000 | currency}}</td>
						<td>{{order.fee / 10000 | currency}}</td>
						<td>
							<span ng-class="{pos: balance > 0, neg: balance < 0}">
								{{balance = (order.money * -1) / 10000 | currency}}
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="pinboard">
			<h2>Pinnwand</h2>
			<form ng-submit="sendComment()" class="pure-form comment-form">
				<textarea ng-model="comment" class="options-input comment-textarea pure-input-1" placeholder="Was sagst Du zu diesem Trader?"></textarea>
				<input type="submit" class="click-button comment-button btn pull-right" value="Kommentieren">
			</form>

			<div ng-repeat="comment in comments | orderBy:'time'" class="feed-item feed">
				<div class="feed-entry-symbol"><i class="fa fa-bullhorn"></i></div>
                <div class="feed-entry-content">
                	<div class="feed-head">
                		<span class="feed-time pull-right" title="{{comment.time * 1000 | date:'d.M.yy HH:mm'}}">{{vtime(comment.time)}}</span>
                		<a href="#/user/{{comment.username}}" class="text-link username">{{comment.username}}</a>
                		<span ng-show="isAdmin" class="actions">
							<a ng-click="editComment(comment)" style="cursor: pointer">Bearbeiten</a>
							<a ng-click="deleteComment(comment)" style="cursor: pointer">Löschen</a>
						</span>
						<span ng-show="selfIsSchoolAdmin">
							<a ng-click="deleteCommentSA(comment)" style="cursor: pointer">Löschen</a>
						</span>
                	</div>
                    <span ng-show="comment.trustedhtml" ng-bind-html="comment.comment">{{comment.comment}}</span>
					<span ng-hide="comment.trustedhtml">{{comment.comment}}</span>
		
                </div>
			</div>
		</div>
	</div>
</div>

