<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="pinboard">
	<h2>Pinnwand</h2>
	<form ng-submit="sendComment()" class="pure-form pure-form-stacked main-comment comment-form">
		<translate><textarea ui-keypress="{13:'sendComment()'}" ng-model="comment" class="form-control"
			placeholder="Comment on this trader"></textarea></translate>
		<translate><input type="submit" class="btn btn-default pull-right" value="Send comment"></translate>
		<div ng-show="isAdmin">
			<label for="ishtml">HTML</label><input type="checkbox" ng-model="ishtml" id="ishtml">
		</div>
	</form>
	
	<div ng-repeat="comment in comments | orderBy:'-time' | foldDeletedComments" class="feed-item feed comment">
		<div ng-show="comment.isDeleted && comment.isHead">
			<span translate translate-n="comment.trailingCount" translate-plural="{{comment.trailingCount}} deleted comments not shown">1 deleted comment not shown</span>
		</div>
		<div ng-show="comment.comment && !comment.isDeleted">
			<div class="feed-entry-symbol" style="background-image:url({{comment.profilepic}})" ng-class="{'no-image': !comment.profilepic }"></div>
			<span class="feed-arrow"></span>
			<div class="feed-entry-content">
				<div class="feed-head">
					<span class="feed-time pull-right" title="{{comment.time * 1000 | date:'short'}}">{{vtime(comment.time)}}</span>
					<a ui-sref="game.profile.overview({userId: comment.username})" class="text-link username">{{comment.username}}</a>
					<span ng-show="isAdmin" class="actions">
						<a ng-click="editComment(comment)" style="cursor: pointer" translate>Edit</a>
						<a ng-click="deleteComment(comment)" style="cursor: pointer" translate>Delete</a>
					</span>
				</div>
				<span ng-show="comment.trustedhtml" ng-bind-html="comment.comment">{{comment.comment}}</span>
				<span ng-hide="comment.trustedhtml">{{comment.comment}}</span>
			</div>
		</div>
	</div>
</div>
