<div ng-repeat="achievement in category(categoryId)" class="achievement-item" ng-class="{'no-desc': !category.description}">
	<img src="{{achievement.img}}" class="picture pull-left" ng-show="achievement.img">
	<div class="icon" ng-hide="achievement.img">
		<i class="fa fa-trophy"></i>
	</div>
	<div class="content">
		<span class="xp">{{achievement.xp}} XP</span><h2>{{achievement.text}}</h2>
		<p>{{achievement.description}}</p>
	</div>
	<div class="clearfix"></div>
	<div class="achieved" ng-show="achievement.achieved"></div>
	<div class="not achieved" ng-hide="achievement.achieved"></div>
</div>
