<div id="overview">
	<div class="options-field">
		<h2>Performance</h2>
		<div id="chart-wrap">
			<div id="chart" class="jqplot-target chart-depot"></div>
			<div class="container-center padding-top">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" ng-model="drawMode" btn-radio="0">24 h</button>
					<button type="button" class="btn btn-primary" ng-model="drawMode" btn-radio="1">48 h</button>
					<button type="button" class="btn btn-primary" ng-model="drawMode" btn-radio="2">7 d</button>
					<button type="button" class="btn btn-primary" ng-model="drawMode" btn-radio="3">14 d</button>
					<button type="button" class="btn btn-primary" ng-model="drawMode" btn-radio="4">seit Beginn</button>
				</div>
			</div>
		</div>
	</div>

	<h2>Vermögensentwicklung</h2>

	<div class="pure-g info-grid">

		<div class="pure-u-1-3">
			<div class="item" ng-class="{pos: performanceAll > 0, neg:  performanceAll < 0}">
				<b>Gesamt</b></br>
				{{ performanceAll = ((user.totalvalue / 10000) - 100000 ) / 1000 | number:2}} %
			</div>
		</div>

		<div class="pure-u-1-3">
			<div class="item" ng-class="{pos: performanceToday > 0, neg: performanceToday < 0}">
				<b>Heute</b></br>
				{{( performanceToday = user.totalvalue / user.daystarttotalvalue - 1) * 100 | number:2}} %
			</div>
		</div>

		<div class="pure-u-1-3">
			<div class="item" ng-class="{pos: performanceWeek > 0, neg: performanceWeek < 0}">
				<b>Woche</b></br>
				{{ performanceWeek = (user.totalvalue / user.weekstarttotalvalue - 1) * 100 | number:2}} %
			</div>
		</div>

	</div>

	<h2>als Leader</h2>

	<div class="pure-g info-grid">

		<div class="pure-u-1-3">
			<div class="item">
				<b>Follower</b></br>
				{{user.f_count}}
			</div>
		</div>

		<div class="pure-u-1-3">
			<div class="item">
				<b>verkaufte Anteile</b></br>
				{{user.f_amount}}
			</div>
		</div>

		<div class="pure-u-1-3">
			<div class="item">
				<b>erh. Provision</b></br>
				{{user.prov_sum / 10000|currency}}
			</div>
		</div>
	</div>
</div>
