<div id="stats" class="main-content ranking" infinite-scroll="loadMore()" infinite-scroll-distance="2">
	<div id="tabs">
		<ul>
			<li><a ui-sref=".all">Reingewinn</a></li>
			<li><a ui-sref=".all-withprov">Leader</a></li>
			<li><a ui-sref=".follower">Follower</a></li>
			<li><a ui-sref=".all-week">Reingewinn (Woche)</a></li>
			<li><a ui-sref=".follower-week">Follower (Woche)</a></li>
			<li ng-show="ownUser.schoolid"><a ui-sref=".intragroup">{{ownUser.schoolname}}</a></li>
			<li><a ui-sref=".intergroup">Gruppen</a></li>
		</ul>

		<form class="pure-form" id="rankingSearch">
			<input type="text" ng-model="searchText" style="display:inline-block" placeholder="Suche" class="pure-input">
			<button type="submit" style="margin-top: 0px;" class="btn btn-primary btn-sm">Search</button>
		</form>

		<div class="clearfix"></div>

		<div ui-view></div>
	</div>
</div>
