<div id="stats" class="main-content ranking" infinite-scroll="loadMore()" infinite-scroll-distance="2">
	<div id="tabs">
		<ul>
			<li><a ui-sref=".({spec: csr({type: 'all'})})">Reingewinn</a></li>
			<li><a ui-sref=".({spec: csr({type: 'xp'})})">XP</a></li>
			<li><a ui-sref=".({spec: csr({type: 'follower'})})">Follower</a></li>
			<li ng-show="isAdmin || selfIsSchoolAdmin"><a ui-sref=".({spec: csr({type: 'administrative'})})">Mitglieder</a></li>
		</ul>
		
		<ul>
			<li><a ng-hide="spec.includeProvision" ui-sref=".({spec: csr({includeProvision: true})})">Provision miteinbeziehen</a></li>
			<li><a ng-show="spec.includeProvision" ui-sref=".({spec: csr({includeProvision: false})})">Provision nicht miteinbeziehen</a></li>
		</ul>
		<ul ng-show="spec.type == 'all' || spec.type == 'follower'">
			<li>
				<a>
					Startzeitpunkt:
					<span ng-show="spec.since">{{spec.since | date:'short'}}</span>
					<span ng-hide="spec.since">Spielbeginn</span>
				</a>
			</li>
			<li>
				<a>
					Endzeitpunkt:
					<span ng-show="spec.upto">{{spec.upto | date:'short'}}</span>
					<span ng-hide="spec.upto">Jetzt</span>
				</a>
			</li>
			<li><a ui-sref=".({spec: csr({since: 'weekstart'})})">Seit Wochenanfang</a></li>
			<li><a ui-sref=".({spec: csr({since: '1 week'})})">Seit 1 Woche</a></li>
			<li><a ui-sref=".({spec: csr({since: '1 month'})})">Seit 1 Monat</a></li>
		</div>

		<form class="pure-form" id="rankingSearch">
			<input type="search" ng-model="searchText" placeholder="Suche" class="pure-input">
		</form>

		<div class="clearfix"></div>

		<div id="all">
			<div class="table-wrapper">
				<table class="ranking table table-bordered">
					<tr>
						<th>Rang</th>
						<th>Name</th>
						<th ng-show="spec.type == 'all'">Kursänderung</th>
						<th ng-show="spec.type == 'xp'">XP</th>
						<th>Schule</th>
						<th ng-show="spec.type == 'administrative'" colspan="2">Vollname</th>
						<th ng-show="spec.type == 'follower'">Follower­performance</th>
						<th ng-show="spec.type == 'follower'">Follower­bewertung</th>
					</tr>
					<tr ng-repeat="result in results[spec.type] | filter: searchText | limitTo:totalDisplayed"
						ng-class="'rank-item rank-'+result.rank"
						ng-show="!result.isSchoolEntry || result.count > 1">
						<td>{{result.rank}}</td>
						<td class="rank-name"><a ui-sref="game.profile.overview({userId: result.name})">{{result.name}}</a></td>
						<td style="text-align: right" ng-show="spec.type == 'all'">
							{{(result.key - 1) * 100 | number:2}} %
						</td>
						<td style="text-align: right" ng-show="spec.type == 'xp'">{{result.xp | number:0}}</td>
						<td><a ui-sref="game.group({schoolid: result.schoolpath})">{{result.schoolname}}</a>
							<span ng-show="result.isSchoolEntry">({{result.count}} Spieler, Top {{result.rankCount}})</span></td>
						<td ng-show="spec.type == 'administrative'">{{result.giv_name}}</td>
						<td ng-show="spec.type == 'administrative'">{{result.fam_name}}</td>
						<td style="text-align: right" ng-show="spec.type == 'follower'">{{(result.fperf-1)*100 | number:2}} %</td>
						<td style="text-align: right" ng-show="spec.type == 'follower'">{{(result.fperfval)*100000 | number:2}}</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>
