<div id="intergroup">
	<div class="table-wrapper">
		<table class="ranking table table-bordered">
			<colgroup>
				<col class="rankcol-1" style="width: 10%">
				<col class="rankcol-2" style="width: 57%">
				<col class="rankcol-3" style="width: 18%">
				<col class="rankcol-3" style="width: 18%">
				<col class="rankcol-4" style="width: 15%">
			</colgroup>
			<tr>
				<th>Rang</th>
				<th>Name</th>
				<th>Spieler</th>
				<th>erh. Provision</th>
				<th>Gesamtvermögen</th>
			</tr>
			<tr ng-repeat="result in interGroupResults | orderBy:'rank' | filter: searchText | limitTo:totalDisplayed">
				<td>{{result.rank}}</td>
				<td><a href="#/s{{result.schoolpath}}">{{result.schoolname}}</a></td>
				<td>{{result.count}}</td>
				<td>{{result.prov_sum / 10000 | currency}}</td>
				<td>{{result.totalvalue / 10000 | currency}}</td>
			</tr>
		</table>
	</div>
</div>
