<div class="register-form">
	<form class="pure-form pure-form-aligned" ng-submit="register()">
		<fieldset>
			<div class="pure-control-group">
				<label for="name">Benutzername</label>
				<input id="name" ng-model="name" type="text" placeholder="Benutzername">
			</div>

			<div class="pure-control-group">
				<label for="password">Passwort</label>
				<input id="password" ng-model="password" type="password" placeholder="Passwort">
			</div>

			<div class="pure-control-group">
				<label for="password-repeat">Passwort wiederholen</label>
				<input id="password-repeat" ng-model="password_check" type="password" placeholder="Passwort">
			</div>

			<div class="pure-control-group">
				<label for="email">Emailadresse</label>
				<input id="email" ng-model="email" type="email" placeholder="Emailadresse">
			</div>

			<div class="pure-control-group">
				<label for="giv_name">Vorname</label>
				<input type="text" ng-model="giv_name" placeholder="Vorname" id="giv_name">
			</div>

			<div class="pure-control-group">
				<label for="fam_name">Nachname</label>
				<input type="text" ng-model="fam_name" placeholder="Nachname" id="fam_name">
			</div>

			<div class="pure-control-group" ng-show="serverConfig.betakeyRequired">
				<label for="betakey">Betakey</label>
				<input id="betakey" ng-model="betakey" type="text" placeholder="Betakey">
			</div>
			
			<div class="pure-control-group">
				<label for="schoolname">Institution / Schule (optional)</label>
				<input type="text" ng-model="schoolname" placeholder="Schule" id="schoolname">
			</div>

			<div class="pure-controls">
				<label for="cb" class="pure-checkbox">
					<input id="cb" ng-model="agbread" type="checkbox"> Ich habe die <a href="/legal.html">AGB</a> gelesen und akzeptiert.
				</label>
			</div>

		</fieldset>
		<button type="submit" class="btn btn-primary btn-sm">Registrieren</button><a ui-sref="index.login" id="gtlogin">Ich bin bereits registriert!</a>
	</form>
</div>
