<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="center-block">
	<div class="row reg-wizard col-lg-10 col-lg-offset-1">
		<div class="col-xs-4 reg-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ui-sref="register.step1" class="reg-wizard-dot"></a>
			<div class="text-center reg-wizard-stepnum" translate>Step 1</div>
		</div>
		<div class="col-xs-4 reg-wizard-step active">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ui-sref="register.step2" class="reg-wizard-dot"></a>
			<div class="text-center reg-wizard-stepnum" translate>Step 2</div>
		</div>
		<div class="col-xs-4 reg-wizard-step disabled">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ui-sref="register.step3" class="reg-wizard-dot"></a>
			<div class="text-center reg-wizard-stepnum" translate>Step 3</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center">
			<div class="row">
				<div class="form-group col-lg-6" translate>
					<input ng-model="registration.giv_name" type="text" class="form-control input-lg" placeholder="First name" autofocus>
				</div>
				<div class="form-group col-lg-6 " translate>
					<input ng-model="registration.fam_name" type="text" class="form-control input-lg" placeholder="Last name">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-3 " translate>
					<select ng-model="registration.genderIndex " class="form-control input-lg " placeholder="Gender ">
						<option ng-repeat="gender in registration.genders.genders " ng-value="{{$index}} ">
							{{registration.genders.translations[registration.lang][gender] || gender}}
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2 " translate>
					<input ng-model="registration.birthdayd" type="text " class="form-control input-lg " placeholder="Day" class="well well-sm " datepicker-popup ng-focus="console.info( 'test') ">
				</div>
				<div class="form-group col-lg-2 " translate>
					<input ng-model="registration.birthdaym" type="text " class="form-control input-lg " placeholder="Month" class="well well-sm " datepicker-popup ng-focus="console.info( 'test') ">
				</div>
				<div class="form-group col-lg-2 " translate>
					<input ng-model="registration.birthdayy" type="text " class="form-control input-lg " placeholder="Year" class="well well-sm " datepicker-popup ng-focus="console.info( 'test') ">
				</div>
			</div>
			<div class="form-group ">
				<tradity-group-chooser school-id-model="school" school-class-model="schoolclass" />
			</div>
			<div class="form-group" ng-show="serverConfig.betakeyRequired" translate>
				<input ng-model="betakey" id="betakey" type="text" class="form-control" placeholder="Beta key">
			</div>
			<div class="form-group " translate>
				<input class="btn btn-lg btn-block btn-primary " type="button " value="Off to the final step! " ng-click="registration.register()">
			</div>

		</div>
	</div>
</div>
