<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="center-block">
	<div class="row reg-wizard col-lg-10 col-lg-offset-1">
		<div class="col-xs-4 reg-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="reg-wizard-dot"></a>
			<div class="text-center reg-wizard-stepnum">STEP 1</div>
		</div>
		<div class="col-xs-4 reg-wizard-step complete">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="reg-wizard-dot" ng-disabled></a>
			<div class="text-center reg-wizard-stepnum ">STEP 2</div>
		</div>
		<div class="col-xs-4 reg-wizard-step active">
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a ui-sref="register.step3" class="reg-wizard-dot"></a>
			<div class="text-center reg-wizard-stepnum ">STEP 3</div>
		</div>
	</div>
	<div class="row"></div>
	<div class="row text-center">
		<h1 translate>Wie gut ist deine finanzielle Bildung?</h1>
		<p translate>Beantworte vier Fragen jetzt vor und nach dem Wettbewerb, um zu sehen, wie du dich über die Zeit entwickelst.</p>
		<p translate>
			Kreuze immer nur eine Antwortmöglichkeit an, es ist nämlich auch immer nur eine zutrefend ;)</p>
		<p translate>
			Viel Spasß! Danach kannst du im Wettbewerb loslegen!</p>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center"> ￼
			<accordion close-others="false">
				<accordion-group ng-repeat="s in registration.surveys" heading="{{ s.group }}" is-open="true">
					<div class="row">
						<div class="form-group" translate>
							{{ s.title }}
						</div>
					</div>
					<div class="row">
						<div ng-repeat="i in s.items" class="form-group col-lg-6 text-left" translate>
							<input type="checkbox"> {{ i }}
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center">
			<div class="form-group " translate>
				<input class="btn btn-lg btn-block btn-primary" type="button" value="Let's go">
			</div>
		</div>
	</div>
</div>
