<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="center-block">
	<!-- ok, I see that this is not the way ng-repeat is meant to be used, but…
	     anyone a better idea? -->
	<div class="row" ng-repeat="qn in [registration.questionnaire[registration.lang]]">
		<div class="text-center" ng-bind-html="qn.qtext">
		</div>
		<div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<accordion close-others="false">
					<accordion-group ng-repeat="question in qn.questions" heading="# {{$index + 1}}" is-open="true">
						<div class="row">
							<div class="form-group" ng-bind-html="question.qtext"></div>
						</div>
						<div class="row">
							<div ng-repeat="answer in question.answers" class="form-group col-lg-6 text-left" translate>
								<label><input type="radio"> <span ng-bind-html="answer.atext"></span></label>
							</div>
						</div>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center">
			<div class="form-group " translate>
				<input class="btn btn-lg btn-block btn-primary" type="button" value="Let's go" ui-sref="register.step1">
			</div>
			<div class="form-group" translate>
				<span>By creating an account you agree to our <a href="#">terms &amp; conditions</a></span>
			</div>
		</div>
	</div>
</div>
