<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="search" class="main-content">
	<div ng-show="users">
		<h2 translate>Users</h2>
		<div class="table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col class="rankcol-1" style="width: 10%">
					<col class="rankcol-2" style="width: 40%">
					<col class="rankcol-3" style="width: 18%">
					<col class="rankcol-4" style="width: 5%">
				</colgroup>
				<tr>
					<th translate>Name</th>
					<th translate>Received commissions</th>
					<th translate>Total assets</th>
				</tr>
				<tr ng-repeat="result in users" class="name-{{result.name}}">
					<td class="rank-name">
						<a ui-sref="game.profile.overview({userId: result.name})" style="cursor: pointer">{{result.name}}</a>
					</td>
					<td>{{result.prov_sum / 10000 | currency}}</td>
					<td>{{result.totalvalue / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-show="groups">
		<h2 translate>Groups</h2>
		<div class="table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col class="rankcol-1" style="width: 90%">
					<col class="rankcol-1" style="width: 10%">
				</colgroup>
				<tr>
					<th translate>Name</th>
					<th translate>Members</th>
				</tr>
				<tr ng-repeat="result in groups">
					<td><a ui-sref="game.group({schoolid: result.path})">{{result.name}}</a></td>
					<td class="text-center">{{result.usercount}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-show="stocks" class="stocks">
		<h2 translate>Stocks</h2>
		<div class="table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col class="rankcol-1" style="width: 35%">
					<col class="rankcol-1" style="width: 20%">
					<col class="rankcol-1" style="width: 20%">
					<col class="rankcol-1" style="width: 25%">
				</colgroup>
				<tr>
					<th translate>Name</th>
					<th class="text-center" translate>Bid price</th>
					<th class="text-center" translate>Sell price</th>
					<th class="text-center" translate>Tradable amount</th>
				</tr>
				<tr ng-repeat="result in stocks">
					<td ng-show="result.name"><a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: result.stockid, amount: 0})">{{result.name}}</a></td>
					<td ng-show="result.leadername"><a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: result.stockid, amount: 0})">{{result.leadername}}</a></td>
					<td class="text-center">{{result.ask / 10000 | number:3}} €</td>
					<td class="text-center">{{result.bid / 10000 | number:3}} €</td>
					<td class="text-center">{{result.pieces}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
