
<header id="header">
    <div class="inner">   
        <ul class="icon-bar pull-right">
            <li class="mobile-only">
                <div>
                    <a href="" class="dropdown-toggle icon" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a ng-href="#/user/{{ownUser.name}}"><b>{{ownUser.giv_name}} <span class="nick">„{{ownUser.name}}“</span> {{ownUser.fam_name}}</b></a></li>
                        <li><a ng-href="#/user/{{ownUser.name}}">Mein Profil</a></li>
                        <li><a href="#/options">Einstellungen</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()" href="">Abmelden</a></li>
                    </ul>
                </div>
            </li>
            <li ng-show="isAdmin"><a ui-sref="admin.userlist" class="icon" title="admin"><i class="fa fa-shield"></i></a></li>
            <li>
                <a ng-click="logout()" href="" class="icon"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
                <a ng-href="#/user/{{ownUser.name}}" ng-show="ownUser.profilepic"><img id="profile-picture" height="50px" ng-src="{{ownUser.profilepic}}" alt="">
                <a ng-href="#/user/{{ownUser.name}}" ng-hide="ownUser.profilepic"><img id="profile-picture" height="50px" src="img/profile.svg" alt=""></a>
            </li>
        </ul>     
        <ul class="icon-bar">
            <li class="desktop-only">
                <a ng-href="#/feed">
                    <img src="img/symbol.png">
                </a>
            </li>
            <li>
                <a class="icon" ng-href="#/feed">Zurück zum Spiel</a>
            </li>
            <li class="desktop-only text">
                <div>
                    <h2 class="title">Konto</h2>
                    <span class="depot-wert">{{ownUser.freemoney / 10000 | currency}}</span>
                </div>
            </li>
            <li class="desktop-only text">
                <div>
                    <h2 class="title">Gesamtvermögen</h2>
                    <span class="depot-wert">{{ownUser.totalvalue / 10000 | currency}}</span>
                </div>
            </li>
            <li class="desktop-only text">
                <div>
                    <h2>Rang</h2>
                    <span class="placement-number">{{ownUser.rank}}</span>
                </div>
            </li>
        </ul>         
    </div>
</header>
<div id="credits">
    <h1>Sponsoren</h1>
    <div class="giant-holder">
        <div class="pure-g-r firm-holder">
            <div class="pure-u-1-2">
                <img class="firm-logo" src="http://placekitten.com/g/200/200">
                <div class="content">
                    <h2>Bank 1</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <img class="firm-logo" src="http://placekitten.com/200/200">
                <div class="content">
                    <h2>Bank 1</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
        </div>
        <div class="pure-g-r firm-holder">
            <div class="pure-u-1-2">
                <img class="firm-logo" src="http://placekitten.com/200/200">
                <div class="content">
                    <h2>Bank 1</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <img class="firm-logo" src="http://placekitten.com/g/200/200">
                <div class="content">
                    <h2>Bank 1</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
        </div>
    </div>

    <h1>Leute die Mitgemact haben</h1>
    <div class="holder real-credits">
        <h2>Beim was auch immer</h2>
        <ul class="credits">
            <li>Gott</li>
            <li>Tadäus</li>
            <li>Thore</li>
            <li>Der Wihnachtsmann</li>
            <li>eggii</li>
            <li>Spongebob</li>
            <li>Jason Carter</li>
            <li>Angela Merkel</li>
            <li>Willi</li>
            <li>Prinz Gübel</li>
            <li>ein Holsteiner</li>
            <li>saufen</li>
            <li>dübeln</li>
            <li>Max Mustermann</li>
            <li>Gott</li>
            <li>Tadäus</li>
            <li>Thore</li>
            <li>Der Wihnachtsmann</li>
            <li>eggii</li>
            <li>Spongebob</li>
            <li>Jason Carter</li>
            <li>Angela Merkel</li>
            <li>Willi</li>
            <li>Prinz Gübel</li>
            <li>ein Holsteiner</li>
            <li>saufen</li>
            <li>dübeln</li>
            <li>Max Mustermann</li>
        </ul>
        <h2>Beim geschenke auspacken</h2>
        <ul class="credits">
            <li>Gott</li>
            <li>Tadäus</li>
            <li>Thore</li>
            <li>Der Wihnachtsmann</li>
            <li>eggii</li>
            <li>Spongebob</li>
            <li>Jason Carter</li>
            <li>Angela Merkel</li>
            <li>Willi</li>
            <li>Prinz Gübel</li>
            <li>ein Holsteiner</li>
            <li>saufen</li>
            <li>dübeln</li>
            <li>Max Mustermann</li>
            <li>Gott</li>
            <li>Tadäus</li>
            <li>Thore</li>
            <li>Der Wihnachtsmann</li>
            <li>eggii</li>
            <li>Spongebob</li>
            <li>Jason Carter</li>
            <li>Angela Merkel</li>
            <li>Willi</li>
            <li>Prinz Gübel</li>
            <li>ein Holsteiner</li>
            <li>saufen</li>
            <li>dübeln</li>
            <li>Max Mustermann</li>
        </ul>
    </div>
</div>
