<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div>
  <div ng-show="comments.length > 0">
    <blockquote class="wikifolioComments">
      <div ng-repeat="comment in comments">
        <a ng-href="https://{{comment.Wikifolio.Url}}?utm_source=tradity.de&utm_medium=landingpage&utm_content=wf-comment&utm_campaign={{embedder}}" target="_blank">
          <span style="white-space-collapse: discard">
            <!-- The reason for the weird comments here is basically
                 that I have no idea how to remove the white space
                 before the final „:“ with cool CSS tricks
                 /addaleax
                 -->
            <translate>Comment by<span class="wikifolio-tradername">„{{comment.TraderName}}“</span></translate><!--
            --><span class="wikifolio-short-desc" ng-show="comment.Wikifolio.ShortDescription"><!--
            -->  (Wikifolio „{{comment.Wikifolio.ShortDescription}}“)<!--
            --></span>:
          </span>
          <span class="wikifolio-message">{{comment.Message}}</span>
        </a>
        <hr/>
      </div>
      <footer translate>
        by <a target="_blank" href="https://www.wikifolio.com/de/de/home?utm_source=tradity.de&utm_medium=landingpage&utm_content=wf-logo&utm_campaign={{embedder}}"><img src="img/wikifoliologo.png" alt="Wikifolio" /></a>
      </footer>
    </blockquote>
  </div>
  <div ng-show="comments.length == 0">
    <blockquote class="wikifolioComments">
      <span translate>Sorry, no comments on this stock so far.</span>
      <br />
      <footer translate>
        by <a target="_blank" href="https://www.wikifolio.com"><img src="img/wikifoliologo.png" alt="Wikifolio" /></a>
      </footer>
    </blockquote>
  </div>

  <div ng-hide="comments" class="loading text-center">
    <i class="fa fa-cog fa-spin fa-3x"></i>
  </div>
</div>
