<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id="trade-details" class="main-content">
	<div class="options-field">
		<h2 translate>Trade details</h2>
		<div class="table-wrapper">
			<table class="transaction-history table table-bordered">
				<colgroup>
					<col class="column-0">
					<col class="column-1">
					<col class="column-2">
					<col class="column-3">
					<col class="column-4-5">
					<col class="column-6-7">
				</colgroup>
				<tr>
					<th translate>Name</th>
					<th translate>Date</th>
					<th translate>Trade total</th>
					<th translate># shares</th>
					<th translate>Price</th>
					<th translate>Transaction fees</th>
				</tr>
				<tr>
					<td title="{{trade.stocktextid}}"><a ui-sref="game.tradesellbuy({sellbuy: 'buy', stockId: trade.stocktextid, amount: 0})">{{trade.stockname}}</a></td>
					<td>{{trade.buytime * 1000 | date:'short'}}</td>
					<td ng-class="{pos: balance > 0, neg: balance < 0}">
						{{ balance = (trade.money * -1) / 10000 | currency}}
					</td>
					<td>{{trade.amount}}</td>
					<td>{{trade.price / 10000 | number:3}} €</td>
					<td>{{trade.fee / 10000 | currency}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-controller="CommentCtrl">
		<form ng-submit="sendComment()" class="pure-form pure-form-stacked main-comment comment-form">
			<translate><textarea ng-model="comment" ui-keypress="{13:'sendComment()'}" class="options-input comment-textarea pure-input-1" placeholder="Comment on this trade"></textarea></translate>
			<div ng-show="isAdmin">
				<label for="ishtml">HTML</label><input type="checkbox" ng-model="ishtml" id="ishtml">
			</div>
			<translate><input type="submit" class="click-button comment-button btn btn-default pull-right" value="Send comment"></translate>
		</form>
		
		<div ng-repeat="comment in comments | orderBy:'-time'" class="feed-item feed comment">
			<div class="feed-entry-symbol" style="background-image:url({{comment.profilepic}})" ng-class="{'no-image': !comment.profilepic }"></div>
			<span class="feed-arrow"></span>
			<div class="feed-entry-content">
				<div class="feed-head">
					<span class="feed-time pull-right" title="{{comment.time * 1000 | date:'short'}}">{{vtime(comment.time)}}</span>
					<a ui-sref="game.profile.overview({userId: comment.username})" class="text-link username">{{comment.username}}</a>
					<span ng-show="isAdmin" class="actions">
						<a ng-click="editComment(comment)" style="cursor: pointer" translate>Edit</a>
						<a ng-click="deleteComment(comment)" style="cursor: pointer" translate>Delete</a>
					</span>
				</div>
				<span ng-show="comment.trustedhtml && !comment.isDeleted" ng-bind-html="comment.comment">{{comment.comment}}</span>
				<span ng-hide="comment.trustedhtml || comment.isDeleted">{{comment.comment}}</span>
				<span ng-show="comment.isDeleted"><em translate>This comment has been removed.</em></span>
			</div>
		</div>
	</div>
</div>
