<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div ng-controller="WalkthroughCtrl" ng-show="show">
	<div id="walkthrough">
		<div class="content">
			<h2>{{name}}</h2>
			<p>{{description}}</p>
		</div>
		<a ng-show="okayButton" ng-click="okay()" class="btn btn-default pull-right">Weiter</a>
		<a ng-click="success();show = false" class="btn pull-right">Lass mich in Ruhe</a>
	</div>

	<div class="WalkProgress">
		<progressbar value='(step / steps.length) * 100'></progressbar>
	</div>
</div>
